
@import "../../../variables";


.tariff-calculator.tariff-calculator-electricity {
	.tariff-calculator-icons {
		white-space: nowrap;

		.icon-male {
			margin-right: 20px; // I don't know if those 20px were intended or not but we should not use the variable here.
			font-size: 31px;

			@media @media-to-m {
				margin-right: 7.5px;
			}

			&:last-child {
				margin-right: 0;
			}
		}
	}

	.headline {
		background-color: @color-highlight-blue;
		margin: 0;
	}

	form {
		border: 5px solid @color-highlight-blue;
	}
}
