
@import "../../../variables";


.tariff-calculator-demo-container {
	padding: @spacing-default;
	background-color: @color-corporate-blue-dark;

	.tariff-calculator {
		display: inline-block;
		margin-bottom: @spacing-default;
	}
}

.tariff-calculator {

	.headline {
		color: @white;
		font-size: @font-size-os-ml;
		font-weight: 700;
		line-height: 1.2;
		padding: @spacing-small;
	}

	form {
		padding: @spacing-large @spacing-large @spacing-default @spacing-large;

		& > .row {
			margin-bottom: @spacing-default;

			&:last-of-type {
				margin-bottom: 0;
			}
		}
	}

	.tariff-calculator-selection {
		margin-top: @spacing-small;

		@media @media-to-xl {
			margin-top: @spacing-larger;
		}

		@media @media-to-m {
			margin-top: 0;
		}
	}

	.tariff-calculator-icons {
		height: 57px; // Important to have all calculators at the same height.

		.tariff-indicator {
			color: @color-icon-inactive;

			&.tariff-indicator-active {
				color: @color-icon-active;
			}
		}
	}

	label span, label {
		color: @color-text-primary;
		font-weight: 700;
		font-size: @font-size-os-m;
		line-height: 60px;

		@media @media-to-m {
			font-size: @base-font-size-os;
		}
	}

	.tariff-calculator-label {
		margin-bottom: @spacing-tiny;
	}

	.tariff-label-slider {
		line-height: 90px;
	}

	input.tariff-calculator-input {
		font-weight: 400;
		width: 125px;
	}

	input.tariff-calculator-zip {
		width: 100%;
	}

	input.btn.btn-primary {
		margin: 0 auto;
		display: block;
		margin-top: 2px;
		float: right;

		@media @media-to-m {
			margin-top: 0;
			margin-bottom: @spacing-small;
		}
	}

	@media @media-to-xl {
		input.tariff-calculator-input {
			width: 50%;
		}

		input.tariff-calculator-zip {
			width: 100%;
		}

		input.btn.btn-primary {
			margin: @spacing-default auto 0;
			float: none;
		}
	}

	@media @media-between-s-and-m {

		.headline {
			font-size: @font-size-os-s;
		}

		form {
			padding: @spacing-small;

			& > .row {
				margin-bottom: @spacing-tiny;
			}
		}

		label span {
			line-height: 40px;
		}

	    .col-lg-6 {
		    width: 100%;
	    }

		.tariff-label-slider {
			line-height: 1;
		}

		input.tariff-calculator-input {
			&.tariff-calculator-electricity-input, &.tariff-calculator-natural-gas-input {
				margin-left: 10px;
				width: calc(~'100% - 20px');
			}
		}
	}
}

.tariff-calculator-slider {
	padding: 11px 0;
	margin-bottom: @spacing-small;

	.noUi-target {
		height: 6px;
		padding-left: 12px;
		padding-right: 8px;

		background-color: @color-corporate-gray-combined-with-light;

		border: none;
		border-radius: 3px;

		box-shadow: none;

		.noUi-handle {
			top: -11px;

			width: 28px;
			height: 28px;

			background-color: @color-corporate-blue-dark;

			border: 4px solid @color-corporate-white;
			border-radius: 50%;

			box-shadow: none;

			cursor: pointer;

			&:before,
			&:after {
				display: none;
			}
		}
	}
}


.tariff-calculator-icons {
	text-align: right; // The bigger icon just creates the perfect height and offset, thus we let the smaller one float.

	.icon-home {
		color: @color-corporate-blue-dark;
		float: left;
		margin-top: 25px;
		font-size: 19px;
	}

	.icon-tarifrechner-strom-person {
		color: @color-corporate-blue-dark;
		float: left;
		margin-top: 15px;
		font-size: 19px;
	}

	.icon-home2 {
		color: @color-corporate-blue-dark;
		font-size: 49px;
	}

	.icon-tarifrechner-strom-personen {
		color: @color-corporate-blue-dark;
		font-size: 35px;
	}
}
