
@import "../../../variables";


.tariff-calculator.tariff-calculator-natural-gas {

	.headline {
		background-color: @color-highlight-green;
		margin: 0;
	}

	form {
		border: 5px solid @color-highlight-green;
	}
}
