﻿@using Sitecore.Mvc.Presentation
@using Sitecore.Resources.Media
@*@model Gasag.Web.Models.TariffCalculator.Calculator*@
@model Sitecore.Mvc.Presentation.RenderingModel

@try
{
    if (Model.Item != null)
    {
        <div class="module-stage big-stage-slider" app-view="ModuleBigStageSliderView">            
            @foreach (Item stage in Model.Item.Children)
            {
                <div class="container">
                    <div class="row">
                        <div class="col-lg-6">
                            @using (Html.EditFrame(stage, "BigStage Slider"))
                            {
                                <div class="text">
                                    <div class="headline">
                                        <h2 class="@ScValue.GetString(stage, "Color").ToLower()">@Gizmo.Web.HtmlUtil.NewlineToBreak(ScValue.GetString(stage, "Text"))</h2>
                                    </div>
                                    <p class="text-box">
                                        @Gizmo.Web.HtmlUtil.NewlineToBreak(ScValue.GetString(stage, "Sub Text"))<br />
                                        <a href="@ScLink.GetUrl(stage, "Link")" class="btn btn-link btn-white">@Html.Sitecore().Field("Link Description", stage)</a>
                                    </p>
                                </div>
                            }
                        </div>
                    </div>

                    <div class="background-image">
                        @{
                            var defaultWidth = 640;
                            var widths = new List<int>() { 640, 1024, 1440, 1680, 2048 };
                            string mediaQuery = "(max-width: 1680px) 100vw, 1920px";
                        }
                        @Image.ContextRender(Html, stage, "Background Image", defaultWidth, widths, mediaQuery)
                    </div>
                </div>
              }
        </div>
    }
    else if (Sitecore.Context.PageMode.IsExperienceEditor)
    {
        @PageEditor.Error("PageEditor.Error.MissingDataItem", new { Module = RenderingContext.CurrentOrNull.Rendering.RenderingItem.Name })
    }
}
catch (Exception ex)
{
    @PageEditor.Exception(RenderingContext.CurrentOrNull.Rendering.RenderingItem.Name, ex)
}
