﻿@model Sitecore.Mvc.Presentation.RenderingModel

@try
{
    if (Model.Item != null)
    {
        <div class="module-blog-stage">
            <h2>@Html.Sitecore().Field("Headline", Model.Item)</h2>
            <p class="subheadline">@Html.Sitecore().Field("Subheadline", Model.Item)</p>

            <div class="border-bright"></div>
        </div>     
    }
    else if (Sitecore.Context.PageMode.IsExperienceEditor)
    {
        @PageEditor.Error("PageEditor.Error.MissingDataItem", new { Module = Model.Rendering.RenderingItem.Name })
    }
}
catch (Exception ex)
{
    @PageEditor.Exception(Model.Rendering.RenderingItem.Name, ex)
}