﻿@model Sitecore.Mvc.Presentation.RenderingModel

@helper RenderList(Item item)
{
    if (item.HasChildren)
    {
        using(Html.EditFrame(item, "List"))
        {
            <ul>
                @foreach (Item child in item.Children)
                {   
                    <li>
                        @using (Html.EditFrame(child, "List Item"))
                        {
                            @Html.Sitecore().Field("Value", child)
                        }
                    </li>
                }
            </ul>
        }
    }
    else if (Sitecore.Context.PageMode.IsExperienceEditor)
    {
        @PageEditor.Error("PageEditor.Error.MissingChildren", new { Module = Model.Rendering.RenderingItem.Name })
    }
}

@try
{
    if (Model.Item != null)
    {
        var disturberTypeItem = ScValue.GetItem(Model.Item, "Disturber Type");
        string disturberType = disturberTypeItem != null ? ScValue.GetString(disturberTypeItem, "Value") : string.Empty;

        var currencyItem = ScValue.GetItem(Model.Item, "Currency");
        string currency = currencyItem != null ? ScValue.GetString(currencyItem, "Value") : string.Empty;
        ImageField image = Model.Item.Fields["Image"];

        <div class="module-stage">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6">
                        <h2 class="h1">@Html.Sitecore().Field("Headline")</h2>
                        <p>@Html.Sitecore().Field("Description")</p>
                        <div class="info">
                            @RenderList(Model.Item)
                            <div class="disturber disturber-@disturberType big">
                                <div class="text">
                                    @Html.Sitecore().Field("Disturber Top Line")
                                    <div class="disturber-price">@Html.Sitecore().Field("Price") @Html.Raw(currency)</div>
                                    @Html.Sitecore().Field("Disturber Bottom Line")
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        @if (image != null && image.MediaItem != null)
                        {
                            <div class="image-cropper" style="background-image: url(@Sitecore.Resources.Media.MediaManager.GetMediaUrl(image.MediaItem));"></div>
                        }
                    </div>
                </div>
            </div>
        </div>
    }
    else if (Sitecore.Context.PageMode.IsExperienceEditor)
    {
        @PageEditor.Error("PageEditor.Error.MissingDataItem", new { Module = Model.Rendering.RenderingItem.Name })
    }
}
catch (Exception ex)
{
    @PageEditor.Exception(Model.Rendering.RenderingItem.Name, ex)
}
