﻿@model Sitecore.Mvc.Presentation.RenderingModel

@try
{
    if (Model.Item != null)
    {
        var isContentPage = Sitecore.Context.Item.TemplateID == ScReference.Instance().GetItem("Generic Content Page Template").ID;

        var cls = string.Concat(
            "module-stage-small",
            isContentPage ? " stage-small-with-sidebar" : ""
        );

        var color = "";
        var colorItem = ScValue.GetItem(Model.Item, "Color");
        if (colorItem != null)
        {
            color = ScValue.GetString(colorItem, "Value");
        }

        var image = ScValue.GetImage(Model.Item, "Image");

        var defaultWidth = 768;
        var widths = new List<int>() { 2150, 1075, 1024, 768 };
        string mediaQuery = "(max-width: 768px) 100vw, (max - width: 1024px) 100vw, 1075px";
        if (!isContentPage)
        {
            defaultWidth = 1017;
            widths = new List<int>() { 2840, 1420, 1352, 1017 };
            mediaQuery = "(max-width: 768px) 100vw, (max - width: 1024px) 100vw, 1420px";
        }

        <div class="@cls">
            <div class="stage-small-container">
                <div class="text">
                    <h2 class="@color">
                        @Html.Sitecore().Field("Headline")
                    </h2>
                </div>

                <div class="background-image">
                    @if (image != null)
                    {
                        @Image.ContextRender(Html, Model.Item, "Image", defaultWidth, widths, mediaQuery)
                    }
                </div>
            </div>
        </div>
    }
    else if (Sitecore.Context.PageMode.IsExperienceEditor)
    {
        @PageEditor.Error("PageEditor.Error.MissingDataItem", new { Module = Model.Rendering.RenderingItem.Name })
    }
}
catch (Exception ex)
{
    @PageEditor.Exception(Model.Rendering.RenderingItem.Name, ex)
}