﻿@using Sitecore.Data
@model Sitecore.Mvc.Presentation.RenderingModel

@helper RenderRow(Item row, string cellTag, int maxSpan, string parentExperiencesButtons, string rowCssClass = null)
{
    @(new HtmlString("<tr" + (string.IsNullOrWhiteSpace(rowCssClass) ? string.Empty : " class=\"" + rowCssClass + "\"") + ">"))
    if (row.Children.Any())
    {
        foreach (Item cell in row.Children)
        {
            string startTag = string.Concat(
                "<", 
                cellTag,
                (cellTag == "th" && row.Children.Count() == 1 ? " colspan=\"" + maxSpan + "\"" : ""),
                ">"
            );

            @(new HtmlString(startTag))
            using (Html.EditFrame(row.Parent, parentExperiencesButtons))
            {
                using (Html.EditFrame(row, "Table Row"))
                {
                    using (Html.EditFrame(cell, "Table Cell"))
                    {
                        @Html.Sitecore().Field("Text", cell)
                    }
                }
            }
            @(new HtmlString("</" + cellTag + ">"))
        }
    }
    else if (Sitecore.Context.PageMode.IsExperienceEditor)
    {
        <th colspan="@maxSpan">
            @using (Html.EditFrame(row.Parent, parentExperiencesButtons))
            {
                using (Html.EditFrame(row, "Table Row"))
                {
                    @PageEditor.Warning("Table.NoCells", new { Row = row.Name }, false)
                }
            }
        </th>
    }
    @(new HtmlString("</tr>"))
}

@helper RenderHead(Item head, IEnumerable<Item> headRows, ID rowTemplateId, ID headlineRowTemplateId, int maxSpan, string experienceButtons)
{
    if (head != null && (headRows.Any() || Sitecore.Context.PageMode.IsExperienceEditor))
    {
        <thead>
            @if (headRows.Any())
            {
                foreach (Item row in headRows)
                {
                    if (row.TemplateID == rowTemplateId)
                    {
                        @RenderRow(row, "th", maxSpan, experienceButtons)
                    }
                    if (row.TemplateID == headlineRowTemplateId)
                    {
                        <tr>
                            <td colspan="@maxSpan">
                                @using (Html.EditFrame(head, experienceButtons))
                                {
                                    using (Html.EditFrame(row, "Table Headline Row"))
                                    {
                                        <span class="text-primary">@Html.Sitecore().Field("Text", row)</span>
                                    }
                                }
                            </td>
                        </tr>
                    }
                }
            }
            else if (Sitecore.Context.PageMode.IsExperienceEditor)
            {
                <tr>
                    <td colspan="@maxSpan">
                        @using (Html.EditFrame(head, experienceButtons))
                        {
                            @PageEditor.Warning("Table.NoHeadRows", new { Head = head.Name })
                        }
                    </td>
                </tr>
            }
        </thead>
    }
    else if (Sitecore.Context.PageMode.IsExperienceEditor)
    {
        <thead>
            <tr>
                <td colspan="@maxSpan">
                    @PageEditor.Warning("Table.NoHead", new { Table = Model.Item.Name })
                </td>
            </tr>
        </thead>
    }
}

@helper RenderBody(Item body, IEnumerable<Item> rows, int maxSpan, string experienceButtons, bool isLastRowInHeaderHeadline)
{
    if (body != null && (rows.Any() || Sitecore.Context.PageMode.IsExperienceEditor))
    {
        <tbody>
            @if (rows.Any())
            {
                bool addRowClass = isLastRowInHeaderHeadline;
                foreach (Item row in rows)
                {
                    @RenderRow(row, "td", maxSpan, experienceButtons, addRowClass ? "gray" : null)
                    addRowClass = !addRowClass;
                }
            }
            else if (Sitecore.Context.PageMode.IsExperienceEditor)
            {
                <tr>
                    <td colspan="@maxSpan">
                        @using (Html.EditFrame(body, "Table Body"))
                        {
                            @PageEditor.Warning("Table.NoRows", new { Body = body.Name })
                        }
                    </td>
                </tr>
            }
        </tbody>
    }
    else if (Sitecore.Context.PageMode.IsExperienceEditor)
    {
        <tbody>
            <tr>
                <td colspan="@maxSpan">
                    @PageEditor.Warning("Table.NoBody", new { Table = Model.Item.Name })
                </td>
            </tr>
        </tbody>
    }
}

@try
{
    if (Model.Item != null)
    {
        var headTemplateId = ScReference.Instance().GetItem("Table Head").ID;
        var bodyTemplateId = ScReference.Instance().GetItem("Table Body").ID;
        var headlineRowTemplateId = ScReference.Instance().GetItem("Table Headline Row").ID;
        var rowTemplateId = ScReference.Instance().GetItem("Table Row").ID;
        var cellTemplateId = new TemplateID(ScReference.Instance().GetItem("Table Cell").ID);

        var head = Model.Item.Children.FirstOrDefault(x => x.TemplateID == headTemplateId);
        var headRows = head == null ? Enumerable.Empty<Item>() : head.Children.Where(x => x.TemplateID == headlineRowTemplateId || x.TemplateID == rowTemplateId);
        var body = Model.Item.Children.FirstOrDefault(x => x.TemplateID == bodyTemplateId);
        var rows = body == null ? Enumerable.Empty<Item>() : body.Children.Where(x => x.TemplateID == rowTemplateId);

        // Auto generate table.
        if ((head == null || !headRows.Any()) && (body == null || !rows.Any()))
        {
            var addHeadRow = ScValue.GetBool(Model.Item, "Generate Head Row");
            var addHeadlineRow = ScValue.GetBool(Model.Item, "Generate Headline Row");
            var numRows = ScValue.GetInteger(Model.Item, "Generate Number Rows");
            var numColumns = ScValue.GetInteger(Model.Item, "Generate Number Columns");

            TemplateID templateId = new TemplateID();

            // Head
            if (addHeadRow || addHeadlineRow)
            {
                if (head == null)
                {
                    templateId = new TemplateID(headTemplateId);
                    head = Model.Item.Add("Head", templateId);
                }
                if (addHeadRow)
                {
                    templateId = new TemplateID(rowTemplateId);
                    var headRowItem = head.Add("Head Row", templateId);
                    headRowItem.Add("Head Row Cell", cellTemplateId);
                }
                if (addHeadlineRow)
                {
                    templateId = new TemplateID(headlineRowTemplateId);
                    head.Add("Headline Row", templateId);
                }
            }

            if (numRows > 0 && numColumns > 0)
            {
                if (body == null)
                {
                    templateId = new TemplateID(bodyTemplateId);
                    body = Model.Item.Add("Body", templateId);
                }
                // Rows
                templateId = new TemplateID(rowTemplateId);
                for (int numRow = 1; numRow <= numRows; ++numRow)
                {
                    var rowItem = body.Add(string.Concat("Row ", numRow), templateId);
                    for (int numCol = 1; numCol <= numColumns; ++numCol)
                    {
                        rowItem.Add(string.Concat("Cell ", numCol), cellTemplateId);
                    }
                }
            }

            // Refresh
            head = Model.Item.Children.FirstOrDefault(x => x.TemplateID == headTemplateId);
            headRows = head == null ? Enumerable.Empty<Item>() : head.Children.Where(x => x.TemplateID == headlineRowTemplateId || x.TemplateID == rowTemplateId);
            body = Model.Item.Children.FirstOrDefault(x => x.TemplateID == bodyTemplateId);
            rows = body == null ? Enumerable.Empty<Item>() : body.Children.Where(x => x.TemplateID == rowTemplateId);
        }

        // Find maximal span width for headlines.
        int maxSpan = 1;
        if (rows.Any())
        {
            foreach (var row in rows)
            {
                maxSpan = Math.Max(maxSpan, row.Children.Count());
            }
        }
        var headRowsWithCells = head.Children.Where(x=> x.TemplateID == rowTemplateId);
        if (headRowsWithCells.Any())
        {
            foreach (var row in headRowsWithCells)
            {
                maxSpan = Math.Max(maxSpan, row.Children.Count());
            }
        }
        var lastHeadRow = headRows.LastOrDefault();
        if (Sitecore.Context.PageMode.IsExperienceEditor || head != null || body != null)
        {
            <div class="row row-section module-table">
                <div class="col-lg-12">
                    <table class="table">
                        @RenderHead(head, headRows, rowTemplateId, headlineRowTemplateId, maxSpan, "Table Head")
                        @RenderBody(body, rows, maxSpan, "Table Body", lastHeadRow != null && lastHeadRow.TemplateID == headlineRowTemplateId)
                    </table>
                </div>
            </div>
        }
        else if (Sitecore.Context.PageMode.IsExperienceEditor)
        {
            @PageEditor.Error("PageEditor.Error.MissingDataItem", new { Module = Model.Rendering.RenderingItem.Name })
        }
    }
    else if (Sitecore.Context.PageMode.IsExperienceEditor)
    {
        @PageEditor.Error("PageEditor.Error.MissingDataItem", new { Module = Model.Rendering.RenderingItem.Name })
    }
}
catch (Exception ex)
{
    @PageEditor.Exception(Model.Rendering.RenderingItem.Name, ex)
}