﻿@model Sitecore.Mvc.Presentation.RenderingModel
@try
{
    if (Model.Item != null)
    {
        <div class="row row-section module-content-image">
            <div class="col-lg-12">
                <figure class="labeled-image">
                    @Html.Sitecore().Field("Image", Model.Item)
                    @if (Sitecore.Context.PageMode.IsExperienceEditor || !string.IsNullOrWhiteSpace(ScValue.GetString(Model.Item, "Caption")))
                    {
                        <figcaption>@ScValue.GetHtml(Model.Item, "Caption")</figcaption>
                    }
                </figure>
            </div>
        </div>
    }
    else if (Sitecore.Context.PageMode.IsExperienceEditor)
    {
        @PageEditor.Error("PageEditor.Error.MissingDataItem", new { Module = Model.Rendering.RenderingItem.Name })
    }
}
catch (Exception ex)
{
    @PageEditor.Exception(Model.Rendering.RenderingItem.Name, ex)
}
