﻿@using Gizmo.Web.Images.SourceSets

@model Sitecore.Mvc.Presentation.RenderingModel

@helper GenerateInformationPart()
{
    <div class="col-lg-8">
        @if (Sitecore.Context.PageMode.IsExperienceEditor || !string.IsNullOrWhiteSpace(Model.Item["Headline"]))
        {
            <h3>@Html.Sitecore().Field("Headline")</h3>
        }
        @if (Sitecore.Context.PageMode.IsExperienceEditor || !string.IsNullOrWhiteSpace(ScValue.GetString(Model.Item, "Description")))
        {
            @Text.HtmlText(Html, Model.Item, "Description")
        }
    </div>
}

@helper GenerateImagePart(SourceSet sourceSet)
{
    <div class="col-lg-4">
        @{ ImageField image = Model.Item.Fields["Image"]; }
        @if (Sitecore.Context.PageMode.IsExperienceEditor || (image != null && image.MediaItem != null))
        {
            <figure class="labeled-image">
                @if (!Sitecore.Context.PageMode.IsExperienceEditor)
                {
                    @:<a href="@Sitecore.Resources.Media.MediaManager.GetMediaUrl(image.MediaItem)" class="lightbox">
                }
                @Image.ContextRender(Html, Model.Item, "Image", sourceSet.DefaultWidth, sourceSet.Widths, sourceSet.MediaQuery)
                @if (!Sitecore.Context.PageMode.IsExperienceEditor)
                {
                    @:</a>
                }
                @if (Sitecore.Context.PageMode.IsExperienceEditor || !string.IsNullOrWhiteSpace(Model.Item["Image Caption"]))
                {
                    <figcaption>
                        @Html.Sitecore().Field("Image Caption")
                    </figcaption>
                }
            </figure>
        }
    </div>
}

@try
{
    if (Model.Item != null)
    {
        var sourceSet = SourceSetManager.GetSourceSet("Text Image Module");

        var cls = "row row-section module-content-text-image";
        if (Instance.IsEdl)
        {
            cls += " edl-backmorph";
        }

        <div class="@cls" app-view="ModuleContentTextImageView">
            @if (ScValue.GetBool(Model.Item, "Image on Left"))
            {
                @GenerateImagePart(sourceSet)
                @GenerateInformationPart()
            }
            else
            {
                @GenerateInformationPart()
                @GenerateImagePart(sourceSet)
            }
        </div>
    }
    else if (Sitecore.Context.PageMode.IsExperienceEditor)
    {
        @PageEditor.Error("PageEditor.Error.MissingDataItem", new { Module = Model.Rendering.RenderingItem.Name })
    }
}
catch (Exception ex)
{
    @PageEditor.Exception(Model.Rendering.RenderingItem.Name, ex)
}