﻿@using Gizmo.Web.Images.SourceSets
@using System.Text.RegularExpressions

@model Sitecore.Mvc.Presentation.RenderingModel

@helper GenerateInformationPart()
{
    <div class="col-lg-4">
        <div class="text well">
            @if (Sitecore.Context.PageMode.IsExperienceEditor || !string.IsNullOrWhiteSpace(ScValue.GetString(Model.Item, "Headline")))
            {
                <h3>@Html.Sitecore().Field("Headline")</h3>
            }
            @if (Sitecore.Context.PageMode.IsExperienceEditor || !string.IsNullOrWhiteSpace(ScValue.GetString(Model.Item, "Description")))
            {
                @Text.HtmlText(Html, Model.Item, "Description")
            }
        </div>
    </div>
}

@helper GenerateImageVideoPart(SourceSet sourceSet)
{
    <div class="col-lg-8 well">
        @{
            // File
            var isFile = true;
            var isYoutube = false;
            var file = ScValue.GetFile(Model.Item, "Video");
            var url = ScLink.GetUrl(file);

            if (string.IsNullOrWhiteSpace(url))
            {
                // Youtube
                isFile = false;
                isYoutube = true;
                var youtubeUrl = ScValue.GetString(Model.Item, "Youtube Video");
                var rx = new Regex(@"(v=|youtu.be/)([A-z0-9-]+)");
                var match = rx.Match(youtubeUrl);
                if (match.Success)
                {
                    url = string.Format("https://www.youtube.com/embed/{0}?showinfo=0", match.Groups[2]);
                }
            }

            if (string.IsNullOrWhiteSpace(url))
            {
                // Image
                isFile = false;
                isYoutube = false;
                url = ScLink.GetUrl(Model.Item, "Link");
            }
        }

        @if (isFile)
        {
            <div class="video">
                <video controls>
                    <source width="100%" height="100%" src="@url" type="@file.MimeType">
                    @Translate.Text("Video.NoSupport")
                </video>
            </div>
        }
        else if (isYoutube)
        {
            <div class="video">
                <iframe width="100%" height="100%" src="@url" frameborder="0" allowfullscreen></iframe>
            </div>
        }
        else
        {
            <figure class="labeled-image">
                <a href="@url">
                    @Image.ContextRender(Html, Model.Item, "Image", sourceSet.DefaultWidth, sourceSet.Widths, sourceSet.MediaQuery)
                </a>
            </figure>
        }
    </div>
}

@try
{
    if (Model.Item != null)
    {
        var sourceSet = SourceSetManager.GetSourceSet("Text Image Video Module");

        var cls = "row row-section module-content-text-image";
        if (Instance.IsEdl)
        {
            cls += " edl-backmorph";
        }

        <div class="@cls" app-view="HelperEqualHeightView" data-breakpoints="media-from-l">
            @GenerateImageVideoPart(sourceSet)
            @GenerateInformationPart()
        </div>
    }
    else if (Sitecore.Context.PageMode.IsExperienceEditor)
    {
        @PageEditor.Error("PageEditor.Error.MissingDataItem", new { Module = Model.Rendering.RenderingItem.Name })
    }
}
catch (Exception ex)
{
    @PageEditor.Exception(Model.Rendering.RenderingItem.Name, ex)
}