
@import (reference) "../variables";

//
// Color setup overview
// --------------------

@color-button-default-background: @color-corporate-gray-light;
@color-button-default-background-hover: @color-corporate-gray-light-hover;
@color-button-default-text: @color-highlight-orange;

@color-button-primary-background: @color-highlight-orange;
@color-button-primary-text: @color-corporate-white;

@color-button-action-background: @color-corporate-blue-dark;
@color-button-action-text: @color-corporate-white;


.btn {
	border: none;
	display: inline-block;
	height: @size-button-primary;
	line-height: 30px;
	outline: none;
	transition: background-color @transition-duration-default;

	&.btn-default {
		background-color: @color-button-default-background;
		color: @color-button-default-text;
		font-family: @base-font-family-ultra;

		&:hover {
			background-color: @color-button-default-background-hover;
		}
	}

	&.btn-primary {
		background-color: @color-button-primary-background;
		color: @color-button-primary-text;
		font-weight: bold;
		line-height: @size-button-primary;
		padding: 0 54px;
	}

	&.btn-cancel,
	&.btn-edit {
		color: @color-highlight-orange;
		line-height: 30px;
		font-size: @font-size-os-s;
		text-decoration: none;
		text-transform: none;
		margin: 0 @spacing-default;
		padding: @spacing-tiny 0 @spacing-tiny @spacing-small;
		position: relative;

		.icon(@icon-chevron-small-right);

		&:before {
			font-size: @font-size-s;
			position: absolute;
			left: 0;
			line-height: 30px;
		}

		&:hover {
			text-decoration: underline;
		}
	}

	&.btn-edit {
		margin: 0;
		height: auto;

		.icon(@icon-bearbeiten);

		&:hover {
			cursor: pointer;
		}
	}
}

.load-more {
	color: @color-highlight-orange;
	text-transform: uppercase;
	font-weight: bold;
	text-decoration: underline;

	&:hover {
		color: @color-highlight-orange-hover;
	}
}
