.crop-image {
	position: absolute;
	top: 50%;
	left: 50%;

	height: calc(~'100% + 1px');
	width: auto;

	text-align: center;

	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}
