
@import (reference) "../variables";

//
// Color setup overview
// --------------------

@color-footer-border: @color-border-light;
@color-footer-background: @color-corporate-white;
@color-footer-non-anchor: @color-corporate-gray-medium;


footer {
	background-color: @color-footer-background;

	.container {
		border-top: 2px solid @color-footer-border;
		padding-top: @spacing-small + @spacing-atomic;

		.service {
			color: @color-footer-non-anchor;
			font-size: @base-font-size-os;

			@media @media-to-m {
				text-align: center;
			}
		}

		h2 {
			font-size: @font-size-os-ml;
			font-weight: 700;
			line-height: 1.6;
			margin-top: @spacing-tiny;
			margin-bottom: @spacing-larger + @spacing-atomic;
			word-wrap: break-word;

			.tel {
				color: @color-corporate-blue-dark;
			}

			@media @media-to-l {
				font-size: @font-size-os-s;
			}

			@media @media-to-m {
				text-align: center;
			}
		}


		.list-group-textual {
			margin-bottom: @spacing-largest;
			li {
				&:before {
					content: '';
				}
				&:first-of-type {
					font-weight: bold;
				}

				a {
					&:hover {
						color: @color-highlight-orange;
						text-decoration: none;
					}
				}
			}

			@media @media-to-m {
				margin-bottom: @spacing-tiny;

				li {
					display: none;
					padding-left: @spacing-small;
					&:first-of-type {
						display: block;
						@border-width: 2px;
						cursor: pointer;
						position: relative;
						height: inherit;
						line-height: @size-button-primary - 2 * @border-width;
						padding-right: @spacing-large;
						padding-left: @spacing-small;
						color: inherit;
						font-size: @font-size-os-m;
						font-weight: lighter;
						text-decoration: none;
						border: @border-width solid @color-accordion-border;

						&:before {
							content: '\e90b';
							position: absolute;
							top: -2px; // Subtract top borders.
							right: @spacing-small - 3;
							bottom: 0;
							width: 20px; // No standard size, it is based on the width of a chevron down.
							height: @size-button-primary;
							line-height: @size-button-primary;
							font-family: 'icomoon';
							font-size: 20px;
							color: @color-accordion-icon;
							text-align: center;
						}
					}
				}

				&.active {
					margin-bottom: @spacing-default;
					li {
						display: block;

						&:first-of-type {
							color: @color-highlight-orange;
							background-color: @color-border-light;

							&:before {
								content: '\e90f';
							}
						}
					}
				}
			}
		}

		.list-group-compact {
			@media @media-to-m {
				text-align: center;
			}

			li {
				border-right: 1px solid @color-corporate-gray-medium;
				display: inline-block;
				line-height: 1;
				padding: 0 @spacing-tiny;

				&:before {
					content: '';
				}

				&:first-child {
					padding-left: 0;
				}

				&:last-child {
					border-right: 0;
					padding-right: 0;
				}

				a {
					color: @color-text-default;

					&:hover {
						color: @color-highlight-orange;
						text-decoration: none;
					}
				}
			}
		}

		.social {
			color: @color-footer-non-anchor;
			font-size: @base-font-size-os;
			float: right;

			@media @media-to-l {
				margin-bottom: @spacing-default;
			}

			@media @media-to-m {
				text-align: center;
				margin-top: @spacing-largest;
			}

			ul {
				display: inline-block;
				margin: 0 0 0 @spacing-atomic;
				padding: 0;

				li {
					display: inline-block;

					&:before {
						content: '';
					}

					a {
						position: relative;
						text-indent: -9999px;
						display: block;
						width: 35px;

						&:hover {
							text-decoration: none;
						}

						&:before {
							font-size: 27px;
							left: 50%;
							position: absolute;
							text-align: center;
							text-indent: 0;
							top: 50%;
							transform: translate(-50%, -50%);
						}

						&.yt {
							color: #cd201f; //YouTube red
							.icon(@icon-youtube2);
						}

						&.xing {
							color: #026466;
							.icon(@icon-xing);
						}

						&.linkedin {
							color: #0077b5;
							.icon(@icon-linkedin);
						}

						&.instagram {
							color: #3897f0;
							.icon(@icon-instagram);
						}

						&.facebook {
							color: #3b5998;
							.icon(@icon-facebook);
						}

						&.twitter {
							color: #1da1f2;
							.icon(@icon-twitter2);
						}

						&.blog {
							color: @color-corporate-blue-dark;
							.icon(@icon-blog);
						}
					}
				}
			}
		}

		.copyright {
			color: @color-footer-non-anchor;
			font-size: @base-font-size-os;
			margin: @spacing-tiny 0;

			@media @media-to-m {
				text-align: center;
			}
		}

		@media @media-to-l {
			.col-lg-2 {
				width: 100% / 3;
			}

			.col-lg-8, .social {
				width: 100%;
			}
		}

		@media @media-to-m {
			.col-lg-2, .col-lg-8, .col-lg-4 {
				width: 100%;
			}
		}
	}
}
