
@import (reference) "../variables";

//
// Color setup overview
// --------------------

.mfp-image-holder {
	.mfp-content {
		max-width: 60%;

		@media @media-from-m-to-l {
			max-width: 80%;
		}

		@media @media-to-m {
			max-width: 98%;
		}
	}

	.mfp-title {
		position: relative;

		line-height: 1.4;

		margin: @spacing-small 0;
		padding: 0;

		color: @white;
		font-size: @font-size-m;
		text-align: center;
	}

	.mfp-close, .arrow-left, .arrow-right {
		background: transparent;
		border: none;
		top: 50%;
		color: @white;
		cursor: pointer;
		display: inline-block;
		font-size: 0;
		height: 60px;
		left: @spacing-tiny;
		line-height: inherit;
		margin: 0;
		opacity: 1;
		outline: none;
		position: absolute;
		text-indent: -9999px;
		width: 60px;
		z-index: 10;
		.icon(@icon-arrow_left);

		&:before {
			color: @white;
			font-size: 60px;
			left: 50%;
			position: absolute;
			text-align: center;
			text-indent: 0;
			top: 50%;
			transform: translate(-50%, -50%);
		}

		@media @media-to-m {
			height: 45px;
			width: 45px;

			&:before {
				font-size: 45px;
			}
		}

		@media @media-to-s {
			height: 30px;
			width: 30px;

			&:before {
				font-size: 30px;
			}
		}

		&:hover:before {
			color: @color-corporate-blue-dark-hover;
		}
	}

	.arrow-right {
		.icon(@icon-arrow_right);
		left: auto;
		right: @spacing-tiny;
	}

	.mfp-close {
		left: auto;
		right: @spacing-tiny;
		top: @spacing-tiny + 40px;
		.icon(@icon-close);
	}
}

/**
 * Simple fade transition,
 */
.mfp-fade.mfp-bg, .mfp-open {
	opacity: 0;
	-webkit-transition: all 0.3s ease-out;
	-moz-transition: all 0.35s ease-out;
	transition: all 0.3s ease-out;
}
.mfp-fade.mfp-bg.mfp-ready {
	opacity: 0.8;
}
.mfp-fade.mfp-bg.mfp-removing {
	opacity: 0;
}

.mfp-fade.mfp-wrap .mfp-content {
	opacity: 0;
	-webkit-transition: all 0.3s ease-out;
	-moz-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out;
}
.mfp-fade.mfp-wrap.mfp-ready .mfp-content {
	opacity: 1;
}
.mfp-fade.mfp-wrap.mfp-removing .mfp-content {
	opacity: 0;
}
