@keyframes boxSpin{
	0%{
		transform: translate(-10px, 0px);
	}
	25%{
		transform: translate(10px, 10px);
	}
	50%{
		transform: translate(10px, -10px);
	}
	75%{
		transform: translate(-10px, -10px);
	}
	100%{
		transform: translate(-10px, 10px);
	}
}


@keyframes shadowSpin{
	0%{
		box-shadow: 10px -10px @color-highlight-blue, -10px 10px @color-highlight-green;
	}
	25%{
		box-shadow: 10px 10px @color-highlight-blue, -10px -10px @color-highlight-green;
	}
	50%{
		box-shadow: -10px 10px @color-highlight-blue, 10px -10px @color-highlight-green;
	}
	75%{
		box-shadow: -10px -10px @color-highlight-blue, 10px 10px @color-highlight-green;
	}
	100%{
		box-shadow: 10px -10px @color-highlight-blue, -10px 10px @color-highlight-green;
	}
}

.loader-container {
	background-color: rgba(255,255,255,0.8);
	left: 0;
	height: 100%;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 0;

	visibility: hidden;
	opacity: 0;

	transition: all .3s ease-in-out;

	.loading & {
		opacity: 1;
		visibility: visible;
		z-index: 9999;
	}
}

.loader {
	background-color: @color-highlight-dark-blue;
	opacity: 0.75;
	width: 20px;
	height: 20px;
	position: absolute;
	top: 50%;
	margin: -5px auto 0 auto;
	left: 0;
	right: 0;
	border-radius: 0px;
	border: 5px solid @color-highlight-dark-blue;
	box-shadow: 10px 0 0 @color-highlight-blue, 10px 0 0 @color-highlight-green;
	animation: shadowSpin 2s ease-in-out infinite;
}