﻿@using System.Linq;
@model Sitecore.Mvc.Presentation.RenderingModel

@try
{
    var item = Model.Item;
    var references = ScReference.Instance();

    if (item == null || item.TemplateID != references.GetItem("Folder").ID)
    {
        // If no explicit data source was set (like in most pages) we use a default item.
        item = ScReference.GetItemRelativeToInstance("Footer", "Global Folder");
    }

    var infos = item.Children.Where(x => x.TemplateID == references.GetItem("Footer Infos Template").ID).FirstOrDefault();
    var navs = item.Children.Where(x => x.TemplateID == references.GetItem("Footer Nav Template").ID).FirstOrDefault();
    var bottomNavs = item.Children.Where(x => x.TemplateID == references.GetItem("Footer Bottom Nav Template").ID).FirstOrDefault();
    var socialMediaLinks = item.Children.Where(x => x.TemplateID == references.GetItem("Footer Social Media Template").ID).FirstOrDefault();

    <footer>
        <div class="container">
            @if (infos != null)
            {
                using (Html.EditFrame(infos, "Footer Informations"))
                {
                    <div class="row" app-view="HelperEqualHeightView" data-selector=".service" data-breakpoints="media-from-m-to-l,media-from-l">
                        @foreach (Item info in infos.Children.Take(3))
                        {
                            <div class="col-lg-4">
                                @using (Html.EditFrame(info, "Footer Information"))
                                {
                                    <div class="service">@ScValue.GetString(info, "Label")</div>
                                    @Text.HtmlText(Html, info, "Text")
                                }
                            </div>
                        }
                    </div>
                }
            }

            @if (Sitecore.Context.Item.TemplateID != references.GetItem("Landing Page Template").ID)
            {
                if (navs != null)
                {
                    using (Html.EditFrame(navs, "Footer Nav"))
                    {
                        <div class="row" app-view="HelperEqualHeightView|ModuleFooterView" data-selector=".list-group-textual" data-breakpoints="media-from-m-to-l,media-from-l">
                            @foreach (Item column in navs.Children.Take(6))
                            {
                                <div class="col-lg-2">
                                    @using (Html.EditFrame(column, "Footer Nav Column"))
                                    {
                                        <ul class="list-group list-group-textual">
                                            <li>@ScValue.GetString(column, "Label")</li>
                                            @foreach (Item link in column.Children)
                                            {
                                                LinkField linkField = link.Fields["Link"];
                                                var url = (linkField.LinkType == "internal") ? ScLink.GetUrl(linkField.TargetItem) : linkField.Url;

                                                <li>
                                                    @using (Html.EditFrame(link, "Link"))
                                                    {
                                                        <a href="@url">@ScValue.GetHtml(link, "Description")</a>
                                                    }
                                                </li>
                                            }
                                        </ul>
                                    }
                                </div>
                            }
                        </div>
                    }
                }
            }

            <div class="row">
                @if (socialMediaLinks != null)
                {
                    @Html.Partial("~/Views/SocialMedia/SocialMediaLinks.cshtml", socialMediaLinks)
                } 
                
                @if (bottomNavs != null)
                {
                    <div class="col-lg-8">
                        @using (Html.EditFrame(bottomNavs, "Footer Bottom Nav"))
                        {
                            <ul class="list-group list-group-compact">
                                @foreach (Item link in bottomNavs.Children)
                                {
                                    LinkField linkField = link.Fields["Link"];
                                    var url = (linkField.LinkType == "internal") ? ScLink.GetUrl(linkField.TargetItem) : linkField.Url;

                                    <li>
                                        @using (Html.EditFrame(link, "Link"))
                                        {
                                            <a href="@url">@ScValue.GetString(link, "Description")</a>
                                        }
                                    </li>
                                }
                            </ul>
                        }
                    </div>
                }
            </div>
            <div class="row">                
                    <div class="col-lg-12 copyright">
                        @Html.Sitecore().Field("Label", bottomNavs)
                    </div>                
            </div>
        </div>
    </footer>
}
catch (Exception ex)
{
    @PageEditor.Exception(Model.Rendering.RenderingItem.Name, ex)
}