﻿@model Sitecore.Mvc.Presentation.RenderingModel

@try
{
    var item = Model.Item;
    var references = ScReference.Instance();

    //////////////////////////////////////////////////////////////////////////////////////
    // IMPORTANT: The following code is a duplicate from /App_Code/Shared.cshtml
    //            Always update both locations.
    //////////////////////////////////////////////////////////////////////////////////////

    var allPageTemplateIds = ScUtil.AllPageTemplateIds();
    var contentPageID = references.GetItem("Generic Content Page Template").ID;

    if (item == null || item.TemplateID != references.GetItem("Header Template").ID)
    {
        // If no explicit data source was set (like in most pages) we use a default item.
        var headerFolder = ScReference.GetItemRelativeToInstance("Header", "Global Folder");
        item = headerFolder.Children.FirstOrDefault(x => x.TemplateID == references.GetItem("Header Template").ID);
    }

    // Find home, first level navigation and current page/subpage in navigation.
    var homeItem = ScReference.GetItemRelativeToInstance("Home");
    var naviItems = homeItem.Children.Where(x => ScUtil.IsNavigationPage(x, allPageTemplateIds));

    Item firstLevelItem = naviItems.FirstOrDefault();

    var activeItem = Sitecore.Context.Item;
    if (activeItem.ID != homeItem.ID)
    {
        if (activeItem.ParentID == homeItem.ID)
        {
            firstLevelItem = activeItem;
        }
        else
        {
            do
            {
                if (activeItem.Parent.ParentID == homeItem.ID)
                {
                    firstLevelItem = activeItem.Parent;
                }
                activeItem = activeItem.Parent;
            } while (activeItem.ParentID != homeItem.ID);
        }
    }
    activeItem = Sitecore.Context.Item;

    // Contact Url
    var contactUrl = ScLink.GetUrl(item, "Contact");
    if (ScValue.Has(firstLevelItem, "Contact"))
    {
        var firstLevelContact = ScLink.GetUrl(firstLevelItem, "Contact");
        if (!string.IsNullOrWhiteSpace(firstLevelContact))
        {
            contactUrl = firstLevelContact;
        }
    }

    // Blog Url
    var blogUrl = ScLink.GetUrl(ScSettings.Instance().GetItem("Blog Overview Page"));

    // My Gasag Url
    var gasagUrl = ScLink.GetUrl(item, "My Gasag");
    //My Gasag Text 
    var gasagText = ScValue.GetString(item, "My Gasag Text");

    // Header is completly controlled by css classes.
    var cssClass = "";
    if (Sitecore.Context.Item.TemplateID != contentPageID)
    {
        if (ScValue.GetBool(Sitecore.Context.Item, "Hide Navigation"))
        {
            cssClass += "header-no-navigation ";
        }
        if (ScValue.GetBool(Sitecore.Context.Item, "Hide Company Links"))
        {
            cssClass += "header-no-company-links ";
        }
    }

    var style = !Sitecore.Context.PageMode.IsNormal ? "position: relative; " : "";

    <header style="@style" class="@cssClass" app-view="ModuleHeaderMainView">
        <!-- Combinable options: .header-show-sidebar, .header-no-company-links, .header-no-navigation -->
        <!-- Note: .header-show-sidebar only works on the generic content page. -->
        <!-- Landing page requirement: "But all elements are optional." -->

        <div class="header-mobile">
            <!-- Even though the company block looks quite similar to the mobile one we totally split them to prevent messy code on this complicated setup. -->
            <div class="header-combined" app-view="ModuleHeaderMobileView">
                <div class="container">
                    <a href="/" class="logo">
                        @if (Instance.IsEdl)
                        {
                            <img src="/img/layout/logo-neu-mobile-solution.png" alt="GASAG Solution" />
                        }
                        else
                        {
                            <img src="/img/layout/logo-neu-mobile.png" alt="GASAG" />
                        }
                        
                    </a>

                    <div class="header-menu-container">
                        <a href="javascript:;" class="header-menu-activator"></a>

                        <div class="header-menu">
                            <ul class="header-nav-level header-nav-level-1">
                                @foreach (Item firstLevel in naviItems.Take(4))
                                {
                                    var url = ScLink.GetUrl(firstLevel);
                                    var name = (!string.IsNullOrWhiteSpace(firstLevel["Label"])) ? firstLevel["Label"] : firstLevel.DisplayName;

                                    var naviItemType = ScValue.GetItem(firstLevel, "Type");
                                    if (naviItemType != null)
                                    {
                                        var typeValue = ScValue.GetString(naviItemType, "Value");
                                        if (typeValue == "clickable-in-navi" || typeValue == "not-clickable-in-navi")
                                        {
                                            <li>
                                                @if (typeValue == "clickable-in-navi")
                                                {
                                                    <a href="@url" class="header-nav-link">
                                                        @name
                                                        <span>@Html.Sitecore().Field("Text", firstLevel)</span>
                                                    </a>
                                                }
                                                else
                                                {
                                                    <div class="header-nav-link">
                                                        @name
                                                        <span>@Html.Sitecore().Field("Text", firstLevel)</span>
                                                    </div>
                                                }

                                                @if (firstLevel.Children.Where(x => ScUtil.IsNavigationPage(x, allPageTemplateIds)).Any())
                                                {
                                                    <span class="header-nav-activator"></span>
                                                    <ul class="header-nav-level header-nav-level-2">
                                                        @foreach (Item secondLevel in firstLevel.Children.Where(x => ScUtil.IsNavigationPage(x, allPageTemplateIds)))
                                                        {
                                                            var secondLevelName = (!string.IsNullOrWhiteSpace(secondLevel["Label"])) ? secondLevel["Label"] : secondLevel.DisplayName;
                                                            naviItemType = ScValue.GetItem(secondLevel, "Type");
                                                            typeValue = "";
                                                            if (naviItemType != null)
                                                            {
                                                                typeValue = ScValue.GetString(naviItemType, "Value");
                                                            }

                                                            // TODO HACK
                                                            url = "#";
                                                            if (typeValue == "clickable-in-navi")
                                                            {
                                                                url = ScLink.GetUrl(secondLevel);
                                                            }

                                                            <li>
                                                                <a href="@url" class="header-nav-link">@secondLevelName</a>

                                                                @if (secondLevel.Children.Where(x => ScUtil.IsNavigationPage(x, allPageTemplateIds)).Any())
                                                                {
                                                                    <span class="header-nav-activator"></span>

                                                                    <ul class="header-nav-level header-nav-level-3">
                                                                        @foreach (Item thirdLevel in secondLevel.Children.Where(x => ScUtil.IsNavigationPage(x, allPageTemplateIds)))
                                                                        {
                                                                                var thirdLevelName = (!string.IsNullOrWhiteSpace(thirdLevel["Label"])) ? thirdLevel["Label"] : thirdLevel.DisplayName;

                                                                            <li>
                                                                                <a href="@ScLink.GetUrl(thirdLevel)" class="header-nav-link">@thirdLevelName</a>

                                                                                @if (thirdLevel.Children.Where(x => ScUtil.IsNavigationPage(x, allPageTemplateIds)).Any())
                                                                                {
                                                                                    <span class="header-nav-activator"></span>

                                                                                    <ul class="header-nav-level header-nav-level-4">
                                                                                        @foreach (Item fourthLevel in thirdLevel.Children.Where(x => ScUtil.IsNavigationPage(x, allPageTemplateIds)))
                                                                                        {
                                                                                            var fourthLevelName = (!string.IsNullOrWhiteSpace(fourthLevel["Label"])) ? fourthLevel["Label"] : fourthLevel.DisplayName;

                                                                                            <li>
                                                                                                <a href="@ScLink.GetUrl(fourthLevel)" class="header-nav-link">@fourthLevelName</a>
                                                                                            </li>
                                                                                        }
                                                                                    </ul>
                                                                                }
                                                                            </li>
                                                                        }
                                                                    </ul>
                                                                }
                                                            </li>
                                                        }
                                                    </ul>
                                                }
                                            </li>
                                        }
                                    }
                                }
                            </ul>

                            <div class="navbar-wrapper">
                                <ul class="navbar">
                                    @if (!string.IsNullOrWhiteSpace(blogUrl))
                                    {
                                        <li class="navbar-icon">
                                            <a href="@blogUrl">
                                                <span class="icon-hashtag">#</span>
                                            </a>
                                        </li>
                                    }

                                    @if (!string.IsNullOrWhiteSpace(gasagUrl))
                                    {
                                        <li class="navbar-icon">
                                            <a href="@gasagUrl" target="_blank">
                                                <span class="icon-lock"></span>
                                            </a>
                                        </li>
                                        
                                    }

                                    <li class="navbar-icon navbar-icon-action">
                                        <a href="javascript:;">
                                            <span class="icon-search"></span>
                                        </a>
                                        <div class="modal hide module-header-modal-search">
                                            <form class="form-search" app-view="ModuleSearchView"
                                                    action="@ScLink.GetUrl(ScSettings.Instance().GetItem("Search Page Url"))"
                                                    data-url="@ScUtil.ServiceUrl("Search", "AutoComplete", true, new Dictionary<string, string>() { { "query", "{query}" } })">
                                                <div class="form-element">
                                                    <input type="submit" class="search-submit" value="&#59655;">
                                                    <input type="text" name="query" class="search-text input-icon" placeholder="@Translate.Text("Search.Placeholder")">
                                                </div>
                                            </form>
                                        </div>
                                    </li>

                                    <li class="navbar-icon">
                                        <a href="@contactUrl">
                                            <span class="icon-phone"></span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="header-desktop">
            <!--  Even though the company block looks quite similar to the mobile one we totally split them to prevent messy code on this complicated setup. -->
            <div class="header-company" style="background-image: url('/img/layout/header-neu-muster.png')">
                <div class="container">
                    <a href="/" class="logo-small">
                        @if (Instance.IsEdl)
                        {
                            <img src="/img/layout/logo-neu-solution-110.jpg" alt="GASAG Solution" />
                        }
                        else
                        {
                            <img src="/img/layout/logo-neu-110.png" alt="GASAG" />
                        }
                    </a>
                    <ul class="header-company-links">
                        @foreach (Item link in naviItems.Take(4))
                        {
                            cssClass = firstLevelItem != null && link.ID == firstLevelItem.ID ? "active" : "";

                            var url = ScLink.GetUrl(link);
                            var name = (!string.IsNullOrWhiteSpace(link["Label"])) ? link["Label"] : link.DisplayName;

                            var naviItemType = ScValue.GetItem(link, "Type");
                            if (naviItemType != null)
                            {
                                var typeValue = ScValue.GetString(naviItemType, "Value");
                                if (typeValue == "clickable-in-navi" || typeValue == "not-clickable-in-navi")
                                {
                                    <li class="@cssClass">
                                        @if (typeValue == "clickable-in-navi")
                                        {
                                            <a href="@url">
                                                @name
                                                <span>@Html.Sitecore().Field("Text", link)</span>
                                            </a>
                                        }
                                        else
                                        {
                                            <div>
                                                @name
                                                <span>@Html.Sitecore().Field("Text", link)</span>
                                            </div>
                                        }
                                        
                                    </li>
                                }
                            }
                        }
                    </ul>
                </div>
            </div>

            <div class="header-navigation">
                <div class="container">
                    <ul class="navbar">
                        <li class="logo-container">
                            <a href="/" class="logo">
                                @if (Instance.IsEdl)
                                {
                                    <img src="/img/layout/logo-neu-solution.jpg" alt="GASAG Solution" />
                                }
                                else
                                {
                                    <img src="/img/layout/logo-neu.png" alt="GASAG" />
                                }
                            </a>
                        </li>
                        @if (firstLevelItem != null)
                        {
                            foreach (Item naviItem in firstLevelItem.Children.Where(x => ScUtil.IsNavigationPage(x, allPageTemplateIds)))
                            {
                                cssClass = "";
                                var name = (!string.IsNullOrWhiteSpace(naviItem["Label"])) ? naviItem["Label"] : naviItem.DisplayName;
                                if (!string.IsNullOrWhiteSpace(naviItem["Topnav Style"]))
                                {
                                    var classItem = ScValue.GetItem(naviItem, "Topnav Style");
                                    cssClass = (classItem != null) ? ScValue.GetString(classItem, "Value") : string.Empty;
                                }

                                var naviItemType = ScValue.GetItem(naviItem, "Type");
                                if (naviItemType != null)
                                {
                                    var typeValue = ScValue.GetString(naviItemType, "Value");

                                    <li class="@cssClass">
                                        @if (typeValue == "clickable-in-navi" || typeValue == "not-clickable-in-navi")
                                        {
                                            if (typeValue == "clickable-in-navi")
                                            {
                                                <a href="@ScLink.GetUrl(naviItem)">@name</a>
                                            }
                                            else if (typeValue == "not-clickable-in-navi")
                                            {
                                                <a>@name</a>
                                            }
                                            if (ScValue.GetBool(naviItem, "Subnav in Topnav"))
                                            {
                                                <ul class="menu">
                                                    @foreach (Item subNaviItem in naviItem.Children.Where(x => ScUtil.IsNavigationPage(x, allPageTemplateIds)))
                                                    {
                                                        var subName = (!string.IsNullOrWhiteSpace(subNaviItem["Label"])) ? subNaviItem["Label"] : subNaviItem.DisplayName;
                                                        <li>
                                                            <a href="@ScLink.GetUrl(subNaviItem)">@subName</a>
                                                        </li>
                                                    }
                                                </ul>
                                            }
                                        }
                                    </li>
                                }
                            }
                        }
                    </ul>

                    <ul class="navbar navbar-right">
                        @if (!string.IsNullOrWhiteSpace(blogUrl))
                        {
                            <li class="navbar-icon">
                                <a href="@blogUrl" target="_self">
                                    <span class="icon-hashtag">#</span>
                                </a>
                            </li>
                        }

                        @if (!string.IsNullOrWhiteSpace(gasagUrl))
                        {
                            if (gasagText == String.Empty)
                            {
                                <li class="navbar-icon">
                                    <a href="@gasagUrl" target="_blank">
                                        <span class="icon-lock"></span>
                                    </a>
                                </li>
                            }
                            else if (gasagText != String.Empty)
                            {

                                <li class="navbar-icon">
                                    <a href="@gasagUrl" target="_blank">
                                        @gasagText
                                    </a>
                                </li>
                            }
                        }

                        <li class="navbar-icon navbar-icon-action">
                            <a href="javascript:;">
                                <span class="icon-search"></span>
                            </a>
                            <div class="modal hide module-header-modal-search">
                                <form class="form-search" app-view="ModuleSearchView"
                                        action="@ScLink.GetUrl(ScSettings.Instance().GetItem("Search Page Url"))"
                                        data-url="@ScUtil.ServiceUrl("Search", "AutoComplete", true, new Dictionary<string, string>() { { "query", "{query}" } })">
                                    <div class="form-element">
                                        <input type="submit" class="search-submit" value="&#59655;">
                                        <input type="text" name="query" class="search-text input-icon" placeholder="@Translate.Text("Search.Placeholder")">
                                    </div>
                                </form>
                            </div>
                        </li>

                        <li class="navbar-icon">
                            <a href="@contactUrl">
                                <span class="icon-phone"></span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </header>
}
catch (Exception ex)
{
    @PageEditor.Exception(Model.Rendering.RenderingItem.Name, ex)
}