﻿<div class="module-related-content-teaser row row-section" data-selector=".teaser-default" app-view="HelperEqualHeightView">
    <div class="col-lg-6">
        @Shared.RelatedItemsContainer(Html, "Left")
    </div>
    <div class="col-lg-6">
        @Shared.RelatedItemsContainer(Html, "Right")
    </div>
</div>
