﻿@model Sitecore.Mvc.Presentation.RenderingModel

@helper RenderTabs(IEnumerable<Item> categories)
{
    if (categories != null && categories.Any())
    {
        <ul class="nav nav-tabs">
            @foreach (Item category in categories)
            {
                string categoryKey = category["Key"];
                <li>
                    <a href="#tab-@categoryKey">
                        @category["Value"]
                        <span class="counter counter-@categoryKey"></span>
                    </a>
                </li>
            }
            <li><!-- Empty last element is mandatory. --></li>
        </ul>

        foreach(Item category in categories)
        {
            string categoryKey = category["Key"];
            <div class="results-tab" id="tab-@categoryKey" data-counter=".counter-@categoryKey">
                <div class="results-container"></div>
                <div class="results-none-found hide">@Translate.Text("Search.NoItemsFoundInCategory")</div>
                <div class="row" app-view="ModuleSearchLoadMoreView">
                   <div class="col-lg-12 load-more-holder">
                        <a href="javascript:;" class="load-more">@Translate.Text("Buttons.LoadMore")</a>
                    </div>
                </div>
            </div>
        }
    }
    else if (Sitecore.Context.PageMode.IsExperienceEditor)
    {
        @PageEditor.Warning("PageEditor.MissingCategories", new { Module = Model.Rendering.RenderingItem.Name })
    }
}

@try
{
    if (Model.Item != null)
    {
        var categoriesFolder = ScReference.GetItemRelativeToInstance("Categories Folder");
        var categories = categoriesFolder != null && categoriesFolder.HasChildren ? categoriesFolder.Children.Where(x => !ScValue.GetBool(x, "Inactive")) : null;
        string query = Request.QueryString["query"];

        <div class="row">
            <div class="col-lg-12">
                <h1>@Html.Sitecore().Field("Headline")</h1>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12">
                <div class="search">
                    <form app-view="ModuleSearchView"
                          action="@ScLink.GetUrl(ScSettings.Instance().GetItem("Search Page Url"))" 
                          data-url="@ScUtil.ServiceUrl("Search", "AutoComplete", true, new Dictionary<string, string>() { { "query", "{query}" } })">
                        <div class="form-element">
                            <input type="submit" class="search-submit" value="&#59655;">
                            <input type="text" name="query" class="search-text input-icon" placeholder="@Translate.Text("Search.Placeholder")" value="@query">
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <div class="row row-section module-tabs module-search-results"
             app-view="ModuleTabsView|ModuleSearchResultsView"
             data-collapsible="accordion"
             data-url="@ScUtil.ServiceUrl("Search", "Search", true, new Dictionary<string, string>() { { "query", query } })">
            <div class="col-lg-12">

                @RenderTabs(categories)

                <script id="search-results-tmpl" type="x-tmpl-mustache">
                    <a href="{{url}}" class="result">
                        <h2>{{{title}}}</h2>
                        <div>
                            {{#date}}
                                <span class="date">{{date}}</span>
                            {{/date}}

                            {{#category}}
                                <span class="highlight">{{category}}</span>
                            {{/category}}
                        </div>
                        <p class="context">{{{description}}}</p>
                    </a>
                </script>
            </div>
        </div>
    }
    else if (Sitecore.Context.PageMode.IsExperienceEditor)
    {
        @PageEditor.Error("PageEditor.Error.MissingDataItem", new { Module = Model.Rendering.RenderingItem.Name })
    }
}
catch (Exception ex)
{
    @PageEditor.Exception(Model.Rendering.RenderingItem.Name, ex)
}