﻿@model Sitecore.Mvc.Presentation.RenderingModel
@try
{
    if (Model.Item != null)
    {
        <div class="row row-section module-contact-person">
            <div class="col-lg-3 image-holder">
                @Html.Sitecore().Field("Image")
            </div>
            <div class="col-lg-9">
                <div class="row">
                    <div class="col-lg-12">
                        <p class="headline">@Html.Sitecore().Field("Title")</p>
                        <p class="strong">@Html.Sitecore().Field("Full Name")</p>
                    </div>
                    <div class="col-lg-6">
                        <p>@Html.Sitecore().Field("Phone")</p>
                        <p>@Html.Sitecore().Field("Fax")</p>
                        @Html.Sitecore().Field("Email", new { @class= "btn btn-cancel" })
                    </div>
                    <div class="col-lg-6">
                        <p>@Html.Sitecore().Field("Address Line 1")</p>
                        <p>@Html.Sitecore().Field("Address Line 2")</p>
                        <p>@Html.Sitecore().Field("Address Line 3")</p>
                    </div>
                </div>
            </div>
        </div>
    }
    else
    {
        @PageEditor.Error("PageEditor.Error.MissingDataItem", new { Module = Model.Rendering.RenderingItem.Name })
    }
}
catch (Exception ex)
{
    @PageEditor.Exception(Model.Rendering.RenderingItem.Name, ex)
}
