﻿@using Gasag.Web.Utility

@* Write css files. *@
@helper Css(IEnumerable<Asset> assets)
{
    foreach (var asset in assets)
    {
            <link rel="stylesheet" href="@asset.Path" type="text/css" />
    }
}

@* Write javascript files. *@
@helper Javascript(IEnumerable<Asset> assets)
{
    foreach (var asset in assets)
    {
        if (asset.Attributes.Contains(Asset.RequireAttribute))
        {
                <script data-main="@asset.Path" @(asset.Attributes.Contains(Asset.AsyncAttribute) ? "async" : "")
                        src="@Sitecore.Configuration.Settings.GetSetting("Assets.Javascript.RequireJs").Trim()"></script>
        }
        else if (asset.Attributes.Contains(Asset.ModernizrAttribute))
        {
                <script>@asset.Path</script>

        }
        else
        {
                <script src="@asset.Path" @(asset.Attributes.Contains(Asset.AsyncAttribute) ? "async" : "")></script>
        }
    }
}

@helper InlineJavascript(string script)
{
    if (!string.IsNullOrWhiteSpace(script))
    { 
        <script>
            @(new HtmlString(script))
        </script>
    }
}