﻿@using Sitecore.Data.Items
@using Gizmo.SitecoreGizmo.Items
@using Sitecore.Mvc
@using System.Text.RegularExpressions
@using Sitecore.Configuration
@using Sitecore.Resources.Media
@using Sitecore.Globalization
@using Sitecore.Links

@* Show image. *@
@helper ContextRender(System.Web.Mvc.HtmlHelper html, Item item, string fieldKey)
{
    var imageHtml = html.Sitecore().Field(fieldKey, item).ToString();
    imageHtml = Regex.Replace(imageHtml, "(width|height)=\"(.*?)\"", "");

    var image = ScValue.GetImage(item, fieldKey);
    var mediaUrlOptions = (MediaUrlOptions)MediaUrlOptions.Empty;
    mediaUrlOptions.MaxHeight = int.Parse(Settings.GetSetting("PageEditor.ImageResizeHeight"));
    mediaUrlOptions.MaxWidth = int.Parse(Settings.GetSetting("PageEditor.ImageResizeWidth"));
    var url = ScLink.GetUrl(image, mediaUrlOptions);
    imageHtml = Regex.Replace(imageHtml, @"src=""[^""]*""", "src=\"" + url + "\"");

    if (Regex.Match(imageHtml, @"src=""""").Success)
    {
        imageHtml = Regex.Replace(imageHtml, @"src=""""", "src=\"/sitecore/shell/Themes/Standard/Images/WebEdit/default_image.png\"");
    }

    @html.Raw(imageHtml)
}

@helper ContextRender(System.Web.Mvc.HtmlHelper html, Item item, string fieldKey, int defaultWidth, IEnumerable<int> widths, string mediaQuery, string additionalAttribs = null)
{
    if (Sitecore.Context.PageMode.IsExperienceEditor)
    {
        @Image.ContextRender(html, item, fieldKey)
        return;
    }

    if (item == null)
    {
        <img src="" alt="@Translate.Text("PageEditor.MissingImage")" />
        return;
    }

    var mediaItem = ScValue.GetImage(item, fieldKey);
    if (mediaItem == null)
    {
        <img src="" alt="@Translate.Text("PageEditor.MissingImage")" />
        return;
    }

    var mediaUrlOptions = (MediaUrlOptions)MediaUrlOptions.Empty;

    // Default src.
    mediaUrlOptions.Width = defaultWidth;
    var defaultSrc = ScLink.GetUrl(mediaItem, mediaUrlOptions);

    // Src set.
    var srcSet = new List<string>();
    foreach (int width in widths)
    {
        mediaUrlOptions.Width = width;
        var src = ScLink.GetUrl(mediaItem, mediaUrlOptions);
        src += string.Concat(" ", width, "w");
        srcSet.Add(src);
    }

    <img src="@defaultSrc" alt="@mediaItem.Alt" title="@mediaItem.Title" sizes="@mediaQuery" srcset="@string.Join(", ", srcSet)" @(!string.IsNullOrWhiteSpace(additionalAttribs) ? html.Raw(additionalAttribs) : html.Raw("")) />
}