﻿@using Gizmo.Web
@using Sitecore.Globalization

@* Show an error text in page editor. *@
@helper Error(string translationKey, object source = null, bool block = true, string style = null)
{
    if (string.IsNullOrEmpty(style))
    {
        style = "color:red; font-weight:bold; ";
    }
    @Text(translationKey, style, source, block)
}

@* Show an exception text in page editor. *@
@helper Exception(string module, Exception ex, string style = null)
{
    if (string.IsNullOrEmpty(style))
    {
        style = "color:red; font-weight:bold; border: 1px solid red; ";
    }

    Sitecore.Diagnostics.Log.Error(string.Format("Exception in module '{0}'", module), ex, module);
    @Text("PageEditor.Exception", style, new { Module = module, Message = ex.Message, Stacktrace = ex.StackTrace }, true)
    <!--
        Exception: @ex.Message
        Stacktrace: @ex.StackTrace
    -->
}

@* Show an info text in page editor. *@
@helper Info(string translationKey, object source = null, bool block = true, string style = null)
{
    if (string.IsNullOrEmpty(style))
    {
        style = "color:blue; font-weight:bold; ";
    }

    @Text(translationKey, style, source, block)
}

@* Show placeholder text in page editor. *@
@helper PlaceholderStart(string name, object source = null, string style = null)
{
    if (string.IsNullOrEmpty(style))
    {
        style = "color:green; font-weight:bold; border-top: 2px solid green; ";
    }

    @Text("PageEditor.Placeholder", style, new { Name = name }, true)
}

@* Show placeholder text in page editor. *@
@helper PlaceholderEnd(string name, object source = null, string style = null)
{
    if (string.IsNullOrEmpty(style))
    {
        style = "color:green; font-weight:bold; border-bottom: 2px solid green; ";
    }

    @Text("PageEditor.Placeholder", style, new { Name = name }, true)
}

@* Base function for page editor text. *@
@helper Text(string translationKey, string style, object source = null, bool block = true)
{
    if (Sitecore.Context.PageMode.IsExperienceEditor)
    {
        var text = NamedFormat.Do(Translate.Text(translationKey), source);
        var html = new HtmlString(text);
        if (block)
        {
            <div style="@style margin: 20px">
                @html
            </div>
        }
        else
        {
            <span style="@style">
                @html
            </span>
        }
    }
}

@* Show an error text in page editor. *@
@helper Warning(string translationKey, object source = null, bool block = true, string style = null)
{
    if (string.IsNullOrEmpty(style))
    {
        style = "color:orange; font-weight:bold; ";
    }

    @Text(translationKey, style, source, block)
}