﻿@using Sitecore.Mvc
@using Gizmo.SitecoreGizmo.Items
@using Gasag.Web.Utility
@using Sitecore.Data
@using Sitecore.Data.Items
@using Gizmo.SitecoreGizmo.WebEdit
@using Sitecore.Globalization

@* Content. *@
@helper Content(System.Web.Mvc.HtmlHelper html)
{  
var reference = ScReference.Instance();
var overviewPageTemplate = reference.GetItem("Generic Overview Page Template").ID;
var homePageTemplate = reference.GetItem("Home Page Template").ID;
var landingPageTemplate = reference.GetItem("Landing Page Template").ID;
var searchPageTemplate = reference.GetItem("Search Page Template").ID;
var tariffCalculatorPageTemplate = reference.GetItem("Tariff Calculator Page Template").ID;
var blogPageTemplate = reference.GetItem("Blog Page Template").ID;
var blogOverviewPageTemplate = reference.GetItem("Blog Overview Page Template").ID;

var page = Sitecore.Context.Item;

if (page.TemplateID == homePageTemplate || page.TemplateID == landingPageTemplate)
{
        @PageEditor.PlaceholderStart("Stage")
        @html.Sitecore().Placeholder("Stage Landing")
        @PageEditor.PlaceholderEnd("Stage")
    }

    if (page.TemplateID == overviewPageTemplate)
    {
        <div class="container" data-search-content>
            @PageEditor.PlaceholderStart("Stage")
            @html.Sitecore().Placeholder("Stage")
            @PageEditor.PlaceholderEnd("Stage")

            <div class="row">
                <div class="col-lg-12">
                    @PageEditor.PlaceholderStart("Overview Content")
                    @html.Sitecore().Placeholder("Overview")
                    @PageEditor.PlaceholderEnd("Overview Content")
                </div>
            </div>
        </div>
    }
    else if (page.TemplateID == homePageTemplate)
    {
        <div class="container" data-search-content>
            @PageEditor.PlaceholderStart("Home Content")
            @html.Sitecore().Placeholder("Home")
            @PageEditor.PlaceholderEnd("Home Content")
        </div>
    }
    else if (page.TemplateID == landingPageTemplate)
    {
        <div class="container" data-search-content>
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    @PageEditor.PlaceholderStart("Landing Content")
                    @html.Sitecore().Placeholder("Landing")
                    @PageEditor.PlaceholderEnd("Landing Content")
                </div>
            </div>
        </div>
    }
    else if (page.TemplateID == searchPageTemplate)
    {
        <div class="container container-responsive-default" data-search-content>
            @PageEditor.PlaceholderStart("Stage")
            @html.Sitecore().Placeholder("Stage")
            @PageEditor.PlaceholderEnd("Stage")

            <div class="row">
                <div class="col-lg-8">
                    @PageEditor.PlaceholderStart("Search Content")
                    @html.Sitecore().Placeholder("Search")
                    @PageEditor.PlaceholderEnd("Search Content")
                </div>
            </div>
        </div>
    }
    else if (page.TemplateID == tariffCalculatorPageTemplate)
    {
        <div class="container container-responsive-default" data-search-content>
            @PageEditor.PlaceholderStart("Stage")
            @html.Sitecore().Placeholder("Stage")
            @PageEditor.PlaceholderEnd("Stage")

            @PageEditor.PlaceholderStart("Tariff Calculator Content")
            @html.Sitecore().Placeholder("Tariff Calculator")
            @PageEditor.PlaceholderEnd("Tariff Calculator Content")
        </div>
    }
    else if (page.TemplateID == blogPageTemplate)
    {
        @PageEditor.PlaceholderStart("Stage")
        @html.Sitecore().Placeholder("Stage Blog")
        @PageEditor.PlaceholderEnd("Stage")

        <div class="container" data-search-content>      
            @{ 
                var date = ScValue.GetDate(page, "Date").ToString("dd.MM.yyyy");
                var tags = ScValue.GetItems(page, "Tags").Select(x => string.Concat("#", x["Value"]));
                var shareUrl = Server.UrlEncode(ScLink.GetUrl(page, true));
            }
            @using (html.EditFrame(page, "Blog Detail"))
            {
                <div class="module-blog-detail" app-view="ModuleBlogDetailView">
                    <div class="row">
                        <div class="col-lg-8 col-lg-offset-2">
                            <p class="tag">@string.Join(" ", tags)</p>
                            <h2>@html.Sitecore().Field("Title", page)</h2>

                            @html.Sitecore().DynamicPlaceholder("Blog Content")

                            <div class="blog-detail-footer">
                                <div class="link-back">
                                    <a href="@ScLink.GetUrl(ScSettings.Instance().GetItem("Blog Overview Page"))" class="btn btn-link">&lt; @Translate.Text("General.Back")</a>
                                </div>
                                @if (!(string.IsNullOrWhiteSpace(date) || date == "01.01.0001"))
                                {
                                    <div class="info">
                                        <span>@date</span>
                                        @if (!string.IsNullOrWhiteSpace(page["Author"]))
                                        {
                                             <text>|</text> <span>@Translate.Text("General.OfAuthor") @html.Sitecore().Field("Author")</span>
                                        }                                         
                                    </div>
                                }                                

                                <div class="back-to-top">
                                    <a href="#" class="btn btn-link">@Translate.Text("General.ToUp")</a>
                                </div>
                            </div>

                            <div class="social-toolbar">
                                <ul>
                                    <li class="facebook">
                                        <a href="https://www.facebook.com/sharer/sharer.php?u=@shareUrl" target="_blank">Facebook</a>
                                    </li>
                                    <li class="twitter">
                                        <a href="https://twitter.com/home?status=@shareUrl" target="_blank">Twitter</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    }
    else if (page.TemplateID == blogOverviewPageTemplate)
    {
        @PageEditor.PlaceholderStart("Stage")
        @html.Sitecore().Placeholder("Stage Blog")
        @PageEditor.PlaceholderEnd("Stage")

        @PageEditor.PlaceholderStart("Blog Overview Content")
        @html.Sitecore().Placeholder("Blog Overview")
        @PageEditor.PlaceholderEnd("Blog Overview Content")        
    }
    else
    {
        <div class="container container-responsive-default" data-search-content>
            @PageEditor.PlaceholderStart("Stage")
            @html.Sitecore().Placeholder("Stage")
            @PageEditor.PlaceholderEnd("Stage")

            @try
            {
                @* Module-Sidebar *@
                var renderings = ScLayout.FinalRenderings(page);
                var headerRendering = renderings.FirstOrDefault(x => new ID(x.ItemID) == reference.GetItem("Header Rendering").ID);
                if (headerRendering != null)
                {
                    //////////////////////////////////////////////////////////////////////////////////////
                    // IMPORTANT: The following code is a duplicate from /Views/Structure/Header.cshtml
                    //            Always update both locations.
                    //////////////////////////////////////////////////////////////////////////////////////

                    var allPageTemplateIds = ScUtil.AllPageTemplateIds();
                    var contentPageID = reference.GetItem("Generic Content Page Template").ID;

                    Item item = null;
                    if (!string.IsNullOrWhiteSpace(headerRendering.Datasource))
                    {
                        item = Sitecore.Context.Database.GetItem(headerRendering.Datasource);
                    }
                    if (item == null || item.TemplateID != reference.GetItem("Header Template").ID)
                    {
                        // If no explicit data source was set (like in most pages) we use a default item.
                        var headerFolder = ScReference.GetItemRelativeToInstance("Header", "Global Folder");
                        item = headerFolder.Children.FirstOrDefault(x => x.TemplateID == reference.GetItem("Header Template").ID);
                    }

                    // Find home, first level navigation and current page/subpage in navigation.
                    var homeItem = ScReference.GetItemRelativeToInstance("Home");
                    var naviItems = homeItem.Children.Where(x => ScUtil.IsNavigationPage(x, allPageTemplateIds));

                    Item firstLevelItem = naviItems.FirstOrDefault();
                    Item secondLevelItem = null;
                    if (firstLevelItem != null)
                    {
                        secondLevelItem = firstLevelItem.Children.Where(x => ScUtil.IsNavigationPage(x, allPageTemplateIds)).FirstOrDefault();
                    }

                    var activeItem = Sitecore.Context.Item;
                    if (activeItem.ID != homeItem.ID)
                    {
                        if (activeItem.ParentID == homeItem.ID)
                        {
                            firstLevelItem = activeItem;
                            secondLevelItem = firstLevelItem.Children.Where(x => ScUtil.IsNavigationPage(x, allPageTemplateIds)).FirstOrDefault();
                        }
                        else
                        {
                            do
                            {
                                if (activeItem.Parent.ParentID == homeItem.ID)
                                {
                                    firstLevelItem = activeItem.Parent;
                                    secondLevelItem = activeItem;
                                }
                                activeItem = activeItem.Parent;
                            } while (activeItem.ParentID != homeItem.ID);
                        }
                    }
                    activeItem = Sitecore.Context.Item;

                    <div class="module-sidebar" app-view="ModuleContentSidebarView">
                        <h3>@html.Sitecore().Field("Label", secondLevelItem)</h3>
                        @if (secondLevelItem != null && secondLevelItem.Children.Where(x => ScUtil.IsNavigationPage(x, allPageTemplateIds)).Any())
                        {
                            <ul class="sidebar-nav-level sidebar-nav-level-1">
                                @foreach (Item thirdLevelItem in secondLevelItem.Children.Where(x => ScUtil.IsNavigationPage(x, allPageTemplateIds)))
                                {
                                    var thirdLevelName = (!string.IsNullOrWhiteSpace(thirdLevelItem["Label"])) ? thirdLevelItem["Label"] : thirdLevelItem.DisplayName;
                                    var cssClass = (activeItem.ID == thirdLevelItem.ID || activeItem.ParentID == thirdLevelItem.ID || activeItem.Parent.ParentID == thirdLevelItem.ID) ? "active" : "";
                                    <li class="@cssClass">
                                        @if (Sitecore.Context.Database.GetItem(new ID(ScValue.GetString(thirdLevelItem, "Type")))["Value"] == "not-clickable-in-navi")
                                        {
                                            <span>@thirdLevelName</span>
                                        }
                                        else
                                        {
                                            <a href="@ScLink.GetUrl(thirdLevelItem)">@thirdLevelName</a>
                                        }                                        
                                        @if (thirdLevelItem.Children.Where(x => ScUtil.IsNavigationPage(x, allPageTemplateIds)).Any())
                                        {
                                            <ul class="sidebar-nav-level sidebar-nav-level-2">
                                                @foreach (Item fourthLevelItem in thirdLevelItem.Children.Where(x => ScUtil.IsNavigationPage(x, allPageTemplateIds)))
                                                {
                                                    var fourthLevelName = (!string.IsNullOrWhiteSpace(fourthLevelItem["Label"])) ? fourthLevelItem["Label"] : fourthLevelItem.DisplayName;
                                                    cssClass = (activeItem.ID == fourthLevelItem.ID || activeItem.ParentID == fourthLevelItem.ID) ? "active" : "";
                                                    <li class="@cssClass">                                                        
                                                        @if (Sitecore.Context.Database.GetItem(new ID(ScValue.GetString(fourthLevelItem, "Type")))["Value"] == "not-clickable-in-navi")
                                                        {
                                                            <span>@fourthLevelName</span>
                                                        }
                                                        else
                                                        {
                                                            <a href="@ScLink.GetUrl(fourthLevelItem)">@fourthLevelName</a>
                                                        }                                                        
                                                        @if (fourthLevelItem.Children.Where(x => ScUtil.IsNavigationPage(x, allPageTemplateIds)).Any())
                                                        {
                                                            <ul class="sidebar-nav-level sidebar-nav-level-3">
                                                                @foreach (Item fifthLevelItem in fourthLevelItem.Children.Where(x => ScUtil.IsNavigationPage(x, allPageTemplateIds)))
                                                                {
                                                                    var fifthLevelName = (!string.IsNullOrWhiteSpace(fifthLevelItem["Label"])) ? fifthLevelItem["Label"] : fifthLevelItem.DisplayName;
                                                                    cssClass = (activeItem.ID == fifthLevelItem.ID) ? "active" : "";
                                                                    <li class="@cssClass">
                                                                        <a href="@ScLink.GetUrl(fifthLevelItem)">@fifthLevelName</a>
                                                                    </li>
                                                                }
                                                            </ul>
                                                        }
                                                    </li>
                                                }
                                            </ul>
                                        }
                                    </li>
                                }
                            </ul>
                        }
                    </div>
                }
            }
            catch (Exception ex)
            {
                // TODO
            }

            <div class="row">
                <div class="col-lg-8 col-lg-offset-4">
                    @PageEditor.PlaceholderStart("Generic Content")
                    @html.Sitecore().Placeholder("Content")
                    @PageEditor.PlaceholderEnd("Generic Content")
                </div>
            </div>
        </div>
    }
}

@* Lists Container. *@
@helper ListsContainer(System.Web.Mvc.HtmlHelper html)
{
    @PageEditor.PlaceholderStart("Lists Container")
    @html.Sitecore().DynamicPlaceholder("Lists Container")
    @PageEditor.PlaceholderEnd("Lists Container")
}

@* Related Items Container. *@
@helper RelatedItemsContainer(System.Web.Mvc.HtmlHelper html, string suffix)
{
    @PageEditor.PlaceholderStart("Related Items Container")
    @html.Sitecore().DynamicPlaceholder("Related Items Container", suffix)
    @PageEditor.PlaceholderEnd("Related Items Container")
}

@* Footer. *@
@helper Footer(System.Web.Mvc.HtmlHelper html)
{
    @html.Sitecore().Placeholder("Footer")
}

@* Header. *@
@helper Header(System.Web.Mvc.HtmlHelper html)
{
    @html.Sitecore().Placeholder("Header")
}

@helper GenerateValidationToken(Sitecore.Mvc.Helpers.SitecoreHelper sitecoreHelper)
{
    <input type="hidden" name="formhandleruid" value="@sitecoreHelper.CurrentRendering.UniqueId" />
}