﻿@using Sitecore.Data.Items;
@using Sitecore.Globalization;

@helper Render(System.Web.Mvc.HtmlHelper html, Item item, string name, string valueKey = "Value", string selectAlldictionaryKey = "Search.Filter.PleaseSelect")
{
    if (item != null && item.HasChildren)
    {
        <div class="select-container">
            <select name="@name" data-id="@item.ID.ToShortID()">
                <option value="">@Translate.Text(selectAlldictionaryKey)</option>
                @foreach (Item child in item.Children)
                {
                    <option value="@child.ID">@child[valueKey]</option>
                }
            </select>
        </div>
    }
}