﻿@using Sitecore.Data.Items
@using Gizmo.SitecoreGizmo.Items
@using Sitecore.Mvc
@using System.Text.RegularExpressions
@using Sitecore.Configuration
@using Sitecore.Resources.Media
@using Sitecore.Globalization
@using Sitecore.Links

@* Html Text. *@
@helper HtmlText(System.Web.Mvc.HtmlHelper html, Item item, string fieldKey)
{
    var text = ScValue.GetHtml(item, fieldKey);
    if (!text.ToString().Trim().StartsWith("<p>"))
    {
        text = new HtmlString(string.Concat("<p>" + text.ToString() + "</p>"));
    }
    @text
}