﻿@using Gasag.Web.Utility
@using Gizmo.SitecoreGizmo.Items

@* Google Analytics *@
@helper GoogleAnalytics()
{
    if (Sitecore.Context.PageMode.IsExperienceEditor)
    {
        return;
    }

    if (Instance.IsEdl)
    {
        <script>
            (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
            })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

            ga('create', 'UA-96801139-1', 'auto');
            ga('send', 'pageview');
            ga('set', 'anonymizeIp', true);
        </script>
    }
    @*else
    {
        <script>
            (function (i, s, o, g, r, a, m) {
                i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {

                    (i[r].q = i[r].q || []).push(arguments)
                }, i[r].l = 1 * new Date(); a = s.createElement(o),

                m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)

            })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');
            ga('create', 'UA-69057930-1', 'auto');
            ga('send', 'pageview');
            ga('set', 'anonymizeIp', true);
        </script>
    }*@
}

@* Google Adwords *@
@helper GoogleAdwords()
{
    if (Sitecore.Context.PageMode.IsExperienceEditor)
    {
        return;
    }

    var trackingItems = ScValue.GetItems(Sitecore.Context.Item, "Tracking Codes").Select(x => ScValue.GetString(x, "Value"));
    if (!trackingItems.Any())
    {
        return;
    }

    foreach (var trackingItem in trackingItems)
    {
        var conversionLabel = "";
        if (trackingItem == "google adwords order electricity")
        {
            conversionLabel = "WUnDCN-F62oQrvf-ywM";
        }
        else if (trackingItem == "google adwords order gas")
        {
            conversionLabel = "LLQdCPfmg2sQrvf-ywM";
        }
        else if(trackingItem == "google adwords warmth contactform")
        {
            conversionLabel = "-WWoCMTHxmAQrvf-ywM";
        }

        if (string.IsNullOrWhiteSpace(conversionLabel))
        {
            continue;
        }

        <script type="text/javascript">
            /* <![CDATA[ */
            var google_conversion_id = 964672430;
            var google_conversion_language = "en";
            var google_conversion_format = "3";
            var google_conversion_color = "ffffff";
            var google_conversion_label = "@conversionLabel";
            var google_remarketing_only = false;
            /* ]]> */
        </script>
        <script type="text/javascript" src="//www.googleadservices.com/pagead/conversion.js">
        </script>
        <noscript>
            <div style="display:inline;">
                <img height="1" width="1" style="border-style:none;" alt="" src="//www.googleadservices.com/pagead/conversion/964672430/?label=@conversionLabel&amp;guid=ON&amp;script=0" />
            </div>
        </noscript>
    }
}

@* Google Tag Manager *@
@helper GoogleTagManagerScript()
{
    if (Sitecore.Context.PageMode.IsExperienceEditor)
    {
        return;
    }

    if (Instance.IsStage)
    {

        <!-- Google Tag Manager -->
        <script>
        (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
        new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
        j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
        'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
        })(window,document,'script','dataLayer','GTM-MN2GR7Z');</script>
        <!-- End Google Tag Manager -->

    }
    else
    {
        <!-- Google Tag Manager -->
        <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
        new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0], 
        j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
        'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
        })(window,document,'script','dataLayer','GTM-TNPPSW');</script>
        <!-- End Google Tag Manager -->
    }
}
@helper GoogleTagManagerNoScript()
{
    if (Sitecore.Context.PageMode.IsExperienceEditor)
    {
        return;
    }

    if (Instance.IsStage)
    {
        <!-- Google Tag Manager (noscript) -->
        <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-MN2GR7Z"
        height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
        <!-- End Google Tag Manager (noscript) -->
    }
    else
    {
        <!-- Google Tag Manager (noscript) -->
        <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-TNPPSW" 
        height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
        <!-- End Google Tag Manager (noscript) -->
    }
}

@* Zanox *@
@helper Zanox()
{
    if (Sitecore.Context.PageMode.IsExperienceEditor)
    {
        return;
    }

    var trackingItems = ScValue.GetItems(Sitecore.Context.Item, "Tracking Codes").Select(x => ScValue.GetString(x, "Value"));
    var ids = new List<string>();
    foreach (var trackingItem in trackingItems)
    {
        var id = "";
        if (trackingItem == "zanox basket")
        {
            id = "47BDB1FF2F5C8A60240C";
        }
        else if (trackingItem == "zanox category")
        {
            id = "5A60CEF71B3C9F6F43F7";

            var category = ScValue.GetString(Sitecore.Context.Item, "Title");
            if (string.IsNullOrWhiteSpace(category))
            {
                category = Sitecore.Context.Item.DisplayName;
            }

            <script type="text/javascript">
                /* <![CDATA[ */
                var zx_category = "@category";
                /* ]]> */
            </script>
        }
        else if (trackingItem == "zanox checkout")
        {
            id = "73A17FAE58DD8F7E439A";
        }
        else if (trackingItem == "zanox home")
        {
            id = "2BE576EC3FEDBD12D41F";
        }
        else if (trackingItem == "zanox product")
        {
            id = "16A306B5113DAD6CE5A1";

            var productName = ScValue.GetString(Sitecore.Context.Item, "Tariff Name");
            if (string.IsNullOrWhiteSpace(productName))
            {
                productName = Sitecore.Context.Item.DisplayName;
            }
            var productId = ScValue.GetString(Sitecore.Context.Item, "Product Id");

            <script type="text/javascript">
                /* <![CDATA[ */
                var zx_fn = "@productName";
                var zx_identifier = "@productId";
                /* ]]> */
            </script>
        }
        else if (trackingItem == "zanox registration")
        {
            id = "57BA334715128EC591CB";
        }
        else if (trackingItem == "zanox search")
        {
            id = "7D82CC1734F7FA219A61";
        }

        if (string.IsNullOrWhiteSpace(id))
        {
            continue;
        }

        ids.Add(id);
    }

    if (!ids.Any())
    {
        // Add generic tracking.
        ids.Add("2FBDCBEE1854CFFE864D");
    }

    foreach (var id in ids)
    {
        <div class="zx_@id zx_mediaslot">
            <script type="text/javascript">
                window._zx = window._zx || [];
                window._zx.push({"id":"@id"});
                (function(d) {
                    var s = d.createElement("script"); s.async = true;
                    s.src = (d.location.protocol == "https:" ? "https:" : "http:") + "//static.zanox.com/scripts/zanox.js";
                    var a = d.getElementsByTagName("script")[0]; a.parentNode.insertBefore(s, a);
                }(document));
            </script>
        </div>
    }
}

@* Track tariff calculator order using zanox on success page. *@
@helper ZanoxAffiliate()
{
    if (Sitecore.Context.PageMode.IsExperienceEditor)
    {
        return;
    }

    if (!ScValue.GetItems(Sitecore.Context.Item, "Tracking Codes").Any(x => ScValue.GetString(x, "Value") == "zanox affiliate order"))
    {
        return;
    }

    var zo = Gasag.Web.General.ZanoxOrder.GetForCurrentUser();
    if (zo == null)
    {
        return;
    }

    var scriptCode = string.Format(
        "https://ad.zanox.com/pps/?17005C2091102327&mode=[[1]]&CID=[[{0}]]&CustomerID=[[{1}]]&OrderID=[[{2}]]&CurrencySymbol=[[{3}]]&TotalPrice=[[{4}]]&PartnerID=[[{5}]]",
        zo.Cid,
        zo.CustomerId,
        zo.OrderId,
        zo.CurrencySymbol,
        zo.TotalPrice,
        zo.PartnerId
    );
    var imgCode = string.Format(
        "https://ad.zanox.com/pps/?17005C2091102327&mode=[[2]]&CID=[[{0}]]&CustomerID=[[{1}]]&OrderID=[[{2}]]&CurrencySymbol=[[{3}]]&TotalPrice=[[{4}]]&PartnerID=[[{5}]]",
        zo.Cid,
        zo.CustomerId,
        zo.OrderId,
        zo.CurrencySymbol,
        zo.TotalPrice,
        zo.PartnerId
    );

    <script type="text/javascript" src="@scriptCode">
    </script>
    <noscript>
        <img src="@imgCode" width="1" height="1" />
    </noscript>
}