
@import (reference) "../../variables";

//
// Module: Image-Text Teaser
// -------------------------
//
// Note:
// Font size settings differ from the rest of the page...

//
// Color setup overview
// --------------------

@color-image-text-teaser-default-background: @color-corporate-white;


#page-home .module-home-image-text-teaser {
	.well {
		background: @color-image-text-teaser-default-background center center;
		background-size: cover;
	}

	@media @media-to-m {
		.col-lg-4,
		.col-lg-8 {
			width: 100%;
		}

		.col-lg-4 .well:first-child {
			height: 200px;
			margin-bottom: 0;
		}
	}
}
