
@import (reference) "../../variables";

//
// Module: Product Teasers
// -----------------------

//
// Color setup overview
// --------------------

@color-product-teasers-text: @color-corporate-white;

@color-product-teasers-background-electricity: @color-highlight-blue;
@color-product-teasers-background-natural-gas: @color-highlight-green;
@color-product-teasers-background-warmth: @color-highlight-orange;


#page-home .module-home-product-teasers {
	.well {
		padding-bottom: @spacing-largest + @spacing-atomic;

		&.electricity {
			background-color: @color-product-teasers-background-electricity;
		}

		&.natural-gas {
			background-color: @color-product-teasers-background-natural-gas;
		}

		&.warmth {
			background-color: @color-product-teasers-background-warmth;
		}

		h3, p {
			color: @color-product-teasers-text;
		}

		p {
			margin-bottom: @spacing-large;
			font-size: @font-size-m;

			&:last-child {
				margin-bottom: 0;
			}
		}
	}

	@media @media-to-m {
		.col-lg-4 {
			width: 100%;
		}
	}
}
