
@import (reference) "../../variables";
@import (reference) "../../mixins/sizing";

//
// Module: Slider
// --------------

//
// Color setup overview
// --------------------

@color-home-slider-background: @color-corporate-blue-dark;
@color-home-slider-headline: @color-corporate-white;
@color-home-slider-text: @color-corporate-white;

@color-home-slider-slick-dot-active: @color-highlight-orange;
@color-home-slider-slick-dot-inactive: @color-highlight-blue;


#page-home .module-home-slider {
	background-color: @color-home-slider-background;

	.container {
		height: @height-stage-huge;

		background-image: url(../img/layout/stage/gradient-l.png);
		background-size: 100% 100%;

		overflow: hidden;

		.col-lg-6 {
			height: @height-stage-huge;
		}

		@media @media-to-l {
			height: auto;

			.col-lg-6 {
				height: 350px; // Value not defined by design, thus just guessed.
			}
		}

		@media @media-from-m-to-l {
			background-image: url(../img/layout/stage/gradient-m.png);
		}

		@media @media-to-m {
			background-image: url(../img/layout/stage/gradient-s.png);
		}
	}

	.stage-slider {
		position: relative;
		height: inherit;

		.stage-slider-image {
			width: 100%;
			height: 100%;

			// Do not optimize, it makes the image huge.
			background-position: bottom right;
			background-size: contain;
			background-repeat: no-repeat;
		}
	}

	.slick-slide {
		height: inherit;
		outline: none;

		h1 {
			color: @color-home-slider-headline;
			font-size: @font-size-huge * 1.5;
			line-height: @line-height-headlines;

			@media @media-from-m-to-l {
				font-size: @font-size-huge * 1.32;
			}

			@media @media-to-m {
				font-size: @font-size-huge;
			}
		}

		p {
			color: @color-home-slider-text;
			font-size: @base-font-size * 1.5;

			@media @media-from-m-to-l {
				font-size: @base-font-size * 1.35;
			}

			@media @media-to-m {
				font-size: @base-font-size * 1.2;
			}
		}

		@media @media-to-l {
			.col-lg-6 {
				width: 100%;
			}
		}

		@media @media-from-m-to-l {
			.col-lg-6:first-child {
				text-align: center;
			}
		}
	}

	ul.slick-dots {
		position: absolute;
		bottom: @spacing-largest;

		padding: 0;
		margin: 0;

		list-style: none;

		li {
			.square(@spacing-tiny + @spacing-atomic);

			float: left;
			margin-right: @spacing-tiny;
			background-color: @color-home-slider-slick-dot-inactive;

			cursor: pointer;

			&.slick-active {
				background-color: @color-home-slider-slick-dot-active;
			}

			button {
				display: none;
			}
		}
	}
}
