
@import (reference) "../../variables";

//
// Module: Tariff Teaser
// ---------------------
//
// Note:
// Font size settings differ from the rest of the page...

//
// Color setup overview
// --------------------


#page-home .module-home-tariff-teasers {
	overflow: hidden;

	.well {
		height: 100%;

		padding: @spacing-large;

		background-color: @white;

		h3 {
			font-size: @font-size-os-ml;
			font-weight: 700;
		}

		.disturber {
			float: left;

			+ .tariff-teaser-text-body {
				@disturber-gap: @size-disturber + @spacing-default;

				float: right;
				width: calc(~'100% - @{disturber-gap}');

				.btn {
					font-size: @font-size-os-s;
				}
			}
		}

		&.green {
			background-color: @color-highlight-green;

			.disturber {
				background-color: @white;

				.text, .text .disturber-price {
					color: @color-highlight-green;
				}
			}

			.tariff-teaser-text-body {
				color: @white;
			}
		}

		&.blue {
			background-color: @color-highlight-blue;

			.disturber {
				background-color: @white;

				.text, .text .disturber-price {
					color: @color-highlight-blue;
				}
			}

			.tariff-teaser-text-body {
				color: @white;
			}
		}

		@media @media-to-l {
			.disturber {
				float: none;
				margin-left: auto;
				margin-right: auto;

				+ .tariff-teaser-text-body {
					float: none;
					width: 100%;
				}
			}
		}
	}

	@media @media-from-m-to-l {
		.well {
			padding-top: @spacing-default;
			padding-bottom: @spacing-larger;

			.disturber {
				margin-top: 0;
				margin-bottom: @spacing-large;
			}
		}
	}

	@media @media-to-m {
		.col-lg-6 {
			float: none;
			width: 100%;

			.well {
				padding: @spacing-small @spacing-small @spacing-default;

				.disturber {
					margin-top: 0;
					margin-bottom: @spacing-default + @spacing-atomic;
				}
			}
		}
	}
}
