
@import (reference) "../../variables";

//
// tariff calculator Stage
// --------------------

.tariff-calculator-stage {
	width: 460px;

	@media @media-to-l {
		max-width: 460px;
		width: auto;
	}

	.nav-tabs {
		margin: 0;
		padding: 0;

		li {
			background-color: @white;
			display: inline-block;
			list-style-type: none;
			position: relative;
			margin-right: @spacing-tiny;

			a {
				color: @color-corporate-blue-dark;
				display: block;
				font-size: @font-size-os-sm;
				text-decoration: none;
				padding: @spacing-tiny @spacing-small;
			}

			&:first-of-type {
				&:before {
					content: none;
				}

				a {
					padding-left: @spacing-default;
				}
			}

			&:before {
				content: '';
				position: absolute;
				top: 0;
				left: -8px;
				display: block;
				width: 0;
				height: 0;
				border-style: solid;
				border-width: 0 8px 50px 0;
				border-color: transparent @white transparent transparent;
			}

			&:after {
				content: '';
				position: absolute;
				top: 0;
				right: -8px;
				display: block;
				width: 0;
				height: 0;
				border-style: solid;
				border-width: 50px 0 0 8px;
				border-color: transparent transparent transparent @white;
			}

			&.active {
				a {
					color: @color-corporate-white;
				}

				&.green {
					background-color: @color-highlight-green;
					&:before {
						border-color: transparent @color-highlight-green transparent transparent;
					}

					&:after {
						border-color: transparent transparent transparent @color-highlight-green;
					}
				}

				&.blue {
					background-color: @color-highlight-blue;
					&:before {
						border-color: transparent @color-highlight-blue transparent transparent;
					}

					&:after {
						border-color: transparent transparent transparent @color-highlight-blue;
					}
				}
			}
		}
	}

	.tariff-calculator-tab {
		position: relative; // Necessary to position above headline when space is running low.

		display: none;
		padding: @spacing-large;

		background-color: @white;

		label {
			cursor: pointer;

			span {
				color: @color-corporate-blue-dark;
				font-size: @font-size-os-m;
				font-weight: 700;

				@media @media-to-m {
					font-size: @font-size-os-s;
				}
			}

			input {
				width: 125px;

				&.tariff-calculator-zip {
					width: 100%;
				}

				@media @media-to-m {
					width: 100%;
					display: block;
					margin-bottom: @spacing-atomic-tiny;
				}
			}
		}

		&.active-tab {
			display: block;
		}

		.tariff-calculator-label, .tariff-calculator-label span {
			color: @color-corporate-blue-dark;
			font-size: @font-size-os-m;
			font-weight: 700;

			@media @media-to-m {
				font-size: @font-size-os-s;
			}
		}

		.form-element.submit {
			text-align: center;
		}
	}
}
