
@import (reference) "../../variables";

//
// Module: Accordion
// -----------------
//
// Note:
// Accordions also appear at small mobile resolution as tabs get transformed into accordions.

//
// Color setup overview
// --------------------

@color-accordion-inactive-text: @color-headline-default;
@color-accordion-inactive-background: @color-corporate-white;

@color-accordion-active-background: @color-border-light; // Seamless with border.
@color-accordion-active-text: @color-highlight-orange;

@color-accordion-icon: @color-highlight-orange;
@color-accordion-border: @color-border-light;


// @TODO Add default accordion selectors as soon as implementing it. Example: .accordion-title
.r-tabs .r-tabs-accordion-title {
	height: @size-button-primary;

	margin-bottom: @spacing-tiny;

	color: @color-accordion-inactive-text;

	background-color: @color-accordion-inactive-background;

	&:first-child {
		margin-top: @spacing-small;
	}

	&.r-tabs-state-active {
		color: @color-accordion-active-text;

		background-color: @color-accordion-active-background;

		a:before {
			content: '\e90f';
		}
	}

	a {
		@border-width: 2px;

		position: relative;

		display: block;

		height: inherit;
		line-height: @size-button-primary - 2 * @border-width;

		padding-right: @spacing-large;
		padding-left: @spacing-small;

		color: inherit;
		font-family: @base-font-family-ultra;
		font-size: @font-size-os-m;

		text-decoration: none;

		border: @border-width solid @color-accordion-border;

		&:before {
			content: '\e90b';

			position: absolute;
			top: -2px; // Subtract top borders.
			right: @spacing-small - 3;
			bottom: 0;

			width: 20px; // No standard size, it is based on the width of a chevron down.
			height: @size-button-primary;
			line-height: @size-button-primary;

			font-family: 'icomoon';
			font-size: 20px;
			color: @color-accordion-icon;
			text-align: center;
		}
	}
}

.r-tabs .r-tabs-panel {
	padding: @spacing-tiny 0 @spacing-small;
}
