
@import (reference) "../../variables";
@import (reference) "../../fonts/icon-font";

//
// Color setup overview
// --------------------

@color-list-bullet-first-level: @color-text-primary;
@color-list-bullet-following-levels: @color-text-default;


.module-bullet-list {
	@media @media-to-m {
		.col-lg-6 {
			width: 100%;
		}
	}

	ul.bullet-list {
		list-style: none;
		padding-left: 25px;

		&.bullet-list-points {
			li {
				position: relative;

				.icon(@icon-stop);

				&:before {
					position: absolute;
					top: 11px;
					left: -22px; // Based on list padding left, but aligned to where the actual letter begins.

					font-size: 8px;
					color: @color-list-bullet-first-level;

					@media @media-from-m-to-l {
						top: 9px;
					}

					@media @media-to-m {
						top: 8px;
					}
				}

				&.list-item-plain {
					&:before {
						display: none;
					}
				}

				ul li:before {
					color: @color-list-bullet-following-levels;
				}
			}
		}

		&.bullet-list-numbers {
			list-style-type: decimal;

			li {
				font-weight: bold;
				color: @color-list-bullet-first-level;

				&.list-item-plain {
					list-style: none;
				}
			}

			ul li {
				list-style: lower-alpha;
				color: @color-list-bullet-following-levels;
			}
		}

		li {
			margin-top: @spacing-atomic;

			&:first-child {
				margin-top: 0;
			}

			&.list-item-plain {
				margin-top: @spacing-atomic-tiny;
			}
		}
	}
}


