
@import (reference) "../../variables";

//
// Color setup overview
// --------------------

@color-button-default-background: @color-corporate-gray-light;
@color-button-default-background-hover: @color-corporate-gray-light-hover;
@color-button-text-default: @color-highlight-orange;
@color-button-text-hover: @color-highlight-orange-hover;

@color-button-primary-background: @color-highlight-orange;
@color-button-primary-background-hover: @color-highlight-orange-hover;
@color-button-primary-text: @color-corporate-white;

@color-button-action-background: @color-corporate-blue-dark;
@color-button-action-text: @color-corporate-white;


.btn {
	border: none;
	display: inline-block;
	height: @size-button-default;
	line-height: @size-button-default;
	outline: none;
	transition: background-color @transition-duration-default;
	font-size: @font-size-os-m;
	text-transform: uppercase;

	@media @media-to-s {
		font-size: @font-size-os-s;
	}

	&.btn-default {
		padding-left: @spacing-default;
		padding-right: @spacing-default;

		background-color: @color-button-default-background;
		color: @color-button-text-default;
		font-family: @base-font-family-ultra;

		&:hover {
			background-color: @color-button-default-background-hover;
		}
	}

	&.btn-primary {
		background-color: @color-button-primary-background;
		color: @color-button-primary-text;
		font-weight: bold;
		height: @size-button-primary;
		line-height: @size-button-primary;
		padding: 0 54px;
		text-decoration: none;

		&:hover {
			background-color: @color-button-primary-background-hover;
		}
	}

	&.btn-link {
		background-color: transparent;
		text-decoration: underline;
		color: @color-button-text-default;
		font-weight: bold;
		height: auto;

		&.btn-white {
			color: @white;
		}

		&:hover {
			color: @color-button-text-hover;
		}
	}
}
