
@import (reference) "../../variables";
@import (reference) "../../fonts/icon-font";

//
// Module: Filter
// --------------

//
// Color setup overview
// --------------------

@color-chosen-border: @color-border-combined-with-light;
@color-chosen-background: @color-corporate-white;
@color-chosen-default-text: @color-text-primary;
@color-chosen-active-text: @color-highlight-orange;

@color-chosen-options-background: @color-border-light;

.error {
	> .chosen-container .chosen-single,
	> .chosen-container-active.chosen-with-drop .chosen-single {
		border-color: @color-highlight-error;
	}
}

// Chosen default setup is very dominant.
.chosen-container-active.chosen-with-drop .chosen-single {
	border: 2px solid @color-chosen-border;
	background: @color-chosen-background none;
}

.chosen-container {
	@height-inner: @size-button-primary - 4; // Subtract 2x border.

	&.chosen-with-drop {
		.chosen-single {
			.icon(@icon-chevron-up);

			&:before {
				line-height: @height-inner;
			}
		}
	}

	.chosen-single {
		display: block;
		height: @size-button-primary;

		padding-right: @spacing-larger;
		padding-left: @spacing-small;

		border-radius: 0;
		box-shadow: none;

		border: 2px solid @color-chosen-border;
		background: @color-chosen-background none;

		.icon(@icon-chevron-down);

		&:before {
			position: absolute;
			top: 0;
			right: 0;

			height: @height-inner;
			line-height: @height-inner;

			padding-right: @spacing-small;

			color: @color-chosen-active-text;
		}

		span {
			line-height: @height-inner;

			margin-right: 0;

			color: @color-chosen-default-text;
			font-family: @base-font-family-ultra;
			font-size: @font-size-os-m;
		}
	}

	.chosen-drop {
		padding: @spacing-tiny 0;
		margin-top: 0;

		border: none;
		background-color: @color-chosen-options-background;

		box-shadow: none;

		ul.chosen-results {
			li.active-result {
				height: @size-select-option;
				line-height: @size-select-option;

				padding: 0 @spacing-small;

				color: @color-chosen-default-text;
				font-family: @base-font-family-ultra;
				font-size: @font-size-os-m;

				&.result-selected {
					color: @color-chosen-active-text;
				}

				&.highlighted {
					color: @color-chosen-active-text;
					background: none;
				}
			}
		}
	}
}
