
@import (reference) "../../variables";
@import (reference) "../../mixins/sizing";

//
// Color setup overview
// --------------------

@color-disturber-default-text: @color-corporate-white;

@color-disturber-electricity: @color-highlight-blue;
@color-disturber-natural-gas: @color-highlight-green;
@color-disturber-warmth: @color-highlight-orange;

.disturber {
	.square(@size-disturber);
	padding: @spacing-small;
	position: relative;

	border-radius: 50%;

	transform: rotate(10deg);

	.text {
		color: @color-disturber-default-text;
		font-family: @base-font-family-ultra;
		font-size: @font-size-os-s;
		font-weight: 700;
		line-height: 23px;
		left: 50%;
		position: absolute;
		padding: 15px;
		text-align: center;
		top: 50%;
		transform: translate(-50%, -50%);
		width: 100%;

		.disturber-price {
			line-height: 65px;

			color: @color-disturber-default-text;
			font-family: @base-font-family-ultra;
			font-size: @font-size-os-xl;
			font-weight: 700;
		}
	}

	&.disturber-electricity {
		background-color: @color-disturber-electricity;
	}

	&.disturber-natural-gas {
		background-color: @color-disturber-natural-gas;
	}

	&.disturber-warmth {
		background-color: @color-disturber-warmth;
	}

	&.big {
		.square(@size-disturber-big);

		.text {
			font-size: @font-size-os-s * 2;
			line-height: 60px;

			.disturber-price {
				font-size: @font-size-os-xxxl * 1.2;
			}
		}
	}
}

@media @media-from-m-to-l {
	.disturber {
		.square(@size-disturber);
		padding: @spacing-tiny + @spacing-atomic;

		.text {
			line-height: 21px;
			font-size: @base-font-size * 0.95;

			.disturber-price {
				line-height: 55px;
				font-size: @font-size-huge * 0.75;
			}
		}

		&.big {
			.square(@size-disturber);

			.text {
				line-height: 23px;
				font-size: @base-font-size * 1.1;

				.disturber-price {
					line-height: 65px;
					font-size: @font-size-huge * 0.9;
				}
			}
		}
	}
}

@media @media-to-m {
	.disturber {
		.square(@size-disturber);
		padding: @spacing-tiny + @spacing-atomic;

		.text {
			line-height: 20px;
			font-size: @base-font-size * 0.75;

			.disturber-price {
				line-height: 45px;
				font-size: @font-size-huge * 0.65;
			}

		}

		&.big {
			.square(@size-disturber);

			.text {
				line-height: 21px;
				font-size: @base-font-size * 0.95;

				.disturber-price {
					line-height: 55px;
					font-size: @font-size-huge * 0.75;
				}
			}
		}
	}
}
