
@import (reference) "../../variables";

//
// Color setup overview
// --------------------

@color-module-download-list-border: @color-border-light;

.module-download-list {
	@media @media-to-m {
		&.col-lg-4,
		&.col-lg-6 {
			width: 100%;
		}
	}

	h3 {
		margin-bottom: @spacing-tiny;
	}

	.list-group {
		li {
			padding: @spacing-tiny 0;

			border-top: 2px solid @color-module-download-list-border;

			&:last-child {
				border-bottom: 2px solid @color-module-download-list-border;
			}

			a {
				font-size: @font-size-os-s;

				@media @media-to-m {
					font-size: @base-font-size-os;
				}
			}
		}
	}
}
