
@import (reference) "../../variables";

//
// Module: Expander
// ----------------
//
// The expander can be used on any page type.
// If there shall be future changes to the expander on a certain page type, please
// add those customizations at that very specific file.
//
// Example:
// #page-content .module-expander button { background-color: purple; }

.module-expander {
	// Headline and Text elements are *both* optional.
	h2, p, div {
		&:first-child {
			margin-top: 0;
		}
	}

	button.btn.btn-default {
		position: relative;
		padding-right: 40px;
		font-size: @font-size-os-xs;
		text-transform: none;

		display: inline-block;

		min-width: 135px; // Defined by design.

		line-height: @size-button-default - @spacing-tiny;

		&.btn-expand {
			&:after {
				content: '\e904';
			}
		}

		&.btn-collapse {
			&:after {
				content: '\e901';
			}
		}

		&:after {
			display: block;

			position: absolute;
			right: 20px;
			top: 0;
			line-height: 50px;

			font-family: 'icomoon';
			font-size: 16px;
		}
	}

	.module-expander-area {
		display: none;
		margin: @spacing-small 0;
	}

	.module-expander-control {
		padding-top: @spacing-small;
		text-align: center;
		display: block;
		width: 100%;
	}
}
