
@import (reference) "../../variables";

//
// Color setup overview
// --------------------

@color-form-border-default: @color-corporate-gray-combined-with-light;
@color-form-background-input-disabled: @color-corporate-gray-light;

.module-form {
	@media @media-to-l {
		.col-lg-4 {
			width: 80%;
			margin-left: 10%;
		}
	}

	@media @media-to-m {
		.col-lg-4 {
			width: 100%;
			margin: 0;
		}
	}
}

.form-element {
	position: relative;
	margin-bottom: @vert-offset-large;

	.clearfix();

	&:last-child {
		margin-bottom: 0;
	}

	&.margin-to-top {
		margin-top: -@vert-offset-large / 2;

		p {
			margin: 0;
		}
	}

	&.footnote {
		p {
			font-size: @font-size-os-xs;
		}
	}

	.search-submit {
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		z-index: 10; // Move above jquery.autocomplete.

		width: @size-button-primary + 5px;

		background-color: transparent;
		border: none;

		color: @color-highlight-orange;
		font-size: @font-size-ml;
		font-family: 'icomoon';
		speak: none
	}

	&.error {
		input[type=password],
		input[type=text],
		input[type=number],
		input[type=tel],
		input[type=email],
		input[type=file] + label,
		input,
		select,
		textarea {
			border-color: @color-highlight-error;
		}
		.icon-error {
			position: absolute;
			right: @spacing-tiny+@spacing-atomic;
			top: @spacing-tiny+@spacing-atomic;
			font-size: @font-size-ml;
			color: @color-highlight-error;
		}

		.text-error {
			color: @color-highlight-error;
			font-size: @font-size-os-m;
			margin: @spacing-tiny 0 0 0;
		}
	}

	.control-label {
		color: @color-text-primary;
		font-family: @base-font-family-ultra;
		font-size: @font-size-l;

		span {
			line-height: @size-button-primary;
		}
	}
}
::-webkit-input-placeholder { /* WebKit, Blink, Edge */
	color: @color-corporate-gray-medium;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
	color: @color-corporate-gray-medium;
	opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
	color: @color-corporate-gray-medium;
	opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
	color: @color-corporate-gray-medium;
}

:focus::-webkit-input-placeholder { color:transparent; }
:focus:-moz-placeholder { color:transparent; } /* FF 4-18 */
:focus::-moz-placeholder { color:transparent; } /* FF 19+ */
:focus:-ms-input-placeholder { color:transparent; } /* IE 10+ */

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	margin: 0;
}

select::-ms-expand {
	display: none;
}

input[type=password],
input[type=text],
input[type=number],
input[type=tel],
input[type=email],
input[type=file],
input[type=file] + label > span,
input,
select,
textarea {
	// Clear custom mobile device appearances.
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;

	&[disabled] {
		background-color: @color-corporate-gray-light;
	}

	width: 100%;
	min-height: @size-button-primary;

	padding: 14px @spacing-small;

	border: 2px solid @color-form-border-default;
	border-radius: 0; // Enforce edgy elements on iOS devices.

	background-color: @color-corporate-white;

	color: @color-corporate-blue-dark;
	font-family: @base-font-family-ultra;
	font-size: @font-size-os-m;

	option {
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
	}

	&:focus {
		outline: 0;
		border-color: @color-border-active;
	}

	&.input-icon {
		padding-right: @spacing-largest;
	}
}


input[readonly] {
	cursor: not-allowed;
}

input[type=file] {
	display: none;

	& + label span {
		cursor: pointer;
		display: block;
		position: relative;
		width: 100%;

		&.upload-icon {
			.icon(@icon-upload, after);

			&:after {
				position: absolute;
				right: @spacing-tiny+@spacing-atomic;
				font-size: @font-size-ml;
				color: @color-highlight-orange;
				text-align: center;
				top: 50%;
				transform: translate(0, -50%);
			}
		}
	}
}

input[type=number] {
	-moz-appearance:textfield;
}

.file-delete {
	cursor: pointer;
	display: none;
	height: 60px;
	position: absolute;
	right: 0;
	text-align: center;
	top: 50%;
	transform: translate(0, -50%);
	width: 60px;
	.icon(@icon-upload_delete, after);
	&:after {
		color: @color-highlight-error;
		font-size: @font-size-ml;
		position: absolute;
		right: @spacing-tiny+@spacing-atomic+2;
		text-align: center;
		top: 50%;
		transform: translate(0, -50%);
	}

	&.active {
		display: block;
	}
}

.no-js {
	input[type=file] {
		display: block;

		& + label span {
			display: none;
		}
	}
}

select {
	background: @color-corporate-white url(../img/layout/chevron-down.png) no-repeat right top;
	padding: 14px @spacing-large 14px @spacing-small;

	option {
		font-family: @base-font-family-ultra;
	}
}

textarea {
	min-height: @spacing-largest * 3;
}

.select-container {
	position: relative;
}

.checkbox {
	display: inline-block;
	margin-bottom: @vert-offset-small;

	@media @media-to-m {
		margin-right: 0;
		display: block;
		margin-bottom: @vert-offset-small;
	}

	input[type="checkbox"] {
		display: none;

		& + label {
			line-height: @size-button-primary;
			cursor: pointer;
			display: block;
			padding-left: @spacing-offset - @spacing-atomic;
			position: relative;

			color: @color-corporate-blue-dark;
			font-family: @base-font-family-ultra;
			font-size: @font-size-os-m;

			&:after {
				width: @size-button-primary - 4;
				height: @size-button-primary - 4;
				background-color: @white;
				border: 2px solid @color-form-border-default;
				color: @black;
				content: "";
				display: inline-block;
				left: 0;
				position: absolute;
				top: 0;
				z-index: 1;
			}
		}

		&:checked {
			& + label {
				.icon(@icon-checkbox);

				&:before {
					position: absolute;
					top:  20px;
					left:  17px;
					z-index: 2;

					display: inline-block;

					color: @color-highlight-orange;
					font-size: 20px;
				}
			}
		}
	}

	&.disabled {
		input[type="checkbox"] {
			& + label {
				cursor: default;
			}
		}

		label:after {
			background-color: @color-form-background-input-disabled;
		}
	}

}
.radio {
	display: inline-block;
	margin-bottom: @vert-offset-small;

	@media @media-to-m {
		display: block;
		margin-bottom: @vert-offset-small;
	}
	input[type="radio"] {
		display: none;

		& + label {
			cursor: pointer;
			display: block;
			padding-top: 16px;
			padding-left: @spacing-largest+@spacing-atomic+@spacing-tiny;
			position: relative;

			color: @color-corporate-blue-dark;
			font-family: @base-font-family-ultra;
			font-size: @font-size-os-m;
			min-height: @size-button-primary;

			@media @media-to-m {
				padding-left: @spacing-largest;
				font-size: @font-size-os-s;
				padding-top: @spacing-tiny;
			}

			&:after {
				width: @size-button-primary - 4;
				height: @size-button-primary - 4;
				background-color: @white;
				border-radius: 50%;
				border: 2px solid @color-form-border-default;
				color: @black;
				content: "";
				display: inline-block;
				left: 0;
				position: absolute;
				top: 0;
				z-index: 1;

				@media @media-to-m {
					width: 46px;
					height: 46px;
				}
			}
		}

		&:checked {
			& + label {
				.icon(@icon-circle);

				&:before {
					position: absolute;
					top:  12px;
					left:  15px;
					z-index: 2;

					display: inline-block;

					color: @color-highlight-orange;
					font-size: 36px;

					@media @media-to-m {
						top: 11px;
						left: 13px;
						font-size: 28px;
					}
				}
			}
		}
	}

	&.disabled {
		input[type="radio"] {
			& + label {
				cursor: default;
			}
		}

		label:after {
			background-color: @color-form-background-input-disabled;
		}
	}

}

.checkbox,
.radio {
	input {
		box-sizing: border-box;
	}
}

input {
	&.btn {
		&.btn-primary,
		&.btn-link {
			width: auto;

			padding: 0 @spacing-default;
			text-transform: uppercase;

			font-family: @base-font-family;

			@media @media-to-s {
				display: block;
				width: 100%;
				margin-bottom: @vert-offset-small;
			}
		}
	}
}





///////////////////////////////////////////////////////////////////////////////////////////////
// Important block for form validation using html5 require.
//
// The checkbox element *MUST* be targetable (visible) in the dom, otherwise the form
// cannot be submitted. Position and size must be kept for correct require hint placement.
///////////////////////////////////////////////////////////////////////////////////////////////

.expose-inputs-for-validation {
	.checkbox {
		input[type="checkbox"] {
			// Do not activate *ANY* option that hides the element from the DOM, it breaks required="required" form validation!
			//display: none;
			//visibility: hidden;
			//width: 0;
			//height: 0;

			display: block;

			width: @size-button-primary;
			opacity: 0; // This is okay, the elements remains in the DOM and is targetable.

			& + label {
				margin-top: -@size-button-primary;
			}
		}
	}
}
