
@import (reference) "../../variables";
@import (reference) "../../fonts/icon-font";

//
// Module: Gallery
// ----------------------
//
// Example:
// #page-content .module-gallery a { color: green; }

//
// Color setup overview
// --------------------

@color-gallery-text: @color-text-default;

// When it shall be usable everywhere just remove #page-content and move the file to modules/common.
.module-gallery {
	position: relative;
	.gallery {
		overflow: hidden;
		padding-bottom: 80px;

		.slick-list {
			margin-right: -@vert-offset-small;
		}

		.gallery-slide {
			margin-right: @vert-offset-small;
		}

		.slick-arrow {
			background-color: @color-corporate-blue-dark;
			border: none;
			bottom: 0;
			color: @white;
			cursor: pointer;
			display: inline-block;
			height: 60px;
			left: 50%;
			margin-left: -100px;
			line-height: inherit;
			outline: none;
			position: absolute;
			text-indent: -9999px;
			transform: translate(-50%, 0%);
			width: 60px;
			z-index: 10;

			.icon(@icon-chevron-left);

			&.slick-next {
				left: 50%;
				margin-left: 100px;
				.icon(@icon-chevron-right);
			}

			&.slick-disabled {
				opacity: 0.5;
				cursor: default;
			}

			&:before {
				font-size: 27px;
				left: 50%;
				position: absolute;
				text-align: center;
				text-indent: 0;
				top: 50%;
				transform: translate(-50%, -50%);
			}

			&:not(.slick-disabled):hover {
				background-color: @color-corporate-blue-dark-hover;
			}
		}
	}

	.count {
		bottom: 0;
		color: @color-corporate-blue-dark;
		display: inline-block;
		font-size: @base-font-size;
		font-weight: bold;
		height: 60px;
		left: 50%;
		line-height: 60px;
		outline: none;
		position: absolute;
		vertical-align: top;
		text-align: center;
		transform: translate(-50%, 0%);

		span {
			color: @color-corporate-blue-dark;
		}
	}
}
