
@import (reference) "../../variables";

//
// Color setup overview
// --------------------

@color-module-download-list-border: @color-border-light;

.module-link-list {

	h3 {
		margin-bottom: @spacing-tiny;
	}

	.list-group {
		li {
			&:before {
				content: '';
			}
			a {
				font-size: @font-size-os-s;

				@media @media-to-m {
					font-size: @base-font-size-os;
				}
			}
		}
	}

	ul.list-group.list-group-default li {
		padding: @spacing-tiny 0 0 15px;
		a {
			&:before {
				top: 14px;
			}
		}
	}

	@media @media-to-m {
		&.col-lg-4,
		&.col-lg-6 {
			width: 100%;
		}
	}
}
