
@import (reference) "../../variables";

//
// Color setup overview
// --------------------

@color-link-line-anchor-text-default: @color-text-default;
@color-link-line-anchor-text-hover: @color-highlight-orange;

.module-link-line {
	.list-group {
		li {
			float: left;
			margin-right: @spacing-small;
			position: relative;

			&:last-child {
				margin-right: 0;

				&:after {
					content: '';
					display: none;
				}
			}

			&:after {
				content: '|';

				position: absolute;
				top: 0; // Vertically align bar top with text top.
				right: -@spacing-small;

				display: block;
				width: @spacing-small;

				text-align: center;
				font-size: @font-size-m;
			}

			a {
				margin-bottom: @spacing-tiny;

				font-size: @font-size-m;
				color: @color-link-line-anchor-text-default;

				&:hover {
					color: @color-link-line-anchor-text-hover;
					text-decoration: none;
				}
			}
		}
	}
}
