
@import (reference) "../../variables";

//
// Color setup overview
// --------------------

@color-list-group-border-default: @color-border-light;

@color-list-group-textual-headline: @color-text-primary;
@color-list-group-textual-anchor: @color-text-default;

@color-list-group-alternate-text: @color-corporate-white;


ul.list-group {
	list-style: none;
	margin: 0;
	padding: 0;

	&.list-group-default {
		border-top: 2px solid @color-list-group-border-default;

		li {
			padding: @spacing-tiny 0 @spacing-tiny @spacing-tiny + @spacing-atomic;
			position: relative;

			a {
				font-size: @font-size-os-s;
			}

			a:before {
				position: absolute;
				top: 12px;
				left: -3px;

				content: '\e905';
				display: inline-block; // Necessary to remove icon underline on Edge browser.

				font-family: 'icomoon';
				font-size: @font-size-s;

				speak: none;
			}
		}
	}

	&.list-group-textual {
		li {
			margin-bottom: @spacing-tiny;
			font-size: @font-size-os-s;

			&:first-child {
				color: @color-list-group-textual-headline;
			}

			a {
				color: @color-list-group-textual-anchor;
				font-size: @font-size-os-s;
			}
		}
	}

	// On alternate (dark) background -> white (main) links.
	&.list-group-alternate {
		li {
			margin-top: @spacing-atomic;

			a {
				display: inline-block;

				color: @color-list-group-alternate-text;
				font-size: @font-size-os-s;
				font-weight: bold;

				text-decoration: underline;
			}
		}
	}

	li {
		font-size: @font-size-m;

		a {
			display: block;
			font-size: @font-size-os-s;
			line-height: 1.4;
			padding-bottom: 10px;

			.list-item-info {
				color: @color-corporate-gray-medium;
				float: right;
				font-size: 13px;
				padding-top: 3px;
			}
		}
	}
}
