
@import (reference) "../../variables";
@import (reference) "../../mixins/align-first-element";

//
// Color setup overview
// --------------------

@color-modal-background: @color-highlight-dark-blue;
@color-modal-text: @color-corporate-white;
@color-modal-input-border: @color-border-combined-with-light;
@color-modal-text-error: @color-highlight-orange;


.modal {
	position: absolute;
	top: 0;
	right: 0;

	z-index: 5; // Just a little bit above stage slider.

	width: 430px;

	padding: @spacing-default;

	background-color: @color-modal-background;

	p, a {
		color: @color-modal-text;
		font-size: @font-size-os-s;
	}

	a:hover {
		text-decoration: underline;
	}

	form {
		.align-first-element();

		&.form-login {
			.form-element {
				float: left;

				display: inline-block;

				width: calc(~'50% - @{spacing-tiny} / 2');
				margin-bottom: @spacing-tiny;

				input {
					font-size: @font-size-os-s;

					@media @media-to-l {
						font-size: @font-size-os-xs;
					}
				}

				.login-password {
					margin-left: @spacing-tiny;
				}

				@media @media-to-s {
					width: 100%;

					.login-password {
						margin-left: 0;
					}
				}
			}

			button {
				width: 100%;
				text-transform: uppercase;
			}
		}

		&.form-search {
			.form-element {
				margin-bottom: 0;
			}
		}

		input {
			border-color: @color-modal-input-border;
		}

		.error-message {
			color: @color-modal-text-error;
		}
	}
}
