
@import (reference) "../../variables";

//
// Color setup overview
// --------------------

@color-search-autocomplete-input-hint: @color-corporate-gray-medium;
@color-search-autocomplete-input-border: @color-border-combined-with-light;

@color-search-autocomplete-item-text-highlight: @color-text-primary;
@color-search-autocomplete-item-background-hover: @color-highlight-blue;

.xdsoft_autocomplete {
	// For some, yet unknown, reasons the plugins scales down to 239px on window resize.
	// To prevent size changes the plugin setup must be overwritten.
	width: 100% !important; // MUST be important to overwrite inline css style.
	background-color: @white;

	.xdsoft_autocomplete_dropdown {
		margin-top: 0;

		border: 2px solid @color-search-autocomplete-input-border;
		border-top: none;

		> div {
			height: @size-button-default;
			line-height: @size-button-default;

			color: @color-search-autocomplete-item-text-highlight;

			font-family: @base-font-family-ultra;
			font-size: @base-font-size;
			
			overflow: hidden;

			&.active {
				background: @color-corporate-gray-combined-with-light;
				color: @color-search-autocomplete-item-text-highlight;

				b {
					color: @color-corporate-gray-medium;
				}
			}

			b {
				color: @color-corporate-gray-medium;

				font-family: inherit;
				font-size: inherit;
				font-weight: normal;
			}
		}
	}

	.xdsoft_input {
	}

	// This is the light colored input completion hint.
	.xdsoft_autocomplete_hint {
		// Change those 2 values to adjust hint color. #ccc is default and roughly equals what google uses.
		//-webkit-text-fill-color: #ccc !important;
		//text-fill-color: #ccc !important;
	}
}
