
@import (reference) "../../variables";
@import (reference) "../../mixins/sizing";

//
// Module: Stage
// -------------

//
// Color setup overview
// --------------------

@color-stage-background: @color-corporate-blue-dark;
@color-stage-headline: @color-corporate-white;
@color-stage-text: @color-corporate-white;

.module-stage-small {

	background-color: @color-stage-background;
	width: 100%;
	height: 250px;
	position: relative;

	&:before {
		content: '';
		width: 3000px;
		background-color: @color-stage-background;
		height: 250px;
		position: absolute;
		left: -3000px;
	}

	&:after {
		content: '';
		width: 3000px;
		background-color: @color-stage-background;
		height: 250px;
		position: absolute;
		right: -3000px;
	}

	@media @media-to-l {
		left: -20px;
		width: 115%; // Fallback for calc(...) at android 4.3 native browsers.
		width: calc(~'100% + 40px');
		height: 238px;

		&:before, &:after {
			content: none;
		}
	}

	@media @media-to-m {
		height: 179px;
	}

	.stage-small-container {
		float: left;
		height: 100%;
		overflow: hidden;
		position: relative;
		width: 100%;

		.text {
			left: @spacing-tiny;
			position: absolute;
			text-align: left;
			top: 50%;
			transform: translate(0, -50%);
			z-index: 4;
			max-width: 50%;

			@media @media-to-l {
				max-width: 90%;
			}

			h2 {
				-webkit-appearance: none;
				box-decoration-break: clone;
				color: @white;
				display: inline;
				font-weight: 600;
				line-height: 49px;
				text-transform: uppercase;

				&.green {
					background-color: @color-corporate-green;
					box-shadow: @spacing-tiny 0 0 @color-corporate-green,-@spacing-tiny 0 0 @color-corporate-green;
				}

				&.blue {
					background-color: @color-corporate-blue-dark;
					box-shadow: @spacing-tiny 0 0 @color-corporate-blue-dark,-@spacing-tiny 0 0 @color-corporate-blue-dark;
				}

				@media @media-to-l {
					line-height: 35px;
				}
			}
		}

		.background-image {
			img {
				height: 100%;
				left: 50%;
				position: absolute;
				text-align: center;
				top: 50%;
				transform: translate(-50%, -50%);
			}
		}

		@media @media-to-l {
			float: left;
			width: 100%;

			&:after, &:before {
				content: none;
			}

			.text {
				width: 75%;
			}
		}

		@media @media-to-m {
			.text {
				width: 90%;
			}
		}
	}
}

.module-stage-small.stage-small-with-sidebar {
	.stage-small-container {
		float: right;
		width: calc(~'75% + 10px');

		&:after {
			content: '';
			position: absolute;
			right: 0;
			background: -moz-linear-gradient(left,  rgba(30,87,153,0) 0%, rgba(0,78,118,1) 100%);
			background: -webkit-linear-gradient(left,  rgba(30,87,153,0) 0%,rgba(0,78,118,1) 100%);
			background: linear-gradient(to right,  rgba(30,87,153,0) 0%,rgba(0,78,118,1) 100%);
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#001e5799', endColorstr='#004e76',GradientType=1 );
			width: 20%;
			height: 100%;
			z-index: 3;
		}

		@media @media-to-l {
			float: left;
			width: 100%;

			&:after, &:before {
				content: none;
			}

			.text {
				width: 75%;
			}
		}

		@media @media-to-m {
			.text {
				width: 90%;
			}
		}
	}
}
