
@import (reference) "../../variables";

* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

/*
 * Only necessary for android as they ignore overflow on html and body tags.
 * Prevents stage "expander" (left right) to stretch the page.
 */
.page-wrapper {
	overflow-x: hidden;
}

body .page-wrapper > .container {
	padding-bottom: @spacing-large;
}

.container {
	position: relative;
	padding: 0 @spacing-small;

	@media @media-from-l {
		margin: 0 auto;

		max-width: @screen-l-max;
	}

	@media @media-to-l {
		margin: 0;
	}

	@media @media-to-s {
		min-width: @screen-xs-max - 2 * @spacing-small;
	}

	&:before {
		display: table;
		content: " ";
	}

	&.container-responsive-default > .row > .col-lg-8 {
		@media @media-from-m-to-l {
			float: none;
			max-width: 700px; // Defined in design.
			width: auto;

			margin-left: auto;
			margin-right: auto;
		}

		@media @media-to-m {
			width: 100%;
			margin-left: 0;
		}
	}
}

.row {
	margin-left: -@spacing-small / 2;
	margin-right: -@spacing-small / 2;

	&:after {
		content: "";
		clear: both;
		display: block;
		visibility: hidden;
		height: 0;
	}

	&.row-section {
		margin-bottom: @spacing-apart / 3;

		.row.row-section:last-of-type {
			margin-bottom: 0; // Nested rows (modules including their own row) shall not create additional spacing.
		}
	}
}

.col-loop (@i) when (@i > 0) {
	.col-lg-@{i} {
		float: left;

		width: percentage(@i / 12);

		padding-left: @spacing-small / 2;
		padding-right: @spacing-small / 2;
	}

	.col-lg-offset-@{i} {
		margin-left: percentage(@i / 12);
	}

	@media @media-to-s {
		.col-lg-@{i} {
			width: 100%; // Default behavior, can be adjusted to certain needs.
		}

		.col-lg-offset-@{i} {
			margin-left: 0;
		}
	}

	.col-loop(@i - 1);
}
.col-loop(12);
