
@import (reference) "../../variables";
@import (reference) "../../mixins/align-first-element";

//
// Module: Tabs
// ------------
//
// The tabs can be used on any page type.
// If there shall be future changes to the tabs on a certain page type, please
// add those customizations at that very specific file.
//
// Example:
// #page-content .module-tabs a { color: green; }

//
// Color setup overview
// --------------------

@color-nav-background: @color-corporate-blue-dark;

@color-nav-tab-default-background: @color-corporate-blue-dark;
@color-nav-tab-default-text: @color-corporate-white;

@color-nav-tab-hover-background: @color-corporate-blue-dark-hover;

@color-nav-tab-active-background: @color-highlight-orange;
@color-nav-tab-active-text: @color-corporate-white;

@color-nav-tab-spacing: @color-corporate-white;


.module-tabs {
	ul.nav {
		list-style: none;

		margin: 0 0 @spacing-small;
		padding: 0;

		&.nav-tabs {
			position: relative;

			height: @size-button-default;
			width: 100%;

			overflow: hidden;
			background-color: @color-nav-background;

			@media @media-from-m {
				display: flex;
				flex-direction: row; // default
				flex-wrap: nowrap; // default
			}

			&:after {
				content: '';

				position: absolute;
				top: 0;
				right: 0;

				display: block;

				border-bottom: @size-button-default solid transparent;
				border-right: @spacing-atomic solid @color-nav-tab-spacing;
			}

			li {
				position: relative;

				height: @size-button-default;

				// Padding is shared between li and a. The li needs it for the ellipsis, the a needs it for the click/hover area.
				padding-right: @spacing-small + @spacing-atomic;

				overflow: hidden;

				color: @color-nav-tab-default-text;
				white-space: nowrap;
				text-overflow: ellipsis;

				background-color: @color-nav-tab-default-background;

				transition: background-color @transition-duration-default;

				&:hover {
					background-color: @color-nav-tab-hover-background;
				}

				&:first-child:before {
					display: none;
				}

				&:last-child {
					width: @spacing-atomic;
					padding: 0;

					&:after {
						display: none;
					}
				}

				&:before,
				&:after {
					content: '';

					position: absolute;
					top: 0;

					display: block;
				}

				&:before {
					left: 0;

					border-top: @size-button-default solid transparent;
					border-left: @spacing-atomic solid @color-nav-tab-spacing;
				}

				&:after {
					right: 0;

					border-right: @spacing-atomic solid @color-nav-tab-spacing;
					border-bottom: @size-button-default solid transparent;
				}

				&.active,
				&.r-tabs-state-active {
					background-color: @color-nav-tab-active-background;
					color: @color-nav-tab-active-text;
				}

				.nav-closing {
					position: absolute;
					top: 0;
					right: -@spacing-tiny;

					display: block;

					border-bottom: @size-button-default solid transparent;
					border-right: @spacing-atomic solid @color-nav-tab-spacing;
				}

				a {
					line-height: @size-button-default;
					padding: @spacing-tiny @spacing-tiny @spacing-tiny @spacing-default;
					font-size: @font-size-os-sm;

					color: inherit;

					&:hover {
						text-decoration: none;
					}
				}
			}
		}
	}

	.r-tabs {
		.r-tabs-panel {
			padding: @spacing-small 0 0;

			.align-first-element();
		}

		.r-tabs-accordion-title {
			&.r-tabs-state-active + .r-tabs-panel + .r-tabs-accordion-title {
				margin-top: @spacing-small;
			}

			a {
				overflow: hidden;
				text-overflow: ellipsis;
				white-space: nowrap;
			}
		}
	}
}
