@import (reference) "../../variables";
@import (reference) "../../fonts/icon-font";

//
// Color setup overview
// --------------------

@color-anchor-default-text: @color-highlight-orange;
@color-anchor-hover-text: @color-highlight-orange-hover;

* {
	color: @color-text-default;
	font-family: @base-font-family;
	font-size: @font-size-os-s;
	line-height: @base-line-height-os;

	@media @media-to-m {
		font-size: @base-font-size-os;
	}

	.edl & {
		@media @media-from-l{
			font-size: @font-size-os-tiny;

			p{
				line-height: @base-line-height-edl;
			}
		}
	}
}

//
// Note:
// All top/bottom margins of every media-step has been tested against a simple line of text
// to cover all the different combinations.
//
// Example:
//
// Regular text above.
// <h2>Headline</h2>
// Regular text below.
//

h1,
.h1 {
	color: @color-headline-default;
	font-family: @base-font-family;
	font-size: @font-size-os-l;
	font-weight: normal;
	margin: 60px 0 40px;

	@media @media-from-l{
		.edl & {
			font-size: @font-size-edl-l;
			margin: 35px 0 35px;
		}
	}

	@media @media-from-m-to-l {
		font-size: @font-size-os-ml;
		margin: 50px 0 35px; // There is no provided information about top margin changes.
	}

	@media @media-to-m {
		font-size: @font-size-os-m;
		margin: 40px 0 30px; // There is no provided information about top margin changes.
		word-wrap: break-word; // Important for long words on the huge headlines.
	}
}

h2,
.h2 {
	color: @color-headline-default;
	font-family: @base-font-family-ultra;
	font-size: @font-size-os-ml;
	font-weight: normal;
	margin: 60px 0 40px;

	@media @media-from-l{
		.edl & {
			font-size: @font-size-os-mtol;
			margin: 55px 0 30px;
		}
	}

	@media @media-from-m-to-l {
		font-size: @font-size-os-m;
		margin: 50px 0 35px;
	}

	@media @media-to-m {
		font-size: @font-size-os-sm;
		margin: 40px 0 30px;
		word-wrap: break-word; // Important for long words on the huge headlines.
	}
}

h3,
.h3 {
	color: @color-headline-default;
	font-family: @base-font-family-ultra;
	font-size: @font-size-os-m;
	font-weight: normal;
	margin: 60px 0 40px;

	@media @media-from-l{
		.edl & {
			font-size: @font-size-os-sm;
			margin: 35px 0 25px;
		}
	}

	@media @media-from-m-to-l {
		font-size: @font-size-os-sm;
		margin: 50px 0 35px;
	}

	@media @media-to-m {
		font-size: @font-size-os-s;
		margin: 40px 0 30px;
		word-wrap: break-word; // Important for long words on the huge headlines.
	}
}

// Not defined in design but used for tabs.
h4,
.h4 {
	color: @color-headline-default;
	font-family: @base-font-family-ultra;
	font-size: @base-font-size;
	font-weight: normal;
	margin: @spacing-tiny 0;
}

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4 {
	line-height: @line-height-headlines;

	a {
		font-family: @base-font-family-ultra;
		font-size: inherit;
	}
}

p {
	margin: 0 0 @spacing-small 0;

	.edl & {
		margin: 0 0 (@spacing-small + @spacing-atomic) 0;
	}
}

strong {
	color: @color-text-primary;
	font-weight: 700;

	@media @media-from-l{
		.edl & {
			display: block;
			margin: 0 0 25px;
		}
	}
}

a {
	color: @color-anchor-default-text;
	text-decoration: none;

	&:hover {
		text-decoration: underline;
	}

	&:before {
		text-decoration: underline;
		display: inline-block;
	}

	&:before, &:hover:before {
		text-decoration: none;
	}

	&.link-download {
		position: relative;
		.icon(@icon-download);

		&:before {
			position: absolute;
			top: 4px;
			left: 2px;
			font-size: @font-size-os-sm;
			display: inline-block; // Necessary to remove icon underline on Edge browser.
			speak: none;
		}

		padding-left: @spacing-large;
	}
}

ul.list {
	list-style: none;
	padding-left: 25px;

	li {
		position: relative;
		.icon(@icon-stop);

		&:before {
			position: absolute;
			top: 11px;
			left: -22px; // Based on list padding left, but aligned to where the actual letter begins.
			font-size: 8px;
			color: @color-list-bullet-first-level;

			@media @media-from-m-to-l {
				top: 9px;
			}

			@media @media-to-m {
				top: 8px;
			}
		}

		&.list-item-plain {
			&:before {
				display: none;
			}
		}

		ul li:before {
			color: @color-list-bullet-following-levels;
		}
	}

	li {
		margin-top: @spacing-atomic;

		&:first-child {
			margin-top: 0;
		}

		&.list-item-plain {
			margin-top: @spacing-atomic-tiny;
		}
	}
}


.row.row-section .col-lg-12{
	ul,
	ol {
		@media @media-from-l{
			.edl & {
				margin: 40px 0 40px;
				padding-left: 20px;

				li {
					color: @color-corporate-blue-dark;

					p {
						color: @color-corporate-gray-dark;
					}
				}

				ul,
				ol {
					margin: 20px 0 0;
					padding-left: 25px;
				}

				&.square {
					list-style: square;
				}

				&.alphabetic {
					list-style-type: lower-alpha;
				}
			}
		}
	}
}

span.a {
	font-weight: bold;
	color: @color-anchor-default-text;
	text-decoration: underline;
	text-transform: uppercase;

	&:hover {
		color: @color-anchor-hover-text;
		text-decoration: underline;
	}
}

.text-default {
	font-weight: normal;
}

.text-primary {
	color: @color-text-primary;
}

.text-bold {
	font-weight: bold;
}

.text-italic {
	font-style: italic;
}

.text-underline {
	text-decoration: underline;
}

.text-electricity {
	color: @color-highlight-blue;

	* {
		color: inherit;
	}
}

.text-natural-gas {
	color: @color-highlight-green;

	* {
		color: inherit;
	}
}

.text-warmth {
	color: @color-highlight-orange;

	* {
		color: inherit;
	}
}

blockquote {
	margin: 0;
	padding: 0 45px;
	quotes: "\201E""\201C""\2018""\2019";
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;

	@media @media-to-m {
		padding: 0 @spacing-default;
	}

	@media @media-to-s {
		padding: 0 @spacing-small;
	}

	&:before {
		color: @color-highlight-blue;
		content: open-quote;
		font-size: @font-size-os-xxl * 2;
		line-height: 0.1em;
		margin-left: -45px;
		height: @spacing-default;
		display: inline-block;

		@media @media-to-m {
			font-size: @font-size-os-xl + @font-size-os-l;
			margin-left: -25px;
		}

		@media @media-to-s {
			font-size: @font-size-os-xxl;
		}
	}

	&:after {
		color: @color-highlight-blue;
		content: close-quote;
		font-size: @font-size-os-xxl * 2;
		margin-right: -41px;
		vertical-align: text-bottom;
		height: @spacing-default;
		display: inline-block;

		@media @media-to-m {
			font-size: @font-size-os-xl + @font-size-os-l;
			margin-right: -25px;
		}

		@media @media-to-s {
			font-size: @font-size-os-xxl;
		}
	}

	p {
		color: @color-text-default;
		display: inline;
		font-size: @font-size-os-xxl;
		font-weight: 700;
		line-height: 1.3;

		@media @media-to-m {
			font-size: @font-size-os-l;
			line-height: 1.5;
		}

		@media @media-to-s {
			font-size: @font-size-os-ml;
		}
	}
}