
@import (reference) "../../variables";
@import (reference) "../../mixins/align-first-element";

//
// Color setup overview
// --------------------

@color-well-default-background: @color-corporate-gray-light;
@color-well-default-text: @color-text-default;

@color-well-anchor-hover-text: @color-highlight-orange-hover;


.well {
	.align-first-element();

	display: block;

	padding: @spacing-default;
	margin-bottom: @spacing-small;

	color: @color-well-default-text;
	background-color: @color-well-default-background;

	&.well-badge {
		@height-badge: 45px;

		position: relative;
		padding-bottom: 2 * @spacing-default + @height-badge;

		img {
			bottom: @spacing-default;
			height: @height-badge;
			left: @spacing-default;
			position: absolute;
		}
	}

	&.well-image {
		padding: 0;
	}

	&.well-facade {
		&.well-facade-medium {
			@medium-image-width: 220px;
			@medium-image-height: 280px;

			height: @medium-image-height;
			overflow: hidden;
			padding-left: @spacing-default + @medium-image-width; // Medium version image width.
			position: relative;

			// No other headline level designated by design.
			h3 {
				margin-top: 0;
			}

			img {
				left: 0;
				position: absolute;
				top: 0;
				width: @medium-image-width;
			}
		}
	}

	&:hover span.a {
		color: @color-well-anchor-hover-text;
	}
}

a.well {
	text-decoration: none;
}
