﻿@model Sitecore.Mvc.Presentation.RenderingModel


@try
{
    if (Model.Item != null)
    {
        <div class="row row-section module-expander" app-view="ModuleExpanderView">
            <div class="col-lg-12">
                <h2>@Html.Sitecore().Field("Headline", Model.Item)</h2>

                @Text.HtmlText(Html, Model.Item, "Text")

                @if (Sitecore.Context.PageMode.IsExperienceEditor)
                {
                    @Html.Sitecore().DynamicPlaceholder("Collapsible")
                }
                else
                {
                    <div class="module-expander-area">
                        @Html.Sitecore().DynamicPlaceholder("Collapsible")
                    </div>
                }
                @if (Sitecore.Context.PageMode.IsExperienceEditor)
                {
                    <button class="btn btn-default btn-expand">@Html.Sitecore().Field("More Button", Model.Item)</button>
                    <button class="btn btn-default btn-collapse">@Html.Sitecore().Field("Less Button", Model.Item)</button>
                }
                else
                {
                    <div class="module-expander-control">
                        <button class="btn btn-default btn-expand">@Html.Sitecore().Field("More Button", Model.Item)</button>
                        <button class="btn btn-default btn-collapse hide">@Html.Sitecore().Field("Less Button", Model.Item)</button>
                    </div>
                }
            </div>
        </div>
    }
    else if (Sitecore.Context.PageMode.IsExperienceEditor)
    {
        @PageEditor.Error("PageEditor.Error.MissingDataItem", new { Module = Model.Rendering.RenderingItem.Name })
    }
}
catch (Exception ex)
{
    @PageEditor.Exception(Model.Rendering.RenderingItem.Name, ex)
}