﻿@model Sitecore.Mvc.Presentation.RenderingModel

@try
{
    if (Model.Item != null)
    {
        <div class="row row-section module-tabs" app-view="ModuleTabsView">
            <div class="col-lg-12">
                @if (Model.Item.HasChildren)
                {
                    <ul class="nav nav-tabs">
                        @foreach (Item tab in Model.Item.Children)
                        {
                            <li>
                                @using (Html.EditFrame(tab, "Tab"))
                                {
                                    <a href="#tabs-@tab.ID.ToShortID()">@Html.Sitecore().Field("Title", tab)</a>
                                }
                            </li>
                        }
                        <li><!-- Empty last element is mandatory. --></li>
                    </ul>
                    foreach (Item tab in Model.Item.Children)
                    {
                        <div id="tabs-@tab.ID.ToShortID()">
                            @using (Html.EditFrame(tab, "Tab"))
                            {                                
                                @Html.Sitecore().DynamicPlaceholder("Collapsible", tab)
                            }
                        </div>
                    }
                }
                else
                {
                    @PageEditor.Warning("PageEditor.NoChildren", new { Module = Model.Rendering.RenderingItem.Name })
                }
            </div>
        </div>
    }
    else if (Sitecore.Context.PageMode.IsExperienceEditor)
    {
        @PageEditor.Error("PageEditor.Error.MissingDataItem", new { Module = Model.Rendering.RenderingItem.Name })
    }
}
catch (Exception ex)
{
    @PageEditor.Exception(Model.Rendering.RenderingItem.Name, ex)
}