@font-face {
	font-family: 'icomoon';
	src: url('../fonts/icomoon/icomoon.eot?2qhs5y');
	src: url('../fonts/icomoon/icomoon.eot?2qhs5y#iefix') format('embedded-opentype'),
	url('../fonts/icomoon/icomoon.woff2?2qhs5y') format('woff2'),
	url('../fonts/icomoon/icomoon.ttf?2qhs5y') format('truetype'),
	url('../fonts/icomoon/icomoon.woff?2qhs5y') format('woff'),
	url('../fonts/icomoon/icomoon.svg?2qhs5y#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	/* use !important to prevent issues with browser extensions that change fonts */
	font-family: 'icomoon' !important;
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}


.icon-menu:before {
	content: "\e91b";
}
.icon-close2:before {
	content: "\e91c";
}
.icon-twitter:before {
	content: "\e924";
}
.icon-brand2:before {
	content: "\e924";
}
.icon-tweet:before {
	content: "\e924";
}
.icon-social2:before {
	content: "\e924";
}
.icon-youtube:before {
	content: "\e925";
}
.icon-brand:before {
	content: "\e925";
}
.icon-social:before {
	content: "\e925";
}
.icon-minus:before {
	content: "\e916";
}
.icon-plus:before {
	content: "\e917";
}
.icon-home:before {
	content: "\e900";
}
.icon-chevron-small-up:before {
	content: "\e901";
}
.icon-chevron-small-right:before {
	content: "\e902";
}
.icon-chevron-small-left:before {
	content: "\e903";
}
.icon-chevron-small-down:before {
	content: "\e904";
}
.icon-chevron-small-right2:before {
	content: "\e905";
}
.icon-blog_navi:before {
	content: "\e92d";
}
.icon-blog:before {
	content: "\e92b";
}
.icon-arrow_top:before {
	content: "\e92a";
}
.icon-linkedin:before {
	content: "\e91a";
}
.icon-youtube2:before {
	content: "\e929";
}
.icon-facebook:before {
	content: "\e927";
}
.icon-instagram:before {
	content: "\e928";
}
.icon-twitter2:before {
	content: "\e92c";
}
.icon-xing:before {
	content: "\e919";
}
.icon-tag_delete:before {
	content: "\e926";
}
.icon-bearbeiten:before {
	content: "\e923";
}
.icon-tarifrechner-strom-person:before {
	content: "\e921";
}
.icon-tarifrechner-strom-personen:before {
	content: "\e922";
}
.icon-upload_delete:before {
	content: "\e920";
}
.icon-upload:before {
	content: "\e91f";
}
.icon-male:before {
	content: "\e91e";
}
.icon-haken:before {
	content: "\e91d";
}
.icon-checkbox:before {
	content: "\e918";
}
.icon-error:before {
	content: "\e915";
}
.icon-chevron-up:before {
	content: "\e914";
}
.icon-arrow_left:before {
	content: "\e912";
}
.icon-arrow_right:before {
	content: "\e913";
}
.icon-close:before {
	content: "\e910";
}
.icon-zoom:before {
	content: "\e911";
}
.icon-chevron-down:before {
	content: "\e90f";
}
.icon-stop:before {
	content: "\e90e";
}
.icon-phone:before {
	content: "\e906";
}
.icon-search:before {
	content: "\e907";
}
.icon-lock:before {
	content: "\e908";
}
.icon-home2:before {
	content: "\e909";
}
.icon-circle:before {
	content: "\e90a";
}
.icon-chevron-right:before {
	content: "\e90b";
}
.icon-chevron-left:before {
	content: "\e90c";
}
.icon-download:before {
	content: "\e90d";
}

