.gasag-iconfont {
	font-family: 'icomoon' !important;
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon(@content) {
	&:before {
		&:extend(.gasag-iconfont);

		content: @content;
	}
}

.icon(@content, @position) when (@position = after) {
	&:after {
		&:extend(.gasag-iconfont);

		content: @content;
	}
}

@icon-menu: "\e91b";
@icon-close2: "\e91c";
@icon-twitter: "\e924";
@icon-brand2: "\e924";
@icon-tweet: "\e924";
@icon-social2: "\e924";
@icon-youtube: "\e925";
@icon-brand: "\e925";
@icon-social: "\e925";
@icon-minus: "\e916";
@icon-plus: "\e917";
@icon-home: "\e900";
@icon-chevron-small-up: "\e901";
@icon-chevron-small-right: "\e902";
@icon-chevron-small-left: "\e903";
@icon-chevron-small-down: "\e904";
@icon-chevron-small-right2: "\e905";
@icon-blog_navi: "\e92d";
@icon-blog: "\e92b";
@icon-arrow_top: "\e92a";
@icon-linkedin: "\e91a";
@icon-youtube2: "\e929";
@icon-facebook: "\e927";
@icon-instagram: "\e928";
@icon-twitter2: "\e92c";
@icon-xing: "\e919";
@icon-tag_delete: "\e926";
@icon-bearbeiten: "\e923";
@icon-tarifrechner-strom-person: "\e921";
@icon-tarifrechner-strom-personen: "\e922";
@icon-upload_delete: "\e920";
@icon-upload: "\e91f";
@icon-male: "\e91e";
@icon-haken: "\e91d";
@icon-checkbox: "\e918";
@icon-error: "\e915";
@icon-chevron-up: "\e914";
@icon-arrow_left: "\e912";
@icon-arrow_right: "\e913";
@icon-close: "\e910";
@icon-zoom: "\e911";
@icon-chevron-down: "\e90f";
@icon-stop: "\e90e";
@icon-phone: "\e906";
@icon-search: "\e907";
@icon-lock: "\e908";
@icon-home2: "\e909";
@icon-circle: "\e90a";
@icon-chevron-right: "\e90b";
@icon-chevron-left: "\e90c";
@icon-download: "\e90d";

