/**
 * @license
 * MyFonts Webfont Build ID 3206696, 2016-04-20T04:07:41-0400
 *
 * The fonts listed in this notice are subject to the End User License
 * Agreement(s) entered into by the website owner. All other parties are
 * explicitly restricted from using the Licensed Webfonts(s).
 *
 * You may obtain a valid license at the URLs below.
 *
 * Webfont: UniversLTPro-Condensed by Linotype
 * URL: http://www.myfonts.com/fonts/linotype/univers/pro-57-condensed/
 * Copyright: Part of the digitally encoded machine readable outline data for producing the Typefaces provided is copyrighted &#x00A9; 2008 Linotype GmbH, www.linotype.com. All rights reserved. This software is the property of Linotype GmbH, and may not be reproduced,
 *
 * Webfont: UniversLTPro-UltraCn by Linotype
 * URL: http://www.myfonts.com/fonts/linotype/univers/pro-59-ultra-condensed/
 * Copyright: Copyright &#x00A9; 1990, 2002 Adobe Systems Incorporated.  All Rights Reserved. &#x00A9; 1981, 2002 Heidelberger Druckmaschinen AG. All rights reserved.
 *
 *
 * License: http://www.myfonts.com/viewlicense?type=web&buildid=3206696
 * Licensed pageviews: 250,000
 *
 * © 2016 MyFonts Inc
*/


/* @import must be at top of file, otherwise CSS will not work */
@import url("//hello.myfonts.net/count/30ee28");


@font-face {font-family: 'UniversLTPro-Condensed';src: url('../fonts/myfonts/30EE28_0_0.eot');src: url('../fonts/myfonts/30EE28_0_0.eot?#iefix') format('embedded-opentype'),url('../fonts/myfonts/30EE28_0_0.woff2') format('woff2'),url('../fonts/myfonts/30EE28_0_0.woff') format('woff'),url('../fonts/myfonts/30EE28_0_0.ttf') format('truetype');}


@font-face {font-family: 'UniversLTPro-UltraCn';src: url('../fonts/myfonts/30EE28_1_0.eot');src: url('../fonts/myfonts/30EE28_1_0.eot?#iefix') format('embedded-opentype'),url('../fonts/myfonts/30EE28_1_0.woff2') format('woff2'),url('../fonts/myfonts/30EE28_1_0.woff') format('woff'),url('../fonts/myfonts/30EE28_1_0.ttf') format('truetype');}
