
@import (reference) "../../variables";


.module-search-results {
	&.module-tabs {
		margin-top: @spacing-offset;

		.counter {
			color: inherit;
			font-size: inherit;
			font-family: inherit;
		}
	}

	.result {
		display: inline-block;
		width: 100%;

		padding-bottom: @spacing-larger;
		margin-bottom: @spacing-larger;

		border-bottom: 2px solid @color-border-light;

		&:hover {
			text-decoration: none;
		}
		h2 {
			font-size: @font-size-l;
			margin-top: @spacing-larger;
			margin-bottom: @spacing-small;
		}
		span {
			&.date {

			}
			&.search-text {
				padding-left: @spacing-atomic;
				padding-right: @spacing-atomic;

				color: inherit;
				font-family: inherit;
				font-size: inherit;
				font-weight: inherit;

				background-color: @color-highlight-text;
			}
			&.highlight {
				color: @color-highlight-orange;
				&.search-text {
					color: @color-highlight-orange;
				}
			}


		}

		p {
			margin: @spacing-default 0 0;
		}
	}

	.load-more-holder {
		text-align: center;
		margin-bottom: @spacing-offset;
	}
}
