﻿@using Gasag.Web.Controllers
@model Gasag.Web.Models.Form.FormModel

@try
{
    if (Model.Item != null)
    {
        <div class="row row-section module-form" app-view="FormElementsView">
            @using (Html.EditFrame(Model.Item, "Form"))
            {
                <div class="col-lg-12">
                    <!-- 30. Form -->
                    <form id="@Model.FormId" action="@ScLink.GetUrl(Sitecore.Context.Item)" method="POST" enctype="multipart/form-data">
                        <input type="hidden" name="@FormsController.NameFormId" value="@Model.FormId" />
            
                        @foreach (Item child in Model.Item.Children)
                        {
                            if (child.TemplateID == ScReference.Instance().GetItem("Text Input").ID)
                            {
                                Html.RenderPartial("~/Views/Forms/Text.cshtml", child);
                            }
                            else if (child.TemplateID == ScReference.Instance().GetItem("Dropdown").ID)
                            {
                                Html.RenderPartial("~/Views/Forms/Dropdown.cshtml", child);
                            }
                            else if (child.TemplateID == ScReference.Instance().GetItem("Checkbox").ID)
                            {
                                Html.RenderPartial("~/Views/Forms/Checkbox.cshtml", child);
                            }
                            else if (child.TemplateID == ScReference.Instance().GetItem("Textarea").ID)
                            {
                                Html.RenderPartial("~/Views/Forms/Textarea.cshtml", child);
                            }
                            else if (child.TemplateID == ScReference.Instance().GetItem("Radiobutton").ID)
                            {
                                Html.RenderPartial("~/Views/Forms/Radiobutton.cshtml", child);
                            }
                            else if (child.TemplateID == ScReference.Instance().GetItem("Upload").ID)
                            {
                                Html.RenderPartial("~/Views/Forms/Upload.cshtml", child);
                            }
                            else if (child.TemplateID == ScReference.Instance().GetItem("Form Description Text Template").ID)
                            {
                                Html.RenderPartial("~/Views/Forms/Description Text.cshtml", child);
                            }
                        }        
            
                        <!-- 30. Form Input Button -->
                        <div class="form-element">
                            <input type="submit" class="btn btn-primary" >
                            <input type="button" class="btn btn-link" >
                        </div>
                        <!-- 30. Form Input Button END -->
                    </form>
                    <!-- 30. Form END -->
                </div>
            }
        </div>
    }
    else if (Sitecore.Context.PageMode.IsExperienceEditor)
    {
        @PageEditor.Error("PageEditor.Error.MissingDataItem", new { Module = Model.Rendering.RenderingItem.Name })
    }
}
catch (Exception ex)
{
    @PageEditor.Exception(Model.Rendering.RenderingItem.Name, ex)
}