﻿@model Item
@{
    var name = ScValue.GetString(Model, "Name");
    var validation = "";
    var id = Model.ID;
    if (ScValue.GetBool(Model, "Required"))
    {
        validation += "required";
    }
    if (!Sitecore.Context.PageMode.IsExperienceEditor)
    {
        <div class="form-element" app-view="ModuleOverviewFilterView">            
            <select name="@name" id="@id" @Html.Raw(validation)>
                @foreach (Item child in Model.Children)
                {
                    var label = ScValue.GetString(child, "Label");
                    var value = ScValue.GetString(child, "Value");
                    var selected = "";
                    if (Request[name] == value)
                    {
                        selected = "selected";
                    }

                    <option value="@value" @selected>@label</option>
                }
            </select>            
        </div>
    }
    else
    {
        <div class="form-element">
            @using (Html.EditFrame(Model, "Form Dropdown"))
            {
                if (Model.Children.Any())
                {
                    foreach (Item child in Model.Children)
                    {
                        var label = (string.IsNullOrWhiteSpace(ScValue.GetString(child, "Label"))) ? child.DisplayName : ScValue.GetString(child, "Label");

                        using (Html.EditFrame(child, "Form Dropdown Option"))
                        {
                            <span>@label</span>
                        }
                    }
                }
                else
                {
                    @PageEditor.Warning("PageEditor.Error.EmptyDropdown")
                }
            }
        </div>
    }
}