﻿@model Item
@{
    var name = ScValue.GetString(Model, "Name");

    <div class="row">
        @using (Html.EditFrame(Model, "Form Radiobutton"))
        {
            if (Model.Children.Any())
            {
                var colClass = "col-lg-6";
                if (Model.Children.Count() == 1)
                {
                    colClass = "col-lg-12";
                }

                foreach (Item child in Model.Children)
                {
                    var id = child.ID;
                    var label = ScValue.GetString(child, "Label");
                    var value = ScValue.GetString(child, "Value");

                    var check = "";
                    var disabled = "";

                    if (child.ID == Model.Children.First().ID || Request[name] == value)
                    {
                        check += "checked";
                    }
                    if (ScValue.GetBool(child, "Disabled"))
                    {
                        disabled += "disabled";
                    }

                    using (Html.EditFrame(Model, "Form Radiobutton Option"))
                    {
                        <div class="@colClass">
                            <div class="form-element">
                                <div class="radio @Html.Raw(disabled)">
                                    <input class="" type="radio" name="@name" id="@id" value="@value" @Html.Raw(check) @Html.Raw(disabled)>
                                    <label for="@id">@label</label>
                                </div>
                            </div>
                        </div>
                    }
                }
            }
            else
            {
                @PageEditor.Warning("PageEditor.Form.CheckRadioEmpty", new { Element = "Checkbox" })
            }
        }
    </div>
}