﻿@model Item
@{var id = Model.ID;
    var placeholder = ScValue.GetString(Model, "Placeholder");
    var name = ScValue.GetString(Model, "Name");
    var value = Request[name];

    var validation = "";
    if (ScValue.GetBool(Model, "Required"))
    {
        validation += "required";
    }

    <div class="form-element">
        @using (Html.EditFrame(Model, "Form Textarea"))
        {
            <textarea class="" name="@name" id="@id" placeholder="@placeholder" @Html.Raw(validation)>@value</textarea>
        }
    </div>

}