﻿@model Item
@{
    var id = Model.ID;
    var label = ScValue.GetString(Model, "Label");
    var acceptTypes = ScValue.GetString(Model, "Accept Types");

    <div class="form-element">
        @using (Html.EditFrame(Model, "Form Upload"))
        {
            <input type="file" id="@id" class="inputfile upload-icon" accept="@acceptTypes" name="File" />
            <label for="@id" class="fileupload">
                <span class="upload-icon" data-text="Datei hochladen">@label</span>
            </label>
            <span class="file-delete icon-upload"></span>
        }
    </div>
}
