
@import (reference) "../variables";

//
// Color setup overview
// --------------------

@color-benchmarking-offer-title: @color-highlight-green;

@color-benchmarking-border: @color-border-light;
@color-benchmarking-benefit-background: @color-border-light; // Seamless with border.

.benchmarking {
	border: 4px solid @color-benchmarking-border;
	height: 880px; // @TODO What about responsive?
	position: relative;

	.benchmarking-offer {
		height: 262px;
		text-align: center;

		h2 {
			color: @color-benchmarking-offer-title;
			font-size: @font-size-l; // Size setting of h3.
			line-height: @line-height-l;
			margin-top: @spacing-default;
		}

		h3 {
			color: @color-headline-default; // Size setting of h1.
			font-size: @font-size-huge;
			margin-bottom: @spacing-tiny;
		}
	}

	.benchmarking-benefit {
		background-color: @color-benchmarking-benefit-background;
		height: 110px;
		text-align: center;

		strong {
			display: inline-block;
			font-size: @font-size-m;
			margin-top: @spacing-small;
		}

		h3 {
			margin-bottom: 0;
			margin-top: @spacing-tiny;
		}
	}

	.benchmarking-details {
		margin: @spacing-default @spacing-large;

		font-size: @font-size-m;

		p,
		strong {
			font-size: inherit;
		}

		p:first-child {
			margin-top: 0;
		}
	}

	.benchmark-call-to-action {
		bottom: @spacing-default;
		left: @spacing-large;
		position: absolute;
		right: @spacing-large;
		text-align: center;

		p {
			margin-bottom: 0;
		}

		button {
			text-transform: uppercase;
			width: 100%;
		}
	}
}
