
@import (reference) "../variables";
@import (reference) "../mixins/sizing";

ul.pager {
	list-style: none;
	margin: @spacing-default 0;
	padding: 0;
	text-align: center;

	li {
		color: @color-text-primary;
		display: inline-block;
		height: @size-button-primary;
		margin: 0 @spacing-default;
		line-height: @size-button-primary;

		&:first-child a:before,
		&:last-child a:before {
			font-family: 'icomoon';
			speak: none;
		}

		&:first-child a:before {
			content: '\e90c';
			margin-right: 1px;
		}

		&:last-child a:before {
			content: '\e90b';
			margin-left: 3px;
		}

		&.disabled {
			opacity: 0.5;

			a {
				cursor: default;
			}
		}

		a {
			background-color: @color-button-action-background;
			color: @color-button-action-text;
			display: inline-block;
			height: inherit;
			line-height: inherit;
			outline: none;
			width: @size-button-primary;

			&:hover {
				text-decoration: none;
			}
		}
	}
}
