
@import (reference) "../variables";

//
// Color setup overview
// --------------------

@color-panel-default-background: @color-corporate-gray-light;
@color-panel-default-text: @color-text-default;

@color-panel-primary-background: @color-corporate-blue-dark;
@color-panel-primary-text: @color-corporate-white;

@color-panel-default-gallery-background: @color-background-default;
@color-panel-default-gallery-text: @color-text-default;

@color-panel-primary-gallery-background: @color-corporate-gray-light;
@color-panel-primary-gallery-headline: @color-corporate-blue-dark;
@color-panel-primary-gallery-text: @color-text-default;


.panel {
	margin-bottom: @spacing-small;

	&.panel-primary {
		.panel-heading,
		.panel-footer {
			background-color: @color-panel-primary-background;
			color: @color-panel-primary-text;
		}
	}

	&.panel-default-gallery .panel-footer {
		background-color: @color-panel-default-gallery-background;
		color: @color-panel-default-gallery-text;
		padding: @spacing-small 0;
	}

	&.panel-primary-gallery .panel-footer {
		background-color: @color-panel-primary-gallery-background;
		color: @color-panel-primary-gallery-text;

		h3 {
			color: @color-panel-primary-gallery-headline;
		}
	}

	.panel-heading,
	.panel-footer {
		background-color: @color-panel-default-background;
		color: @color-panel-default-text;
		font-size: @font-size-m;
		padding: @spacing-default @spacing-large;

		h3 {
			color: inherit;
			margin: -@spacing-tiny 0 @spacing-tiny; // Move upwards since the text starts deeper than the element.
		}
	}

	.panel-body {
		padding: 0;
	}
}
