
@import (reference) "../variables";

//
// Color setup overview
// --------------------

@color-table-head-background: @color-corporate-blue-dark;
@color-table-head-text: @color-corporate-white;
// No border necessary.

@color-table-body-background-default: @color-corporate-white;
@color-table-body-background-alternate: @color-corporate-gray-light;
@color-table-body-text-default: @color-corporate-gray-dark;
@color-table-body-text-primary: @color-corporate-blue-dark;
@color-table-body-border: @color-border-default;

.module-table {
	overflow: auto;
	.table {
		width: 100%;

		.gray {
			background-color: @color-table-body-background-alternate;
		}

		> thead {
			> tr {
				> th {
					background-color: @color-table-head-background;
					border: 2px solid @color-table-head-background;
					border-bottom: none;
					color: @color-table-head-text;
					font-size: @font-size-os-ml;
					line-height: 2.5rem;
					padding: @spacing-small @spacing-small @spacing-small+2;
					text-align: left;
					vertical-align: bottom;

					@media @media-to-m {
						line-height: 1.875rem;
						font-size: @font-size-os-s;
					}
				}

				> td {
					border: 2px solid @color-table-body-border;
					border-top: none;
					padding: @spacing-small @spacing-small;

					.text-primary {
						font-weight: bold;
					}
				}
			}

			tr:nth-child(odd) {
				> td {
					border: 2px solid @color-table-body-border;
				}
			}
		}

		> tbody {
			> tr {
				@media @media-to-m {
					cursor: pointer;
				}
				> td {
					border: 2px solid @color-table-body-border;
					border-top: none;
					padding: @spacing-small @spacing-small;
					position: relative;

					@media @media-to-m {
						padding: @spacing-small @spacing-larger @spacing-small @spacing-small;
					}
				}
			}

			tr[data-expanded="true"] {
				td {
					border-bottom: 0;
				}
			}
		}

		.footable-detail-row {
			border-bottom: 2px solid @color-table-body-border;
			> td {
				padding: 0;
				border-top: 0;
				border-bottom: 0;
			}

			.footable-details {
				th {
					display: none;
				}

				td {
					border: 0;
				}
			}
		}

		.footable-toggle {
			width: 18px;
			height: 18px;
			right: @spacing-small;
			position: absolute;
			text-align: center;
			top: 50%;
			transform: translate(0%, -50%);

			.icon(@icon-plus);

			&:before {
				color: @color-corporate-blue-dark;
			}

			&.fooicon-minus {
				.icon(@icon-minus);
			}
		}
	}
}
