
@import (reference) "../variables";

//
// Aligns the first text element inside a container to perfectly match the text
// to the containers top padding.
//

.align-first-element {
	// Perfectly align a first element in a well with the padding.
	h1:first-child,
	.h1:first-child {
		margin-top: -10px;

		@media @media-from-m-to-l {
			margin-top: -7px;
		}

		@media @media-to-m {
			margin-top: -5px;
		}
	}

	h2:first-child,
	.h2:first-child {
		margin-top: -8px;

		@media @media-from-m-to-l {
			margin-top: -4px;
		}

		@media @media-to-m {
			margin-top: -5px;
		}
	}

	h3:first-child,
	.h3:first-child {
		margin-top: -5px;

		@media @media-from-m-to-l {
			margin-top: -5px;
		}

		@media @media-to-m {
			margin-top: -3px;
		}
	}

	h4:first-child,
	.h4:first-child {
		margin-top: -6px;
	}

	p:first-child {
		margin-top: -7px;
	}

	h1, h2, h3, h4, p {
		&:last-child {
			margin-bottom: 0;
		}
	}
}
