//
// Breakpoint Shim
// ---------------
//
// Writes breakpoints as JSON string
// into the :after pseudo element
//
// e.g.
// #match-media-shim:after {
//     content: '{"screen-s-min": "640px", "screen-m-min": "768px", "screen-l-min": "1024px"}';
// }
//
// Caution:
// The generated names correspond to variables that
// have to be defined somewhere in your LESS files
// e.g.
// @screen-s-min or @screen-m-min
//
// Call with an array of sizes
// e.g.
// .media-query-shim("s", "m", "l";);
// (dummy semicolon to create mixin call with one argument containing comma separated css)
// @see http://lesscss.org/features/#mixins-parametric-feature-mixins-with-multiple-parameters
//
// If you want another format instead of the default screen-s-min
// pass @prefix and @suffix
// e.g.
// .breakpoint-shim("xs", "s", "m"; "media-max-"; "");
// creates
// content: '{"media-max-xs": "479px", "media-max-s": "767px", "media-max-m": "991px"}';
// (@suffix is an empty string)
//
#match-media {

	.breakpoint-shim(@sizes; @prefix: "screen-"; @suffix: "-min") {
		@len: length(@sizes);

		.loop(@index) {
			@size: extract(@sizes, @index);
			@key: ~"@{prefix}@{size}@{suffix}";
			@value: @@key;
			@breakpoint: ~'"@{key}": "@{value}"';

			.loop((@index + 1), @breakpoint);
		}

		.loop(@index, @breakpoints) when (@index <= @len) {
			@size: extract(@sizes, @index);
			@key: ~"@{prefix}@{size}@{suffix}";
			@value: @@key;
			@breakpoint: ~'"@{key}": "@{value}"';

			.loop((@index + 1), ~"@{breakpoints}, @{breakpoint}");
		}

		.loop(@index, @breakpoints) when (@len < @index) {
			& {
				font-family: '{@{breakpoints}}';
			}

			&:before {
				content: '{@{breakpoints}}';
			}
		}

		.loop(1);
	}
}
