// Mixin for elements with responsive aspect ratio
.maintain-ratio(@ratio-width: 1, @ratio-height: 1) {
	@height: percentage(@ratio-height / @ratio-width);

	position: relative;

	&:before {
		content: "";
		display: block;
		padding-bottom: @height;
	}

	> * {
		height: 100%;
		position: absolute;
		top: 0;
	}
}
