//
// Media Query Shim
// ----------------
//
// Writes the current media query var
// into the :before pseudo element
//
// e.g.
// @media screen and (max-width: 639px) {
//     #match-media-shim:before {
//         content: "media-to-s";
//     }
// }
// or
// @media screen and (min-width: 768px) and (max-width: 1023px) {
//     #match-media-shim:before {
//         content: "media-from-m-to-l";
//     }
// }
//
// Caution:
// The generated names correspond to variables that
// have to be defined somewhere in your LESS files
// e.g.
// @media-to-s and @media-from-m-to-l
//
// Call with an array of sizes
// e.g.
// .media-query-shim("s", "m", "l";);
// (dummy semicolon to create mixin call with one argument containing comma separated css)
// @see http://lesscss.org/features/#mixins-parametric-feature-mixins-with-multiple-parameters
//
// If you want another format instead of the default media-from-s-to-m
// pass @prefix, @from and @to
// e.g.
// .media-query-shim("S", "M", "L"; "screen"; ""; "To");
// creates
// content: "screenToS", "screenMToL" or "screenL"
// (@from is an empty string)
//
#match-media {

	.media-query-shim(@sizes; @prefix: "media"; @from: "-from-"; @to: "-to-") {
		@len: length(@sizes);

		// First pass
		.loop(@index) {
			@size-to: extract(@sizes, @index);
			@query: ~"@{prefix}@{to}@{size-to}";

			@media @@query {
				& {
					font-family: "@{query}";
				}

				&:before {
					content: "@{query}";
				}
			}

			.loop((@index + 1), @query);
		}

		.loop(@index, @queries) when (@index <= @len) {
			@size-from: extract(@sizes, (@index - 1));
			@size-to: extract(@sizes, @index);
			@query: ~"@{prefix}@{from}@{size-from}@{to}@{size-to}";

			@media @@query {
				& {
					font-family: "@{query}";
				}

				&:before {
					content: "@{query}";
				}
			}

			.loop((@index + 1), ~"@{queries}, @{query}");
		}

		// Last pass
		.loop(@index, @queries) when (@len < @index) {
			@size-from: extract(@sizes, (@index - 1));
			@query: ~"@{prefix}@{from}@{size-from}";

			@media @@query {
				& {
					font-family: "@{query}";
				}

				&:before {
					content: "@{query}";
				}
			}
		}

		.loop(1);
	}
}
