﻿@model Sitecore.Mvc.Presentation.RenderingModel
@try
{
    if (Model.Item != null)
    {
        string twitterUrl = Model.Item["Twitter Url"];
        string twitterWidgetId = Model.Item["Twitter Widget Id"];
        string youtubeUrl = Model.Item["Youtube Url"];
        <div class="row row-section module-social-media-channels" app-view="ModuleOverviewSocialMediaChannelsView">
            <div class="col-lg-6">
                <div class="canvas-box">
                    <div class="canvas-content twitter">
                        @if (Sitecore.Context.PageMode.IsExperienceEditor && (string.IsNullOrWhiteSpace(twitterUrl) || string.IsNullOrWhiteSpace(twitterWidgetId)))
                        {
                            if (string.IsNullOrWhiteSpace(twitterUrl))
                            { 
                                @PageEditor.Warning("PageEditor.IncorrectValue", new { Field = "Twitter Url", Module = Model.Item.Name })
                            }
                            if (string.IsNullOrWhiteSpace(twitterWidgetId))
                            {
                                @PageEditor.Warning("PageEditor.IncorrectValue", new { Field = "Twitter Widget Id", Module = Model.Item.Name })
                            }
                        }
                        else
                        {
                            <a class="twitter-timeline" href="@twitterUrl" data-widget-id="@twitterWidgetId" data-chrome="noheader nofooter">@Html.Sitecore().Field("Description")</a>
                            <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
                        }
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="canvas-box">
                    <div class="canvas-content youtube">
                        @if (Sitecore.Context.PageMode.IsExperienceEditor && string.IsNullOrWhiteSpace(youtubeUrl))
                        {
                            @PageEditor.Warning("PageEditor.IncorrectValue", new { Field = "Youtube Url",  Module = Model.Item.Name })
                        }
                        else
                        {
                            <iframe src="@youtubeUrl" frameborder="0" allowfullscreen></iframe>
                        }
                    </div>
                </div>
            </div>
        </div>
    }
    else if (Sitecore.Context.PageMode.IsExperienceEditor)
    {
        @PageEditor.Error("PageEditor.Error.MissingDataItem", new { Module = Model.Rendering.RenderingItem.Name })
    }
}
catch (Exception ex)
{
    @PageEditor.Exception(Model.Rendering.RenderingItem.Name, ex)
}
