﻿@model Sitecore.Mvc.Presentation.RenderingModel
@try
{
    if (Sitecore.Context.PageMode.IsExperienceEditor)
    {
        @PageEditor.Info("PageEditor.Info.SocialMediaToolbar")
    }
    else
    {
        <div class="row row-section module-share" app-view="ModuleSocialShareView">
            <div class="share col-lg-12" protection-url="http://panzi.github.io/SocialSharePrivacy/">

            </div>
        </div>
    }

}
catch (Exception ex)
{
    @PageEditor.Exception(Model.Rendering.RenderingItem.Name, ex)
}