﻿@model Item

<div class="col-lg-4 social">
    @using (Html.EditFrame(Model, "Footer Social Media"))
    {
        @Html.Raw(ScValue.GetString(Model, "Label"))
        <ul>
            @foreach (Item link in Model.Children)
            {
                LinkField linkField = link.Fields["Link"];
                var url = (linkField.LinkType == "internal") ? ScLink.GetUrl(linkField.TargetItem) : linkField.Url;
                var typeItem = ScValue.GetItem(link, "Social Media");
                var typeValue = "";
                var name = Translate.Text("PageEditor.Info.SocialMediaLink");
                if (typeItem != null)
                {
                    typeValue = ScValue.GetString(typeItem, "Value");
                    name = typeItem.DisplayName;
                }

                <li>
                    @using (Html.EditFrame(link, "Social Media Link"))
                    {
                        <a href="@url" class="@typeValue">@name</a>
                    }
                </li>
            }
        </ul>
    }
</div>
