﻿<!doctype html>
<html class="no-js">

@{ 
    var pageItem = Sitecore.Context.Item;
}

<head>
    @* Meta *@
    <meta charset="UTF-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta http-equiv="cleartype" content="on" />
    @if (ScValue.GetBool(pageItem, "Hide from Search") || Instance.IsStage)
    {
        <meta name="robots" content="noindex, nofollow">
    }

    @* Page Description *@
    <title>@ScValue.GetString(pageItem, "Title")</title>
    <meta name="description" content="@ScValue.GetString(pageItem, "Description")">
    <meta name="keywords" content="@ScValue.GetString(pageItem, "Keywords")">

    <link rel="shortcut icon" href="/img/layout/favicon.ico" />
    <link rel="apple-touch-icon-precomposed" href="/img/layout/apple-touch-icon-precomposed.png" />
    <link rel="apple-touch-icon-precomposed" sizes="76x76" href="/img/layout/apple-touch-icon-76x76-precomposed.png" />
    <link rel="apple-touch-icon-precomposed" sizes="120x120" href="/img/layout/apple-touch-icon-120x120-precomposed.png" />
    <link rel="apple-touch-icon-precomposed" sizes="152x152" href="/img/layout/apple-touch-icon-152x152-precomposed.png" />
    <link rel="apple-touch-icon-precomposed" sizes="180x180" href="/img/layout/apple-touch-icon-180x180-precomposed.png" />
    <link rel="icon" sizes="128x128" href="/img/layout/touch-icon-128x128.png" />
    <link rel="icon" sizes="192x192" href="/img/layout/touch-icon-192x192.png" />

    <!-- Google Webfont: Open Sans -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,400italic" rel="stylesheet" type="text/css" />

    @* Global javascript settings. *@
    <script>
        var require = { waitSeconds: 0 }
    </script>

    @* CSS *@
    @Assets.Css(AssetUtil.CssPaths())

    @if (Sitecore.Context.PageMode.IsExperienceEditor || Sitecore.Context.PageMode.IsPreview)
    {
        // This should fix broken style in Experience Editor for several Sitecore controls...
        // See http://netlab.no/uglemat/sitecore-8-making-the-experience-editor-go-along-with-twitter-bootstrap

        <style type="text/css">
            .scInsertionHandleCenter, 
            .sc-breadcrumb .sc-breadcrumb-item-path, 
            .sc-breadcrumb-item-path img, 
            .scChromeCommand,
            .sc_DropDownItemLink,
            .sc-breadcrumb-item-path span,
            .sc_DropDownItemLink span,
            .scInsertionHandle,
            .scInsertionHandle span,
            .scSortingHandle,
            .scSortingHandle span
            {
                  -webkit-box-sizing: initial; 
                  -moz-box-sizing: initial; 
                  box-sizing: initial;
                  font-size: 12px; 
                  line-height: 1.4;
            }
            .sc-breadcrumb-item-path img
            .sc_DropDownItemLink img
            {
                    vertical-align: initial;
            }
        </style>
    }

    @* Javascript for head after css. *@
    @if (!Sitecore.Context.PageMode.IsExperienceEditor)
    {
        @Assets.Javascript(AssetUtil.JavascriptHeadBeforeCssPaths())
        @Assets.InlineJavascript(AssetUtil.JavascriptHeadAfterCssPaths())
    }

    @* Tracking *@
    @Tracking.GoogleAdwords()
    @Tracking.GoogleTagManagerScript()
    @Tracking.GoogleAnalytics()
</head>

@{
    var bodyIdItem = ScValue.GetItem(pageItem, "Body Id");
    string bodyId = bodyIdItem != null ? ScValue.GetString(bodyIdItem, "Value") : string.Empty;

    var bodyClass = ScSettings.Instance().GetString("Body Class");
}
<body id="@bodyId"
      class="@bodyClass"
      data-page-id="@pageItem.ID"
      data-page-version="@pageItem.Version"
      data-page-template="@pageItem.TemplateName"
      data-page-url="@ScLink.GetUrl(Sitecore.Context.Item, true)"
      data-site-name="@Sitecore.Context.Site.Name"
      data-lang="@LangUtil.ContentLanguage()">

    @* Tracking *@
    @Tracking.GoogleTagManagerNoScript()

    @* Content *@
    <div class="page-wrapper">
        <div class="loader-container">
            <div class="loader"></div>
        </div>

        @Shared.Header(Html)
        @Shared.Content(Html)
        @Shared.Footer(Html)    
    </div>

    @* Javascript for body. *@
    @if (!Sitecore.Context.PageMode.IsExperienceEditor)
    {
        @Assets.Javascript(AssetUtil.JavascriptBodyPaths())
    }

    @* Tracking *@
    @Tracking.Zanox()
    @Tracking.ZanoxAffiliate()
</body>
</html>

