﻿@model Sitecore.Mvc.Presentation.RenderingModel

@try
{
    if (Model.Item != null)
    {
        var defaultWidth = 300;
        var widths = new List<int>() { 300, 355, 320 };
        string mediaQuery = "(max-width: 360px) calc(100vw - 40px),(max-width: 768px) calc(50vw - 30px), 300px";

        <div class="row row-section module-gallery" app-view="ModuleGalleryView">
            <div class="col-lg-12">
                <div class="gallery">
                    @foreach (Item child in Model.Item.Children)
                    {
                        var url = ScLink.GetUrl(ScValue.GetImage(child, "Image"));

                        using (Html.EditFrame(child, "Gallery Item"))
                        {
                            <div class="gallery-slide">
                                <figure class="labeled-image">
                                    <a href="@url" class="lightbox" data-rel="@Model.Item.ID.ToShortID()" tabindex="0">
                                        @Image.ContextRender(Html, child, "Image", defaultWidth, widths, mediaQuery)
                                    </a>
                                    <figcaption>
                                        @ScValue.GetString(child, "Caption Text")
                                    </figcaption>
                                </figure>
                            </div>
                        }
                    }
                </div>
            </div>

            <div class="count">
                <span class="current">@Model.Item.Children.Count</span> / <span class="max">@Model.Item.Children.Count</span> @Translate.Text("Gallery.Images")
            </div>
        </div>
    }
    else if (Sitecore.Context.PageMode.IsExperienceEditor)
    {
        @PageEditor.Error("PageEditor.Error.MissingDataItem", new { Module = Model.Rendering.RenderingItem.Name })
    }
}
catch (Exception ex)
{
    @PageEditor.Exception(Model.Rendering.RenderingItem.Name, ex)
}