﻿@model Sitecore.Mvc.Presentation.RenderingModel
@try
{
    if (Model.Item != null)
    {

        <div class="row row-section module-blockquote">
            <div class="col-lg-12">
                <blockquote>
                    <p>
                        @Html.Sitecore().Field("Text", Model.Item)
                    </p>
                </blockquote>
            </div>
        </div>
    }
    else
    {
        @PageEditor.Error("PageEditor.Error.MissingDataItem", new { Module = Model.Rendering.RenderingItem.Name })
    }
}
catch (Exception ex)
{
    @PageEditor.Exception(Model.Rendering.RenderingItem.Name, ex)
}
