﻿@model Sitecore.Mvc.Presentation.RenderingModel
@try
{
    if (Model.Item != null)
    {
        <div class="row row-section">
            <div class="col-lg-12">
                @if (Sitecore.Context.PageMode.IsExperienceEditor && string.IsNullOrWhiteSpace(ScValue.GetString(Model.Item, "Text")))
                {
                    @PageEditor.Warning("PageEditor.Error.NoText")
                }
                else
                {
                    @Text.HtmlText(Html, Model.Item, "Text")
                }
            </div>
        </div>
    }
    else
    {
        @PageEditor.Error("PageEditor.Error.MissingDataItem", new { Module = Model.Rendering.RenderingItem.Name })
    }
}
catch (Exception ex)
{
    @PageEditor.Exception(Model.Rendering.RenderingItem.Name, ex)
}
