﻿@model Sitecore.Mvc.Presentation.RenderingModel

@try
{
    if (Model.Item != null)
    {
        <div class="module-blog-overview" app-view="ModuleBlogOverviewView" data-url="@ScUtil.ServiceUrl("Blog", "GetBlogs", false)">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="row">
                            <div class="blog-box-holder">
                                @{
                                    dynamic blogData = Gasag.Web.Controllers.BlogController.FindBlogPages(0, new string[0]);
                                    var isFirst = true;
                                }
                                @foreach (dynamic blog in blogData.results)
                                {
                                    bool isPortrait = blog.image.port;
                                    var cls = string.Concat(
                                        "box",
                                        isFirst ? " box-double" : ""
                                    );
                                    var imageCls = isPortrait ? "port" : "land";

                                    var sizes = "(max-width: 768px) calc(100vw - 40px), ";
                                    if (isFirst)
                                    {
                                        if (isPortrait)
                                        {
                                            sizes += "(max-width: 1024px) calc(100vw/3 * 2 - 40px),940px";
                                        }
                                        else
                                        {
                                            sizes += "(max-width: 1024px) calc(100vw/3 * 2 + 160px),1140px";
                                        }
                                    }
                                    else
                                    {
                                        sizes += "(max-width: 1024px) calc(100vw/3 - 40px),";
                                        if (isPortrait)
                                        {
                                            sizes += "460px";
                                        }
                                        else
                                        {
                                            sizes += "660px";
                                        }
                                    }

                                    var srcsetTemplate = "{0} 940w, {1} 460w, {2} 650w, {3} 730w";
                                    if (!isPortrait)
                                    {
                                        srcsetTemplate = "{0} 1140w, {1} 660w, {2} 850w, {3} 930w";
                                    }
                                    var srcset = string.Format(srcsetTemplate, blog.image.desktopbig, blog.image.desktop, blog.image.tablet, blog.image.mobile);

                                    <div class="@cls" @*style="display: none"*@>
                                        <div class="content">
                                            <a href="@blog.url">
                                                <img sizes="@sizes" srcset="@srcset" src="@blog.image.mobile" alt="@blog.image.alt" class="@imageCls" />
                                                <div class="text">
                                                    <p class="headline">@blog.title</p>
                                                    <div class="tag">
                                                        <p>@blog.tag</p>
                                                    </div>
                                                </div>
                                            </a>
                                        </div>
                                    </div>

                                    isFirst = false;
                                }

                            </div>

                            @if (!blogData.lastTeaser)
                            {
                                <div class="col-lg-12 load-more-holder">
                                    <a href="#" class="load-more">@Translate.Text("Blog.LoadMore")</a>
                                </div>
                            }

                            <script id="blog-box-tmpl" type="x-tmpl-mustache">
                                <div class="box{{#isFirst}} box-double{{/isFirst}}" style="display: none">
                                    <div class="content">
                                        <a href="{{url}}">
                                            <img sizes="(max-width: 768px) calc(100vw - 40px),
                                                {{#isFirst}}
                                                    {{#image.port}}(max-width: 1024px) calc(100vw/3 * 2 - 40px){{/image.port}}{{^image.port}}(max-width: 1024px) calc(100vw/3 * 2 + 160px){{/image.port}},
                                                    {{#image.port}}940px{{/image.port}}{{^image.port}}1140px{{/image.port}}
                                                {{/isFirst}}
                                                {{^isFirst}}
                                                    (max-width: 1024px) calc(100vw/3 - 40px),
                                                    {{#image.port}}460px{{/image.port}}{{^image.port}}660px{{/image.port}}
                                                {{/isFirst}}"
                                                    srcset="{{#image.port}}
                                                    {{image.desktop-big}} 940w,
                                                    {{image.desktop}} 460w,
                                                    {{image.tablet}} 650w,
                                                    {{image.mobile}} 730w
                                                    {{/image.port}}{{^image.port}}
                                                    {{image.desktop-big}} 1140w,
                                                    {{image.desktop}} 660w,
                                                    {{image.tablet}} 850w,
                                                    {{image.mobile}} 930w
                                                    {{/image.port}}"
                                                    src="{{image.mobile}}"
                                                    alt="{{image.alt}}"
                                                    class="{{#image.port}}port{{/image.port}}{{^image.port}}land{{/image.port}} {{image.port}}" />
                                            <div class="text">
                                                <p class="headline">{{title}}</p>
                                                <div class="tag">
                                                    <p>{{tag}}</p>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </script>
                        </div>
                    </div>
                </div>
            </div>

            <div class="module-blog-filter" app-view="HelperEqualHeightView" data-selector=".blog-teaser" data-breakpoints="media-from-m-to-l,media-from-l">
                <div class="module-blog-filter-container">
                    <div class="col-lg-12">
                        <div class="col-lg-8">
                            <div class="blog-teaser tags-teaser">
                                <div class="header">
                                    <p class="headline">@Translate.Text("Blog.Tag")</p>
                                    <a href="#" class="reset-filter btn btn-link">@Translate.Text("Blog.ResetFilter")</a>
                                </div>
                                <ul>
                                    @{
                                        var tags = ScReference.GetItemRelativeToInstance("Tags").Children
                                            .Select(x => x.DisplayName)
                                            .Where(x => !string.IsNullOrWhiteSpace(x));
                                        var blogTemplate = ScReference.Instance().GetItem("Blog Page Template").ID;
                                        var allPages = ScReference.GetItemRelativeToInstance("Home").Axes.GetDescendants().Where(x => x.TemplateID == blogTemplate);
                                    }
                                    @foreach (var tag in tags)
                                    {
                                        if (allPages.Where(x => ScValue.GetStrings(x, "Tags").Contains(tag)).Any())
                                        {
                                            <li data-tag="@tag">#@tag</li>
                                        }
                                    }
                                </ul>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="blog-teaser social-teaser">
                                <div class="header">
                                    <p class="headline">@Translate.Text("Blog.FollowUs")</p>
                                </div>

                                <ul>
                                    @*@foreach (Item child in Model.Item.Children)
                                    {
                                        var typeItem = ScValue.GetItem(child, "Type");
                                        var type = "";
                                        if (typeItem != null)
                                        {
                                            type = ScValue.GetString(typeItem, "Value");
                                        }

                                        <li class="@type">
                                            @using (Html.EditFrame(child, "Blog Overview Social Media"))
                                            {
                                                <a href="@ScLink.GetUrl(child, "Link")" target="_blank">@Html.Sitecore().Field("Label", child)</a>
                                            }
                                        </li>
                                    }*@
                                    <li class="facebook"><a href="@ScValue.GetString(Model.Item, "Facebook Url")" target="_blank">Facebook</a></li>
                                    <li class="xing"><a href="@ScValue.GetString(Model.Item, "Xing Url")" target="_blank">Xing</a></li>
                                    <li class="linkedin"><a href="@ScValue.GetString(Model.Item, "LinkedIn Url")" target="_blank">LinkedIn</a></li>
                                    <li class="youtube"><a href="@ScValue.GetString(Model.Item, "YouTube Url")" target="_blank">YouTube</a></li>
                                    <li class="twitter"><a href="@ScValue.GetString(Model.Item, "Twitter Url")" target="_blank">Twitter</a></li>
                                    <li class="instagram"><a href="@ScValue.GetString(Model.Item, "Instagram Url")" target="_blank">Instagram</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
    else if (Sitecore.Context.PageMode.IsExperienceEditor)
    {
        @PageEditor.Error("PageEditor.Error.MissingDataItem", new { Module = Model.Rendering.RenderingItem.Name })
    }
}
catch (Exception ex)
{
    @PageEditor.Exception(Model.Rendering.RenderingItem.Name, ex)
}
