﻿@try
{
    var categoriesFilterFolder = ScReference.GetItemRelativeToInstance("Download Teaser Filter Categories Folder");

    Gizmo.Web.CookieManager.SetCookie("SitecoreContextItem", Sitecore.Context.Item.ID.ToString());

    <div class="row module-overview-filter" app-view="ModuleOverviewFilterView">
        <div class="col-lg-12">
            <div class="well">
                <div class="row">
                    <div class="col-lg-12">
                        @TeaserFilter.Render(Html, categoriesFilterFolder, "category")
                    </div>                    
                </div>
            </div>
        </div>
    </div>
    
    <div class="row row-section module-download-teaser" app-view="ModuleDownloadsTeaserView" 
         data-url="@ScUtil.ServiceUrl("Teaser", "Download", false)">
        <div class="col-lg-12">
            <p class="module-title">@Html.Sitecore().Field("Title")</p>
        </div>

        <div class="col-lg-12">
            <div class="count">
                <strong><span class="current">0</span> @Html.Sitecore().Field("Type Label")</strong> @Html.Sitecore().Field("Description Label") <span class="max">0</span>
            </div>
        </div>
        <div class="download-teaser-holder">
        </div>

        <div class="col-lg-12 load-more-holder">
            <a href="#" class="load-more">@Translate.Text("Buttons.LoadMore")</a>
        </div>

        <script id="download-teaser-tmpl" type="x-tmpl-mustache">
            <div class="col-lg-3">
                {{#imgteaser}}
                <div class="download-teaser download-image">
                    <div class="img-holder">
                        <img src="{{image.url}}" alt="{{image.alt}}" />
                    </div>
                    <div class="content">
                        <a href="{{download.72-dpi}}">{{download.format}} 72 dpi</a>
                        <a href="{{download.300-dpi}}">{{download.format}} 300 dpi</a>
                    </div>
                </div>
                {{/imgteaser}}
                {{^imgteaser}}
                <div class="download-teaser download-document">
                    <div class="img-holder">
                        <img src="{{image.url}}" alt="{{image.alt}}" />
                    </div>
                    <div class="content">
                        <p class="category">{{category}}</p>
                        <div class="dotdotdot-wrapper">
                            <h2>{{title}}</h2>
                        </div>
                        <a href="{{download.link}}">{{download.format}} {{download.size}}</a>
                    </div>
                </div>
                {{/imgteaser}}
            </div>
        </script>
    </div>
}
catch (Exception ex)
{
    @PageEditor.Exception(Model.Rendering.RenderingItem.Name, ex)
}