﻿@try
{
    var locationFilterFolder = ScReference.GetItemRelativeToInstance("Event Teaser Filter Location Folder");
    var topicFilterFolder = ScReference.GetItemRelativeToInstance("Event Teaser Filter Topic Folder");

    Gizmo.Web.CookieManager.SetCookie("SitecoreContextItem", Sitecore.Context.Item.ID.ToString());

    <div class="row module-overview-filter" app-view="ModuleOverviewFilterView">
        <div class="col-lg-12">
            <div class="well">
                <div class="row">
                    <div class="col-lg-6">
                        @TeaserFilter.Render(Html, locationFilterFolder, "location")
                    </div>
                    <div class="col-lg-6">
                        @TeaserFilter.Render(Html, topicFilterFolder, "topic")
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row row-section module-events-teaser" app-view="ModuleEventsTeaserView|HelperEqualHeightView"
         data-selector=".events-teaser" data-breakpoints="media-from-m-to-l,media-from-l"
         data-url="@ScUtil.ServiceUrl("Teaser", "Event", false)">
        <div class="col-lg-12">
            <p class="module-title">@Html.Sitecore().Field("Title")</p>
        </div>

        <div class="col-lg-12">
            <div class="count">
                <strong><span class="current">0</span> @Html.Sitecore().Field("Type Label")</strong> @Html.Sitecore().Field("Description Label") <span class="max">0</span>
            </div>
        </div>

        <div class="events-teaser-holder">

        </div>

        <div class="col-lg-12 load-more-holder">
            <a href="#" class="load-more">@Translate.Text("Buttons.LoadMore")</a>
        </div>

        <script id="events-teaser-tmpl" type="x-tmpl-mustache">
            <div class="col-lg-6">
                <a href="{{link}}" class="events-teaser">
                    {{#image}}
                    <div class="img-holder">
                        <img src="{{image.url}}" alt="{{image.alt}}" />
                    </div>
                    {{/image}}
                    <div class="content">
                        <p class="date">{{date}} <span class="place">{{place}}</span></p>
                        <div class="dotdotdot-wrapper">
                            <h2>{{title}}</h2>
                        </div>
                        <div class="dotdotdot-wrapper">
                            <p class="desc">{{description}}</p>
                        </div>
                    </div>
                </a>
            </div>
        </script>
    </div>
}
catch (Exception ex)
{
    @PageEditor.Exception(Model.Rendering.RenderingItem.Name, ex)
}