﻿@model Sitecore.Mvc.Presentation.RenderingModel
@try
{
    if (Model.Item != null)
    {
        var image = ScValue.GetImage(Model.Item, "Image");
        bool hasImage = image != null;
        string informationContainerClass = hasImage ? "col-lg-8" : "col-lg-12";        
        <div class="row module-home-image-text-teaser" data-breakpoints="media-from-m-to-l,media-from-l" app-view="HelperEqualHeightView">
            @if (hasImage)
            {
                <section class="col-lg-4">
                    @Html.Sitecore().Field("Link", new { text = " ", @class = "well well-image", style = "background-image: url(" + ScLink.GetUrl(image) +");" })
                </section>
            }
            <section class="@informationContainerClass">
                @Html.Sitecore().BeginField("Link", new { @class = "well", haschildren = true, text = " " })
                    <h3>@Html.Sitecore().Field("Headline", Model.Item)</h3>
                    <p>@Html.Sitecore().Field("Description", Model.Item)</p>
                    <span class="a">@Html.Sitecore().Field("Link Text", Model.Item)</span>
                @Html.Sitecore().EndField()
            </section>
        </div>
    }
    else if (Sitecore.Context.PageMode.IsExperienceEditor)
    {
        @PageEditor.Error("PageEditor.Error.MissingDataItem", new { Module = Model.Rendering.RenderingItem.Name })
    }
}
catch (Exception ex)
{
    @PageEditor.Exception(Model.Rendering.RenderingItem.Name, ex)
}
