﻿@try
{
    var categoryFilterFolder = ScReference.GetItemRelativeToInstance("Job Teaser Filter Kategorie Folder");
    var businessgroupFilterFolder = ScReference.GetItemRelativeToInstance("Job Teaser Filter Firmengruppe Folder");

    Gizmo.Web.CookieManager.SetCookie("SitecoreContextItem", Sitecore.Context.Item.ID.ToString());

    <div class="row module-overview-filter" app-view="ModuleOverviewFilterView">
        <div class="col-lg-12">
            <div class="well">
                <div class="row">
                    <div class="col-lg-6">
                        @TeaserFilter.Render(Html, categoryFilterFolder, "category")
                    </div>
                    <div class="col-lg-6">
                        @TeaserFilter.Render(Html, businessgroupFilterFolder, "businessgroup")
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row row-section module-jobs-teaser" app-view="ModuleJobsTeaserView|HelperEqualHeightView" data-selector=".jobs-teaser" data-breakpoints="media-from-l#2" 
         data-url="@ScUtil.ServiceUrl("Teaser", "Jobs", false)">
        <div class="col-lg-12">
            <p class="module-title">@Html.Sitecore().Field("Title")</p>
        </div>

        <div class="col-lg-12">
            <div class="count">
                <strong><span class="current">0</span> @Html.Sitecore().Field("Type Label")</strong> @Html.Sitecore().Field("Description Label") <span class="max">0</span>
            </div>
        </div>

        <div class="jobs-teaser-holder">
        </div>

        <div class="col-lg-12 load-more-holder">
            <a href="#" class="load-more">Weitere Ergebnisse laden</a>
        </div>

        <script id="jobs-teaser-tmpl" type="x-tmpl-mustache">
            <div class="col-lg-6">
                <a href="{{link}}" class="jobs-teaser">
                    <div class="content">
                        <p class="category">{{category}} <span>{{brand}}</span></p>
                        <h2>{{title}}</h2>
                        <img src="{{image.url}}" alt="{{image.alt}} " />
                    </div>
                </a>
            </div>
        </script>
    </div>
}
catch (Exception ex)
{
    @PageEditor.Exception(Model.Rendering.RenderingItem.Name, ex)
}