﻿@model Sitecore.Mvc.Presentation.RenderingModel

@try
{
    if (Model.Item != null)
    {
        var num = Math.Max(0, ScValue.GetInteger(Model.Item, "Number News"));
        var news = ScReference.GetItemRelativeToInstance("News Folder").Children
            .OrderByDescending(x => ScValue.GetDate(x, "Date"))
            .Take(num);

        <div class="row row-section">
            <div class="module-news-teaser news-teaser-slider col-lg-12" app-view="ModuleNewsTeaserSliderView">
                <div class="news-teaser-holder">
                    @foreach (var item in news)
                    {
                        var image = ScValue.GetImage(item, "Image");
                        var date = string.Format("{0:dd}.{0:MM}.{0:yyyy}", ScValue.GetDate(item, "Date"));
                        var category = "";
                        var categoryItem = ScValue.GetItem(item, "Bereich");
                        if (categoryItem != null)
                        {
                            category = ScValue.GetString(categoryItem, "Value");
                        }

                        <a href="@ScLink.GetUrl(item, "Link")" class="news-teaser">
                            @if (image != null)
                            {
                                <div class="img-holder">
                                    <img src="@ScLink.GetUrl(image)" alt="@image.Alt" />
                                </div>
                            }
                            <div class="content">
                                <p class="date">
                                    @date
                                    <span class="category">@category</span>
                                </p>
                                <div class="dotdotdot-wrapper">
                                    <h2>@ScValue.GetString(item, "Title")</h2>
                                </div>
                                <div class="dotdotdot-wrapper">
                                    <p class="desc">@ScValue.GetString(item, "Description")</p>
                                </div>
                            </div>
                        </a>
                    }
                </div>
                <!-- count numbers will be set automatic -->
                <div class="count-slider">
                    <span class="current">1</span> / <span class="max">@news.Count()</span>
                </div>
            </div>
        </div>
    }
}
catch (Exception ex)
{
    @PageEditor.Exception(Model.Rendering.RenderingItem.Name, ex)
}

