﻿@try
{
    var bereichFilterFolder = ScReference.GetItemRelativeToInstance("News Teaser Filter Bereich Folder");
    var periodFilterFolder = ScReference.GetItemRelativeToInstance("News Teaser Filter Period Folder");

    Gizmo.Web.CookieManager.SetCookie("SitecoreContextItem", Sitecore.Context.Item.ID.ToString());

    <div class="row module-overview-filter" app-view="ModuleOverviewFilterView">
        <div class="col-lg-12">
            <div class="well">
                <div class="row">
                    <div class="col-lg-6">
                        @TeaserFilter.Render(Html, bereichFilterFolder, "category")
                    </div>
                    <div class="col-lg-6">
                        @TeaserFilter.Render(Html, periodFilterFolder, "period")
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row row-section module-news-teaser" app-view="ModuleNewsTeaserView|HelperEqualHeightView" data-selector=".news-teaser" data-breakpoints="media-from-m-to-l,media-from-l" 
         data-url="@ScUtil.ServiceUrl("Teaser", "News", false)">
        <div class="col-lg-12">
            <p class="module-title">@Html.Sitecore().Field("Title")</p>
        </div>

        <div class="col-lg-12">
            <div class="count">
                <strong><span class="current">0</span> @Html.Sitecore().Field("Type Label")</strong> @Html.Sitecore().Field("Description Label") <span class="max">0</span>
            </div>
        </div>

        <div class="news-teaser-holder">
        </div>

        <div class="col-lg-12 load-more-holder">
            <a href="#" class="load-more">@Translate.Text("Buttons.LoadMore")</a>
        </div>

        <script id="news-teaser-tmpl" type="x-tmpl-mustache">
            <div class="col-lg-6">
                <a href="{{link}}" class="news-teaser">
                    {{#image}}
                    <div class="img-holder">
                        <img src="{{image.url}}" alt="{{image.alt}}" />
                    </div>
                    {{/image}}
                    <div class="content">
                        <p class="date">{{date}} <span class="category">{{category}}</span></p>
                        <div class="dotdotdot-wrapper">
                            <h2>{{title}}</h2>
                        </div>
                        <div class="dotdotdot-wrapper">
                            <p class="desc">{{description}}</p>
                        </div>
                    </div>
                </a>
            </div>
        </script>
    </div>
}
catch (Exception ex)
{
    @PageEditor.Exception(Model.Rendering.RenderingItem.Name, ex)
}