﻿@model Sitecore.Mvc.Presentation.RenderingModel

@try
{
    if (Model.Item != null)
    {
        var typeItem = ScValue.GetItem(Model.Item, "Type");
        string type = typeItem != null ? ScValue.GetString(typeItem, "Value") : string.Empty;

        <div class="col-lg-4">
            <div class="well @type">
                <h3 class="h2">@Html.Sitecore().Field("Headline", Model.Item)</h3>
                <p>@Html.Sitecore().Field("Description", Model.Item)</p>

                @if (Model.Item.HasChildren)
                {
                    <ul class="list-group list-group-alternate">
                        @foreach (Item child in Model.Item.Children)
                        {
                            <li>
                                @using (Html.EditFrame(child, "Link"))
                                {
                                    @Html.Sitecore().BeginField("Link", child, new { haschildren = true, text = " " })
                                    @Html.Sitecore().Field("Description", child)
                                    @Html.Sitecore().EndField()
                                }
                            </li>
                        }
                    </ul>
                }
                else
                {
                    @PageEditor.Error("PageEditor.Error.MissingChildren", new { Module = Model.Rendering.RenderingItem.Name })
                }
            </div>
        </div>
    }
    else if (Sitecore.Context.PageMode.IsExperienceEditor)
    {
        @PageEditor.Error("PageEditor.Error.MissingDataItem", new { Module = Model.Rendering.RenderingItem.Name })
    }
}
catch (Exception ex)
{
    @PageEditor.Exception(Model.Rendering.RenderingItem.Name, ex)
}