﻿@model Sitecore.Mvc.Presentation.RenderingModel

@helper RenderProductTeaser(Item item)
{
    var typeItem = ScValue.GetItem(item, "Type");
    string type = typeItem != null ? ScValue.GetString(typeItem, "Value") : string.Empty;
    <div class="well @type">
        @using (Html.EditFrame(item, "Product Teaser"))
        {
            <h3 class="h2">@Html.Sitecore().Field("Headline", item)</h3>
            <p>@Html.Sitecore().Field("Description", item)</p>
            if (item.HasChildren)
            {
                <ul class="list-group list-group-alternate">
                    @foreach (Item child in item.Children)
                    {
                        <li>
                            @using (Html.EditFrame(child, "Link"))
                            {
                                @Html.Sitecore().BeginField("Link", child, new { haschildren = true, text = " " })
                                @Html.Sitecore().Field("Description", child)
                                @Html.Sitecore().EndField()
                            }
                        </li>
                    }
                </ul>
            }
            else
            {
                @PageEditor.Error("PageEditor.Error.MissingChildren", new { Module = Model.Rendering.RenderingItem.Name })
            }
        }
    </div>
}

@try
{
    if (Model.Item != null)
    {
        <div class="row module-home-product-teasers" app-view="HelperEqualHeightView" data-breakpoints="media-from-m-to-l,media-from-l">
            @if (Model.Item.HasChildren)
            {
                foreach(Item child in Model.Item.Children)
                { 
                    <div class="col-lg-4">
                        @RenderProductTeaser(child)
                    </div>
                }
            }
            else
            {
                @PageEditor.Error("PageEditor.Error.MissingChildren", new { Module = Model.Rendering.RenderingItem.Name })
            }
        </div>
    }
    else if (Sitecore.Context.PageMode.IsExperienceEditor)
    {
        @PageEditor.Error("PageEditor.Error.MissingDataItem", new { Module = Model.Rendering.RenderingItem.Name })
    }
}
catch (Exception ex)
{
    @PageEditor.Exception(Model.Rendering.RenderingItem.Name, ex)
}