﻿@model Sitecore.Mvc.Presentation.RenderingModel
@try
{
    if (Model.Item != null)
    {
        <div class="canvas-box">
            <div class="canvas-content">
                @Html.Sitecore().BeginField("Link", new { @class = "teaser teaser-image", haschildren = true, text = " " })
                    @Html.Sitecore().Field("Image", new { @class = "crop-image" })
                    <div class="teaser-image-shader"></div>
                    <h3>@Html.Sitecore().Field("Text")</h3>
                    <span class="teaser-fake-anchor">
                        <span class="icon-arrow_right"></span>
                    </span>
                @Html.Sitecore().EndField()
            </div>
        </div>
    }
    else if (Sitecore.Context.PageMode.IsExperienceEditor)
    {
        @PageEditor.Error("PageEditor.Error.MissingDataItem", new { Module = Model.Rendering.RenderingItem.Name })
    }
}
catch (Exception ex)
{
    @PageEditor.Exception(Model.Rendering.RenderingItem.Name, ex)
}
