﻿@model Sitecore.Mvc.Presentation.RenderingModel
@try
{
    if (Model.Item != null)
    {
        <div class="teaser teaser-default">
            @Html.Sitecore().BeginField("Link", new { haschildren = true, text = " " })
                <p>@Html.Sitecore().Field("Subheadline")</p>
                <h3>@Html.Sitecore().Field("Headline")</h3>

                @Html.Sitecore().Field("Description Top")

                @if (Sitecore.Context.PageMode.IsExperienceEditor || !string.IsNullOrWhiteSpace(ScValue.GetString(Model.Item, "Description Bottom")))
                {
                    <br />
                    @Html.Sitecore().Field("Description Bottom")
                }

                <span class="teaser-fake-anchor">
                    <span class="icon-arrow_right"></span>
                </span>
            @Html.Sitecore().EndField()
        </div>
    }
    else if (Sitecore.Context.PageMode.IsExperienceEditor)
    {
        @PageEditor.Error("PageEditor.Error.MissingDataItem", new { Module = Model.Rendering.RenderingItem.Name })
    }
}
catch (Exception ex)
{
    @PageEditor.Exception(Model.Rendering.RenderingItem.Name, ex)
}


