﻿@model Sitecore.Mvc.Presentation.RenderingModel

@helper RenderTariffTeaser(Item item)
{
var typeItem = ScValue.GetItem(item, "Type");
string type = typeItem != null ? ScValue.GetString(typeItem, "Value") : string.Empty;

var currencyItem = ScValue.GetItem(item, "Currency");
string currency = currencyItem != null ? ScValue.GetString(currencyItem, "Value") : string.Empty;

var colorItem = ScValue.GetItem(item, "Color");
string color = colorItem != null ? ScValue.GetString(colorItem, "Value") : string.Empty;

var bonusItem = ScValue.GetItem(item, "Bonus");
string bonus = String.Empty;
if (ScValue.GetString(item, "Bonus neu") != String.Empty)
{
    bonus = ScValue.GetString(item, "Bonus neu");
}
else {
    bonus = bonusItem != null ? bonusItem["Bonus"] : string.Empty;
}


var calculatorPageItem = ScValue.GetItem(item, "Calculator Page");
//string url = calculatorPageItem != null ?
//    Sitecore.Links.LinkManager.GetItemUrl(calculatorPageItem) + (item != null ? "?tariffteaser=" + item.ID.ToShortID().ToString() : string.Empty) :
//    "#";
string url = calculatorPageItem != null ?
Sitecore.Links.LinkManager.GetItemUrl(calculatorPageItem) : "";

using (Html.EditFrame(item, "Tariff Teaser"))
{
        <a href="@url" class="well @color clear-children">
            <div class="disturber disturber-@type right">
                <div class="text">
                    @Html.Sitecore().Field("Disturber Top Line", item)
                    <div class="disturber-price">@bonus @Html.Raw(currency)</div>
                    @Html.Sitecore().Field("Disturber Bottom Line 1", item)<br />
                    @Html.Sitecore().Field("Disturber Bottom Line 2", item)
                </div>
            </div>

            <div class="tariff-teaser-text-body text-@type">
                <h3>@Html.Sitecore().Field("Headline", item)</h3>
                <p>@Html.Sitecore().Field("Description", item)</p>
                <span class="btn btn-link btn-white">@Html.Sitecore().Field("Link Text", item)</span>
            </div>
        </a>
}
}

@try
{
    if (Model.Item != null)
    {
        <div class="row module-home-tariff-teasers" app-view="HelperEqualHeightView" data-breakpoints="media-from-m-to-l,media-from-l">
            @if (Model.Item.HasChildren)
            {
                foreach (Item child in Model.Item.Children)
                {
                    <section class="col-lg-6">
                        @RenderTariffTeaser(child)
                    </section>
                }
            }
            else
            {
                @PageEditor.Error("PageEditor.Error.MissingChildren", new { Module = Model.Rendering.RenderingItem.Name })
            }
        </div>
    }
    else if (Sitecore.Context.PageMode.IsExperienceEditor)
    {
        @PageEditor.Error("PageEditor.Error.MissingDataItem", new { Module = Model.Rendering.RenderingItem.Name })
    }
}
catch (Exception ex)
{

    @PageEditor.Exception(Model.Rendering.RenderingItem.Name, ex)
}