﻿@model Sitecore.Mvc.Presentation.RenderingModel

@try
{
    if (Model.Item != null)
    {
        var typeItem = ScValue.GetItem(Model.Item, "Type");
        string type = typeItem != null ? ScValue.GetString(typeItem, "Value") : string.Empty;

        var currencyItem = ScValue.GetItem(Model.Item, "Currency");
        string currency = currencyItem != null ? ScValue.GetString(currencyItem, "Value") : string.Empty;

        var colorItem = ScValue.GetItem(Model.Item, "Color");
        string color = colorItem != null ? ScValue.GetString(colorItem, "Value") : string.Empty;

        var bonusItem = ScValue.GetItem(Model.Item, "Bonus");
        string bonus = String.Empty;
        if (ScValue.GetString(Model.Item, "Bonus neu") != String.Empty)
        {
            bonus = ScValue.GetString(Model.Item, "Bonus neu");
        }
        else
        {
            bonus = bonusItem != null ? bonusItem["Bonus"] : string.Empty;
        }

        var calculatorPageItem = ScValue.GetItem(Model.Item, "Calculator Page");
        //string url = calculatorPageItem != null ?
        //    Sitecore.Links.LinkManager.GetItemUrl(calculatorPageItem) + (Model.Item != null ? "?tariffteaser=" + Model.Item.ID.ToShortID().ToString() : string.Empty) :
        //"#";

        string url = calculatorPageItem != null ?
        Sitecore.Links.LinkManager.GetItemUrl(calculatorPageItem) : "";

        <section class="col-lg-6">
            <a href="@url" class="well @color clear-children">        
                <div class="disturber disturber-@type right">
                    <div class="text">
                        @Html.Sitecore().Field("Disturber Top Line", Model.Item)
                        <div class="disturber-price">@bonus @Html.Raw(currency)</div>
                        @Html.Sitecore().Field("Disturber Bottom Line 1", Model.Item)<br />
                        @Html.Sitecore().Field("Disturber Bottom Line 2", Model.Item)
                    </div>
                </div>

                <div class="tariff-teaser-text-body text-@type">
                    <h3>@Html.Sitecore().Field("Headline", Model.Item)</h3>
                    <p>@Html.Sitecore().Field("Description", Model.Item)</p>
                    <span class="btn btn-link btn-white">@Html.Sitecore().Field("Link Text", Model.Item)</span>
                </div>
            </a>
        </section>
    }
    else if (Sitecore.Context.PageMode.IsExperienceEditor)
    {
        @PageEditor.Error("PageEditor.Error.MissingDataItem", new { Module = Model.Rendering.RenderingItem.Name })
    }
}
catch (Exception ex)
{

    @PageEditor.Exception(Model.Rendering.RenderingItem.Name, ex)
}