﻿@try
{
    var couponFilterFolder = ScReference.GetItemRelativeToInstance("ImageText Teaser Filter Coupon Folder");
    var innovationFilterFolder = ScReference.GetItemRelativeToInstance("ImageText Teaser Filter Innovation Folder");

    Gizmo.Web.CookieManager.SetCookie("SitecoreContextItem", Sitecore.Context.Item.ID.ToString());

    <div class="row module-overview-filter" app-view="ModuleOverviewFilterView">
        <div class="col-lg-12">
            <div class="well">
                <div class="row">
                    <div class="col-lg-6">
                        @TeaserFilter.Render(Html, couponFilterFolder, "coupon")
                    </div>
                    <div class="col-lg-6">
                        @TeaserFilter.Render(Html, innovationFilterFolder, "innovation")
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row row-section module-image-text-teaser" app-view="ModuleImageTextTeaserView" 
         data-url="@ScUtil.ServiceUrl("Teaser", "TextImage", false)">
        <div class="col-lg-12">
            <p class="module-title">@Html.Sitecore().Field("Title")</p>
        </div>

        <div class="col-lg-12">
            <div class="count">
                <strong><span class="current">0</span> @Html.Sitecore().Field("Type Label")</strong> @Html.Sitecore().Field("Description Label") <span class="max">0</span>
            </div>
        </div>

        <div class="image-text-teaser-holder">
        </div>

        <div class="col-lg-12 load-more-holder">
            <a href="#" class="load-more">Weitere Ergebnisse laden</a>
        </div>

        <script id="image-text-teaser-tmpl" type="x-tmpl-mustache">
            <div class="col-lg-3">
                <div class="image-text-teaser">
                    {{#link}}
                    <a href="{{link}}">
                        {{/link}}
                        <div class="img-holder">
                            <img src="{{image.url}}" alt="{{image.alt}}" />
                        </div>
                        <div class="content">
                            <h2>{{title}}</h2>
                            <p class="desc">{{description}}</p>
                        </div>
                        {{#link}}
                    </a>
                    {{/link}}
                </div>
            </div>
        </script>
    </div>
}
catch (Exception ex)
{
    @PageEditor.Exception(Model.Rendering.RenderingItem.Name, ex)
}