﻿@model Sitecore.Mvc.Presentation.RenderingModel

@try
{
    if (Model.Item != null)
    {
        var cls = "row row-section module-content-text-image";
        if (Instance.IsEdl)
        {
            cls += " edl-backmorph";
        }

        <div class="@cls" app-view="HelperEqualHeightView" data-breakpoints="media-from-l">
            @if (Model.Item.Children.Any())
            {
                foreach (Item child in Model.Item.Children)
                {
                    <div class="col-lg-4">
                        @using (Html.EditFrame(child, "Text Teaser"))
                        {
                            <div class="text well">
                                @if (Sitecore.Context.PageMode.IsExperienceEditor || !string.IsNullOrWhiteSpace(ScValue.GetString(child, "Headline")))
                                {
                                    <h3>@Html.Sitecore().Field("Headline", child)</h3>
                                }
                                @if (Sitecore.Context.PageMode.IsExperienceEditor || !string.IsNullOrWhiteSpace(ScValue.GetString(child, "Subheadline")))
                                {
                                    <h4 class="subline">@Html.Sitecore().Field("Subheadline", child)</h4>
                                }
                                @if (Sitecore.Context.PageMode.IsExperienceEditor || !string.IsNullOrWhiteSpace(ScValue.GetString(child, "Description")))
                                {
                                    @Text.HtmlText(Html, child, "Description")
                                }
                            </div>
                        }
                    </div>
                }
            }
            else
            {
                @PageEditor.Warning("PageEditor.NoChildren", new { Module = Model.Rendering.RenderingItem.Name })
            }
        </div>
    }
    else if (Sitecore.Context.PageMode.IsExperienceEditor)
    {
        @PageEditor.Error("PageEditor.Error.MissingDataItem", new { Module = Model.Rendering.RenderingItem.Name })
    }
}
catch (Exception ex)
{
    @PageEditor.Exception(Model.Rendering.RenderingItem.Name, ex)
}