
@import (reference) "../../variables";

//
// Module: Download Teaser
// ----------------------
//

.module-download-teaser {

	.count {
		border-bottom: 2px solid @color-corporate-blue-light;
		color: @color-corporate-gray-dark;
		margin-bottom: @spacing-tiny;
		padding-bottom: @spacing-small - @spacing-atomic;

		strong {
			color: @color-corporate-gray-dark;
		}
	}

	.download-teaser {
		background-color: @color-corporate-gray-light;
		display: block;
		height: 100%;
		margin: 10px 0;
		overflow: hidden;
		position: relative;

		.img-holder {
			height: 200px;
			overflow: hidden;
			width: 100%;
			position: relative;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;

			img {
				left: 50%;
				position: absolute;
				text-align: center;
				top: 50%;
				transform: translate(-50%, -50%);
				width: auto;
				height: auto;
				max-height: none;
				max-width: 100%;
				min-height: 100%;
				min-width: 100%;
			}
		}

		.content {
			box-sizing: border-box;
			padding: @spacing-default - @spacing-atomic @spacing-default 70px;

			.category {
				margin: 0 0 @spacing-tiny;

				white-space: nowrap;
				overflow: hidden;
				text-overflow: ellipsis;
			}

			.dotdotdot-wrapper {
				max-height: 100px; // About 2 lines in desktop size. Also set in js dotdotdot config.
				overflow: hidden;

				h2 {
					font-size: @font-size-os-ml;
					margin: 0;
				}
			}

			a {
				color: @color-corporate-gray-medium;
				display: inline-block;
				font-size: @font-size-os-xs;
				position: absolute;
				bottom: @spacing-default;
				left: @spacing-default;


				.icon(@icon-download);

				&:before {
					color: @color-highlight-orange;
					font-size: @base-font-size;
					padding-right: @spacing-tiny;
					position: relative;
					top: 4px;
					left: 2px;
				}

				&:hover {
					text-decoration: none;
					color: @color-highlight-orange-hover;

					&:before {
						color: @color-highlight-orange-hover;
					}
				}
			}
		}

		&.download-image {
			position: relative;
			min-height: 350px;
			.img-holder {
				height: 100%;
				position: absolute;
				top: 0;
				right: 0;
				bottom: 0;
				left: 0;
				overflow: hidden;

				img {
					width: auto;
					height: auto;
					max-height: 100%;
					max-width: none;
					min-height: 100%;
					min-width: 100%;
				}
			}

			.content {
				padding: @spacing-default - @spacing-atomic @spacing-default;
				position: absolute;
				bottom: 0;
				left: 0;

				a {
					position: relative;
					left: -@spacing-atomic;
					bottom: 0;

					display: block;

					padding: @spacing-atomic;
					margin-top: @spacing-tiny;

					color: @white;

					&:before {
						color: @white;
					}

					&:hover {
						color: @color-highlight-orange-hover;

						&:before {
							color: @color-highlight-orange-hover;
						}
					}
				}
			}
		}
	}

	.load-more-holder {
		margin: @spacing-large 0;
		text-align: center;
	}

	.col-lg-3 {
		@media @media-to-l {
			width: 50%;
		}
		@media @media-to-m {
			width: 100%;
		}
	}
}
