
@import (reference) "../../variables";
@import (reference) "../../fonts/icon-font";

//
// Module: Filter
// --------------

//
// Color setup overview
// --------------------

@color-overview-filter-border: @color-border-combined-with-light;


#page-overview .module-overview-filter {
	@media @media-from-m-to-l {
		.col-lg-3 {
			width: 50%;

			margin-bottom: @spacing-small;

			&:nth-last-child(-n+2) {
				margin-bottom: 0;
			}
		}
	}

	@media @media-to-m {
		.col-lg-3,
		.col-lg-6 {
			width: 100%;

			margin-bottom: @spacing-small;

			&:last-child {
				margin-bottom: 0;
			}
		}
	}

	.well {
		padding: @spacing-small;

		select {
			border: 2px solid @color-overview-filter-border;
		}
	}
}
