
@import (reference) "../../variables";
@import (reference) "../../mixins/maintain-ratio";

//
// Module: Filter
// --------------

//
// Color setup overview
// --------------------

@color-overview-filter-border: @color-border-combined-with-light;
@color-overview-filter-background: @color-corporate-white;
@color-overview-filter-default-text: @color-text-primary;
@color-overview-filter-active-text: @color-highlight-orange;

@color-overview-filter-options-background: @color-border-light;


#page-overview .module-social-media-channels {
	.col-lg-6 {
		margin-bottom: @spacing-small;

		.canvas-box {
			position: relative;

			&:before {
				padding-top: 56.25%;
			}

			.canvas-content {
				overflow: hidden;
				z-index: 10;

				// This whole block is only necessary to make the iframe scrollable on iOS/Safari devices.
				&.twitter {
					-webkit-overflow-scrolling: touch;
					overflow-y: auto;
				}

				&.youtube iframe {
					width: 100%;
					height: 100%;
				}
			}

			.fallback {
				position: absolute;
				left: 0;
				top: 0;
				width: 100%;
				height: 100%;
				background: @color-corporate-gray-light;

				span {
					left: 50%;
					position: absolute;
					text-align: center;
					top: 50%;
					transform: translate(-50%, -50%);
					font-size: 45px;

					&.icon-brand {
						color: #e62117; //YouTube RGB
					}

					&.icon-brand2 {
						color: #1da1f2; //twitter RGB
					}
				}
			}
		}


	}

	@media @media-to-m {
		.col-lg-6 {
			width: 100%;
		}
	}
}
