
@import "variables";
@import "mixins/sizing";


.debug-outline {
	.row {
		box-shadow:
			inset -1px -1px green,
			inset -1px  1px green,
			inset  1px -1px green,
			inset  1px  1px green;

		.col-lg-12,
		.col-lg-10,
		.col-lg-8,
		.col-lg-6,
		.col-lg-4,
		.col-lg-3,
		.col-lg-2 {

			box-shadow:
				inset -1px -1px purple,
				inset -1px  1px purple,
				inset  1px -1px purple,
				inset  1px  1px purple;
		}
	}
}

.hide {
	display: none !important;
}

.left {
	float: left;
}

.right {
	float: right;
}

.clear-children:after {
	content: '';
	display: table;
	clear: both;
}

.image-cropper {
	.square(100%);
	background: no-repeat center center;
}

//
// Youtube video is 1:0.8235 or 82.35%
// Technically the same as .maintain-ratio(...) but without the interfering to
// nested elements.
//
.canvas-box {
	position: relative;
	display: inline-block;
	width: 100%;
	background-size: cover;

	&:before {
		content: '';
		display: block;
		padding-top: 82.35%; // Overwrite this in your custom implementation to the ratio you want to achieve.
	}

	.canvas-content {
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
	}
}

.middle-ghost {
	display: table;
	width: 100%;
	height: 100%;

	.middle {
		display: table-cell;
		text-align: center;
		vertical-align: middle;
	}
}

.text-helper {
	// Do not optimize to preserve background color setting.
	background-image: url(../img/layout/text-helper.png);
	background-position: top left;
	background-repeat: no-repeat;
}
