// ==========================================================================
// Author's custom styles
// ==========================================================================

/* @ifdef DEV */
// styles just for dev
/* @endif */

//
// Match Media Shims
// -----------------
//

#breakpoint-shim {
	display: none;

	#match-media > .breakpoint-shim("xs", "s", "m"; "screen-"; "-max");
}

#media-query-shim {
	display: none;
	font-family: "media-from-l", Arial;

	#match-media > .media-query-shim("s", "m", "l";);
}

/* @ifdef DEV */
// Just for breakpoint view on dev
#breakpoint-visual {
	background-color: fade(@white, 60);
	color: @black;
	padding: 5px;
	position: fixed;
	right: 0;
	top: 0;
	z-index: 200;
}
/* @endif */
