//
// Colors
// ------

@black:             #000;
@grey-dark-1:       #333;
@grey-dark-2:       #666;
@grey:              #999;
@grey-light:        #ccc;
@white:             #fff;

@red:               #f00;
@green:             #0f0;
@blue:              #00f;

//
// Core color references
// ---------------------
//
// These variables use color names, thus don't use them outside the variables file.
// Also serves as an overview of the colors involved, syntax highlighting shows all usages.
//
// <core-colors>
@color-corporate-white: @white;

@color-corporate-blue-light: #80b2ca;
@color-corporate-blue-medium: #006695;

@color-corporate-blue-dark: #004e76;
@color-corporate-blue-dark-hover: #046698;
@color-corporate-blue-line-on-blue: #1a6083;

@color-corporate-green: #57ab27;

@color-corporate-gray-light: #f2f2f2;
@color-corporate-gray-light-hover: #eae8e8;
@color-corporate-gray-combined-with-light: #e6e6e6;

@color-corporate-gray-medium: #888888;
@color-corporate-gray-ligt: #e8e8e8;
@color-corporate-gray-dark: #666666;
// </core-colors>

//
// Highlighting Colors
// -------------------

@color-highlight-green: #57ab27;
@color-highlight-blue: #00a5ca;
@color-highlight-orange: #ef7b00;
@color-highlight-orange-hover: #fa9325;
@color-highlight-dark-blue: #003d5c;
@color-highlight-text: #e6e6e6;
@color-highlight-error: #ff0000;

//
// Standard elements
// -----------------

@color-background-default: @color-corporate-white;
@color-headline-default: @color-corporate-blue-dark;
@color-anchor-default: @color-highlight-orange;

@color-text-default: @color-corporate-gray-dark;
@color-text-primary: @color-corporate-blue-dark;

@color-icon-active: @color-corporate-blue-dark;
@color-icon-inactive: #c3c3c3;

@color-border-default: @color-corporate-blue-light;
@color-border-light: @color-corporate-gray-light;
@color-border-combined-with-light: @color-corporate-gray-combined-with-light;
@color-border-active: #cfcfcf;


//
// Typography
// ----------
//@base-font-family:            'UniversLTPro-Condensed', sans-serif;
//@base-font-family-ultra:      'UniversLTPro-UltraCn', sans-serif;
@base-font-family:              'Open Sans', sans-serif;
@base-font-family-ultra:        'Open Sans', sans-serif;
@base-font-size:        21px; // Photoshop 21pt (22pt).
@base-line-height:      (28 / unit(@base-font-size));

@font-size-s:           18rem / unit(@base-font-size); // Photoshop 13pt.
@font-size-m:           23rem / unit(@base-font-size); // Photoshop 19pt (20pt).
@font-size-ml:          39rem / unit(@base-font-size); // Photoshop 30pt (31,42pt).
@font-size-l:           52rem / unit(@base-font-size); // Photoshop 39pt.
@font-size-xl:          67rem / unit(@base-font-size); // Photoshop 46pt (51pt).
@font-size-huge:       105rem / unit(@base-font-size); // Photoshop 80pt.

//font-size open sans
@base-font-size-os:         16px;
@base-line-height-os:       30rem / unit(@base-font-size-os);

@font-size-os-xs:           14rem / unit(@base-font-size-os);
@font-size-os-tiny:         16rem / unit(@base-font-size-os);
@font-size-os-s:            18rem / unit(@base-font-size-os);
@font-size-os-sm:           22rem / unit(@base-font-size-os);
@font-size-os-m:            24rem / unit(@base-font-size-os);
@font-size-os-mtol:         28rem / unit(@base-font-size-os);
@font-size-os-ml:           32rem / unit(@base-font-size-os);
@font-size-os-l:            40rem / unit(@base-font-size-os);
@font-size-os-xl:           50rem / unit(@base-font-size-os);
@font-size-os-xxl:          60rem / unit(@base-font-size-os);
@font-size-os-xxxl:         65rem / unit(@base-font-size-os);


//Extra Font Sizes for EDL Sites
@base-line-height-edl:      25rem / unit(@base-font-size-os);
@font-size-edl-l:           38rem / unit(@base-font-size-os);


// They are not necessary as default is used for text and 1.2 is used for all headlines.
@line-height-headlines: 1.2;
@line-height-s:         (21 / unit(@base-font-size * @font-size-s));
@line-height-m:         (24 / unit(@base-font-size * @font-size-m));
@line-height-l:         (47 / unit(@base-font-size * @font-size-l));
@line-height-xl:        (28 / unit(@base-font-size * @font-size-xl));
@line-height-huge:      (58 / unit(@base-font-size * @font-size-huge));

//
// Breakpoints
// -----------

@screen-xs-max:      360px;
@screen-s-max:       768px; // Also hardcoded in vendor/responsive-tabs.css
@screen-m-max:      1024px;
@screen-l-max:      1460px;
@screen-xl-max:      1920px;

@screen-xs-min:     320px;
@screen-s-min:      (@screen-xs-max + 1);
@screen-m-min:      (@screen-s-max + 1);
@screen-l-min:      (@screen-m-max + 1);

//
// Media Queries
// -------------

@media-from-xs:         ~"screen and (min-width: @{screen-xs-min})";
@media-to-s:            ~"screen and (max-width: @{screen-xs-max})";
@media-from-s-to-m:     ~"screen and (min-width: @{screen-s-min}) and (max-width: @{screen-s-max})";
@media-to-m:            ~"screen and (max-width: @{screen-s-max})";
@media-from-m:          ~"screen and (min-width: @{screen-m-min})";
@media-from-m-to-l:     ~"screen and (min-width: @{screen-m-min}) and (max-width: @{screen-m-max})";
@media-to-l:            ~"screen and (max-width: @{screen-m-max})";
@media-from-l:          ~"screen and (min-width: @{screen-l-min})";
@media-to-xl:           ~"screen and (max-width: @{screen-l-max})";

// For elements that require a breakpoint above mobile and below tablet.
@media-between-s-and-m: ~"screen and (max-width: 550px)";

//
// Offsets
// -------

@base-horz-offset:      30px;
@horz-offset-small:     20px;
@horz-offset-large:     40px;

@base-vert-offset:      30px;
@vert-offset-small:     20px;
@vert-offset-large:     40px;


@spacing-atomic:       5px; // Only to fill really tiny gaps. Example: padding-top: @spacing-small + @spacing-atomic;
@spacing-atomic-tiny: 15px;
@spacing-tiny:        10px;
@spacing-small:       20px;
@spacing-default:     30px;
@spacing-large:       40px;
@spacing-larger:      50px;
@spacing-largest:     60px;
@spacing-offset:      80px;
@spacing-apart:       95px;

@size-select-option: 40px;
@size-button-default: 50px;
@size-button-primary: 60px;
@size-disturber: 200px;
@size-disturber-big: 220px;

@height-header-core: 110px;
@height-header-core-mobile: 80px;
@height-header-nav: 70px;
@height-header: @height-header-core + @height-header-nav;
@height-stage-huge: 680px;

//
// Timing
// ------

@transition-duration-default: 350ms;

