
@import (reference) "../../variables";
@import (reference) "../../mixins/sizing";

//
// Module: Stage
// -------------

//
// Color setup overview
// --------------------

@color-stage-background: @color-corporate-blue-dark;
@color-stage-headline: @color-corporate-white;
@color-stage-text: @color-corporate-white;


.module-stage {
	position: relative;
	background-color: @color-highlight-dark-blue;

	@media @media-to-l {
		cursor: pointer;
	}

	.intercept-stage-clicks > div {
		cursor: default;
	}

	& > .container,
	& > .slick-list > .slick-track > .container{
		padding: @spacing-larger 10px;
		position: relative;
		max-width: @screen-xl-max;
		overflow: hidden;
		margin: 0 auto;
		min-height: 640px;
		outline: 0;

		@media @media-to-l {
			background-color: @white;
			padding: @spacing-tiny @spacing-atomic;
			min-height: 0;
		}

		& > .row {
			position: relative;
			max-width: 1440px;
			margin: 0 auto;
			z-index: 1;
		}
	}

	.text {

		@media @media-to-l {
			height: 260px;
			margin-bottom: @spacing-small;
		}

		.headline {
			margin-bottom: @spacing-default;

			h2 {
				-webkit-appearance: none;
				box-decoration-break: clone;

				color: @white;
				font-size: @font-size-os-xxl;
				font-weight: 600;
				left: @spacing-tiny;
				text-transform: uppercase;
				display: inline;
				line-height: 89px;
				position: relative;

				@media @media-to-xl {
					font-size: @font-size-os-xl;
					line-height: 80px;
				}

				@media @media-to-l {
					// Scale factor +1/3rd defined by design.
					font-size: @font-size-os-m * 1.33;
					line-height: 40px * 1.33;
				}

				&.green {
					background-color: @color-corporate-green;
					box-shadow: @spacing-tiny 0 0 @color-corporate-green,-@spacing-tiny 0 0 @color-corporate-green;
				}

				&.blue {
					background-color: @color-corporate-blue-dark;
					box-shadow: @spacing-tiny 0 0 @color-corporate-blue-dark,-@spacing-tiny 0 0 @color-corporate-blue-dark;
				}
			}
		}

		.text-box {
			background-color: @color-corporate-blue-dark;
			color: @white;
			display: inline-block;
			font-size: @font-size-os-sm;
			line-height: 2.2rem;
			padding: @spacing-atomic-tiny;

			a {
				font-size: @font-size-os-sm;
				margin-top: @spacing-atomic;
			}

			@media @media-to-l {
				display: none;
			}
		}
	}

	.tariff-calculator-stage {
		float: right;

		@media @media-to-l {
			float: none;
			margin: 0 auto;
		}
	}

	.background-image {
		position: absolute;
		top: 50%;
		left: 50%;
		z-index: 0;

		width: auto;
		height: calc(~'100% + 2px');

		text-align: center;
		transform: translate(-50%, -50%);

		img {
			position: absolute;
			top: 50%;
			left: 50%;

			width: auto;
			height: 100%;

			transform: translate(-50%,-50%);
		}

		@media @media-to-l {
			left: 50%;
			position: absolute;
			top: 0;
			transform: translate(-50%, -2px);
			z-index: 0;
			height: 370px;
			width: auto;

			img {
				display: block;
				width: auto;
				height: 100%;
				position: absolute;
				left: 50%;
				top: 50%;
				transform: translate(-50%, -50%);
			}
		}
	}

	@media @media-to-l {
		.col-lg-6 {
			width: 100%;
		}
	}

	&.big-stage-slider{

		.slick-dots{
			bottom: 2px;
			margin: 0;
			padding: 0;
			position: absolute;
			text-align: center;
			width: 100%;

			@media @media-to-l{
				bottom: 12px;
			}

			li{
				background-color: @color-corporate-gray-light;
				border-radius: 50%;
				cursor: pointer;
				display: inline-block;
				height: @spacing-atomic-tiny;
				margin: 0 @spacing-atomic;
				text-indent: -99999px;
				width: @spacing-atomic-tiny;

				&.slick-active{
					background-color: @color-highlight-orange;
				}
			}
		}

		.slick-slide{
			height: auto;
		}

		.tariff-calculator-stage{
			.tariff-calculator-tab{
				padding-bottom: 65px;
			}
		}
	}
}
