
@import (reference) "../../variables";

#page-landing {
	.page-wrapper > .container > .row {
		@media @media-from-m-to-l {
			> .col-lg-8 {
				max-width: 700px; // Defined in design.
				width: auto;

				margin-left: 0;
			}
		}

		@media @media-to-m {
			> .col-lg-8 {
				width: 100%;

				margin-left: 0;
			}
		}
	}
}
