﻿@using System.Text.RegularExpressions

@model Sitecore.Mvc.Presentation.RenderingModel

@try
{
    if (Model.Item != null)
    {
        // File
        var isFile = true;
        var file = ScValue.GetFile(Model.Item, "Video");
        var url = ScLink.GetUrl(file);

        if (string.IsNullOrWhiteSpace(url))
        {
            // Youtube
            isFile = false;
            var youtubeUrl = ScValue.GetString(Model.Item, "Youtube Video");
            var rx = new Regex(@"(v=|youtu.be/)([A-z0-9-]+)");
            var match = rx.Match(youtubeUrl);
            if (match.Success)
            {
                url = string.Format("https://www.youtube.com/embed/{0}?showinfo=0", match.Groups[2]);
            }
        }

        <div class="row row-section module-video">
            <div class="col-lg-12">
                <div class="panel panel-primary">
                    <div class="panel-body" style="background-image: url(@ScLink.GetUrl(ScValue.GetImage(Model.Item, "Fallback Image")));">
                        @if (isFile)
                        {
                            <video controls>
                                <source width="100%" height="100%" src="@url" type="@file.MimeType">
                                @Translate.Text("Video.NoSupport")
                            </video>
                        }
                        else
                        {
                            <iframe width="926" height="521" src="@url" frameborder="0" allowfullscreen></iframe>
                        }
                    </div>

                    @if (!isFile)
                    {
                        <div class="panel-footer">
                            <h3>@Html.Sitecore().Field("Headline", Model.Item)</h3>

                            @Html.Sitecore().Field("Description", Model.Item)
                        </div>
                    }
                </div>
            </div>
        </div>
    }
    else
    {
        @PageEditor.Error("PageEditor.Error.MissingDataItem", new { Module = Model.Rendering.RenderingItem.Name })
    }
}
catch (Exception ex)
{
    @PageEditor.Exception(Model.Rendering.RenderingItem.Name, ex)
}
