
@import (reference) "../../variables";
@import (reference) "../../mixins/sizing";

//
// Module: Blog Filter and Social Teaser
// --------------

.module-blog-filter {
	background-color: @color-corporate-gray-ligt;

	.module-blog-filter-container {
		margin: 0 auto;
		max-width: 1460px;
		padding: @spacing-small 0;
		overflow: auto;

		.tags-teaser {
			background-color: @white;
			padding: @spacing-small + @spacing-atomic;

			.header {
				.clearfix();

				.headline {
					color: @color-corporate-blue-dark;
					font-size: @font-size-os-ml;
					font-weight: 600;
					margin: 0;
					float: left;
				}

				.reset-filter {
					display: none;
					float: right;
					line-height: 1;
					font-size: @font-size-os-s;
					height: auto;
					margin-top: @spacing-tiny;
				}
			}

			ul {
				margin: @spacing-default 0 0 0;
				padding: 0;
				overflow: auto;

				li {
					background-color: @color-highlight-blue;
					border: 1px solid @color-highlight-blue;
					cursor: pointer;
					color: @white;
					font-size: @font-size-os-ml;
					float: left;
					list-style: none;
					padding: @spacing-tiny;
					margin: 0 @spacing-atomic-tiny @spacing-small 0;
					transition: all 0.3s;

					@media @media-from-l {
						&:hover {
							background-color: @color-highlight-orange;
							border: 1px solid @color-highlight-orange;
						}
					}

					&.active {
						background-color: @white;
						color: @color-highlight-blue;
						border: 1px solid @color-highlight-blue;

						.icon(@icon-tag_delete, after);

						&:after {
							color: #535353;
							margin: 0 @spacing-atomic 0 @spacing-atomic-tiny;
							font-size: @base-font-size-os;
							position: relative;
							top: -1px;
						}
					}

					@media @media-to-l {
						font-size: @font-size-os-s;
						margin: 0 @spacing-tiny @spacing-tiny 0;
						padding: @spacing-atomic @spacing-tiny;
					}
				}
			}
		}

		.social-teaser {
			background-color: @white;
			padding: @spacing-small + @spacing-atomic;

			.header {
				.clearfix();

				.headline {
					color: @color-corporate-blue-dark;
					font-size: @font-size-os-ml;
					font-weight: 600;
					margin: 0;
					float: left;
				}
			}

			ul {
				margin: @spacing-large 0 0 0;
				padding: 0;
				.clearfix();

				li {
					list-style: none;
					width: 50%;
					float: left;
					padding-right: @spacing-tiny;
					margin-bottom: @spacing-larger - @spacing-atomic;

					&:last-of-type {
						margin-bottom: 0;
					}

					@media @media-to-l {
						width: 100%;
						margin-bottom: @spacing-large - @spacing-atomic;
					}

					a {
						color: @color-corporate-blue-dark;
						font-weight: 600;
						font-size: @font-size-os-s;
						position: relative;
						padding-left: @spacing-largest + @spacing-atomic;

						@media @media-to-xl {
							padding-left: @spacing-larger + @spacing-atomic;
						}

						&:hover {
							color: @color-highlight-orange-hover;
							text-decoration: none;

							&:before {
								color: @color-corporate-blue-dark;
							}
						}

						&:before {
							margin-right: @spacing-tiny;
							font-size: 50px;
							left: 0;
							position: absolute;
							text-align: center;
							top: 50%;
							transform: translate(0, -50%);

							@media @media-to-xl {
								font-size: 40px;
							}
						}
					}

					&.facebook {
						a {
							.icon(@icon-facebook);
						}
					}

					&.xing {
						a {
							.icon(@icon-xing);
						}
					}

					&.linkedin {
						a {
							.icon(@icon-linkedin);
						}
					}

					&.youtube {
						a {
							.icon(@icon-youtube2);
						}
					}

					&.twitter {
						a {
							.icon(@icon-twitter2);
						}
					}

					&.instagram {
						a {
							.icon(@icon-instagram);
						}
					}
				}
			}
		}
	}

	@media @media-to-m {
		.col-lg-8 {
			margin-bottom: @spacing-small;
		}

		.col-lg-8, .col-lg-4 {
			width: 100%;
		}
	}
}