
@import (reference) "../../variables";
@import (reference) "../../mixins/sizing";

//
// Module: Blog Overview Page
// --------------

.module-blog-overview {
	margin: @spacing-small 0 0;

	.box {
		float: left;
		width: calc(~'100%/3');
		padding-left: 10px;
		padding-right: 10px;
		position: relative;
		margin-bottom: 20px;

		@media @media-to-m {
			width: 100%;
		}

		&:after {
			padding-top: 99%;
			display: block;
			content: '';
		}

		.content {
			position: absolute;
			top: 0;
			bottom: 0;
			left: 10px;
			right: 10px;
			background-color: #eee;

			img {
				left: 50%;
				position: absolute;
				text-align: center;
				top: 50%;
				transform: translate(-50%, -50%);
				transition: all 0.5s ease;
				height: 100%;
				width: auto;

				&.land {
					&.right {
						left: auto;
						right: 0;
						transform: translate(0, -50%);
					}

					&.left {
						left: 0;
						transform: translate(0, -50%);
					}
				}

				&.port {
					width: 100%;
					height: auto;

					&.bottom {
						bottom: 0;
						top: auto;
						transform: translate(-50%, 0);
					}

					&.top {
						top: 0;
						transform: translate(-50%, 0);
					}
				}


			}

			> a {
				display: block;
				height: 100%;
				position: relative;
				overflow: hidden;
				backface-visibility: hidden;

				&:hover {
					.text {
						.headline {
							color: @color-highlight-orange-hover;
						}
					}

					img {
						&.port {
							transform: translate(-50%, -50%) scale(1.03);

							&.top, &.bottom {
								transform: translate(-50%, 0) scale(1.03);
							}
						}

						&.land {
							transform: translate(-50%, -50%) scale(1.03);

							&.left, &.right {
								transform: translate(0, -50%) scale(1.03);
							}
						}
					}
				}
			}

			.text {
				bottom: 10%;
				left: 0;
				max-width: 80%;
				position: absolute;
				z-index: 99;

				@media @media-to-l {
					max-width: 90%;
				}

				.headline {
					color: @color-corporate-blue-dark;
					font-size: @font-size-os-mtol;
					font-weight: 600;
					line-height: 41px;
					display: inline;
					padding: 0 5px;
					-webkit-box-decoration-break: clone;
					box-decoration-break: clone;
					background-color: @white;
					transition: color 0.2s ease;

					@media @media-to-l {
						font-size: @font-size-os-s;
						line-height: 30px;
					}

					@media @media-to-m {
						font-size: @font-size-os-mtol;
						line-height: 45px;
					}
				}

				.tag {
					display: block;

					p {
						background-color: @white;
						color: @color-corporate-blue-light;
						display: inline-block;
						font-size: @base-font-size-os;
						font-weight: 600;
						padding: @spacing-tiny;
						margin: 25px 0 0;
						line-height: 1;

						@media @media-to-l {
							font-size: @font-size-os-xs;
							margin-top: @spacing-tiny;
							padding: 7px @spacing-tiny 6px;
						}

						@media @media-to-m {
							font-size: @base-font-size-os;
							padding: @spacing-tiny;
						}
					}
				}
			}
		}

		@media @media-from-m {
			&.box-double {
				width: calc(~'100%/3 * 2');

				.content {
					.text {
						max-width: 60%;

						.headline {
							font-size: @font-size-os-xl;
							line-height: 80px;
							padding: 0 @spacing-small 0 @spacing-tiny;
						}

						.tag {
							p {
								font-size: @font-size-os-mtol;
								padding: 17px @spacing-small 20px @spacing-tiny;
								margin: 20px 0 0;
							}
						}
					}
				}
			}
		}
	}

	.load-more-holder {
		margin: 40px 0;
		text-align: center
	}
}
