
@import (reference) "../../variables";
@import (reference) "../../mixins/sizing";

//
// Module: Blog Detail Page
// --------------

.module-blog-detail {
	margin-top: @spacing-default;

	.col-lg-8 {
		position: relative;
	}

	.tag {
		color: @color-corporate-blue-light;
		font-size: @font-size-os-mtol;
		margin: 0;

		@media @media-to-m {
			font-size: @font-size-os-s;
		}
	}

	h2 {
		font-weight: 600;
		margin-top: 0;
	}

	.blog-detail-footer {
		.clearfix();

		> div {
			width: 50%;
			float: left;

			&.link-back {
				a {
					font-size: @font-size-os-s;
					line-height: 1;
				}
			}

			&.info {
				color: @color-corporate-blue-dark;
				text-align: right;

				span {
					color: @color-corporate-blue-dark;
					font-style: italic;
				}
			}

			&.back-to-top {
				width: 100%;
				text-align: center;
				margin-top: @spacing-offset;

				@media @media-to-m {
					margin-top: @spacing-largest;
				}

				a {
					font-size: @font-size-os-s;
					position: relative;

					.icon(@icon-arrow_top);

					&:before {
						font-size: @base-font-size-os;
						left: 50%;
						position: absolute;
						text-align: center;
						top: -10px;
						transform: translate(-50%, 0);
					}
				}
			}
		}
	}

	.social-toolbar {
		position: absolute;
		top: -@spacing-small;
		right: -105px;

		@media @media-to-m {
			right: 0;
		}

		ul {
			margin: 0;
			padding: 0;
			position: relative;
			top: @spacing-small;
			.clearfix();

			@media @media-to-m {
				background: rgba(255,255,255, 0.85);
				border-radius: 3px;
				width: auto !important;
				padding: @spacing-tiny;
				right: 0;
				top: 0;
			}

			li {
				list-style: none;
				float: right;
				margin-left: @spacing-tiny;

				&:last-of-type {
					margin-left: 0;
				}

				a {
					overflow: hidden;
					display: block;
					width: 35px;
					height: 35px;

					&:before {
						color: @color-corporate-blue-dark;
						font-size: 35px;
					}

					@media @media-to-m {
						width: 30px;
						height: 30px;

						&:before {
							font-size: 30px;
						}
					}
				}

				&.facebook a {
					.icon(@icon-facebook);
				}

				&.twitter a {
					.icon(@icon-twitter2);
				}
			}
		}

		&.fixed {
			ul {
				position: fixed;

				@media @media-to-m {
					padding-right: @spacing-small;
				}
			}
		}
	}

	@media @media-to-m {
		.col-lg-8 {
			width: 100%;
			margin: 0;
		}
	}
}