
@import (reference) "../../variables";
@import (reference) "../../mixins/sizing";

//
// Module: Stage Blog
// --------------

.module-blog-stage {
	text-align: center;

	h2 {
		font-size: @font-size-os-ml + @font-size-os-xxl;
		font-weight: bold;
		margin-bottom: 0;

		@media @media-to-l {
			font-size: @font-size-os-xxl;
			margin-top: @spacing-default;
		}

		@media @media-to-m {
			font-size: @font-size-os-xl;
			margin-top: @spacing-small;
		}
	}

	.subheadline {
		color: @color-corporate-blue-dark;
		font-size: @font-size-os-ml;
		margin: 0 0 @spacing-default;

		@media @media-to-l {
			font-size: @font-size-os-s;
		}
	}

	.border-bright {
		height: 5px;
		width: 100%;
		display: block;
		background: rgb(0,79,118);
		background: -moz-linear-gradient(left,  rgba(0,79,118,1) 0%, rgba(0,161,206,1) 33%, rgba(230,128,12,1) 65%, rgba(82,174,50,1) 100%);
		background: -webkit-linear-gradient(left,  rgba(0,79,118,1) 0%,rgba(0,161,206,1) 33%,rgba(230,128,12,1) 65%,rgba(82,174,50,1) 100%);
		background: linear-gradient(to right,  rgba(0,79,118,1) 0%,rgba(0,161,206,1) 33%,rgba(230,128,12,1) 65%,rgba(82,174,50,1) 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#004f76', endColorstr='#52ae32',GradientType=1 );
	}
}