
@import "../../variables";

.tariff-calculator-login {
	.tariff-login-form {
		.tariff-login-form-elements {
			background-color: @color-corporate-gray-light;
			margin-bottom: @spacing-small;
			.form-element {
				border-bottom: 1px solid @white;
				padding: @spacing-small;
				margin: 0;

				.radio {
					margin: 0;

					label {
						font-size: @font-size-os-sm;

						@media @media-to-m {
							font-size: @font-size-os-s;
						}
					}

					.tariff-login {
						.clearfix();
						display: none;
						margin-top: @spacing-small;

						.col-lg-7:first-of-type {
							padding-left: @spacing-largest + @spacing-atomic-tiny;

							@media @media-to-m {
								padding-left: @spacing-tiny;
							}
						}

						input {
							margin-bottom: @spacing-small;
						}

						.form-element {
							padding: 0;
						}

						.list-group {
							margin-top: @spacing-largest;

							@media @media-to-m {
								margin-top: 0;
							}
						}

						.error-message {
							color: @color-highlight-error;
							display: none;
							margin: 0 0 @spacing-tiny;
						}
					}

					input[type=radio]:checked ~ .tariff-login {
						display: block;
					}
				}
			}
		}

		.tariff-login-form-submit {
			text-align: right;
		}
	}

	.tariff-login-text {
		p:first-of-type {
			margin-top: 0;
		}
	}

	@media @media-to-l {
		.col-lg-8, .col-lg-4 {
			width: 100%;
		}

		.tariff-login-text {
			margin-top: @spacing-default;
		}
	}

	@media @media-to-m {
		.col-lg-7, .col-lg-5 {
			width: 100%;
		}
	}
}