
@import "../../variables";

.tariff-calculator-results {
	.tariff-result-pagination {
		display: none;
		.clearfix();
		margin: @spacing-atomic-tiny 0;
		padding: 0;
		position: relative;
		text-align: center;

		li {
			float: left;
			list-style-type: none;

			&.slick-arrow {
				background-color: @color-corporate-blue-dark;
				border: none;
				bottom: 0;
				color: @white;
				cursor: pointer;
				height: 60px;
				line-height: inherit;
				outline: none;
				position: relative;
				text-indent: -9999px;
				width: 60px;
				z-index: 10;
			}

			&.prev {
				.icon(@icon-chevron-left);
				float: left;
			}

			&.next {
				.icon(@icon-chevron-right);
				float: right;
			}

			&:before {
				font-size: 27px;
				left: 50%;
				position: absolute;
				text-align: center;
				text-indent: 0;
				top: 50%;
				transform: translate(-50%, -50%);
			}

			&:not(.slick-disabled):hover {
				background-color: @color-corporate-blue-dark-hover;
			}

			&.count {
				color: @color-corporate-blue-dark;
				font-size: @font-size-os-m;
				font-weight: 700;
				left: 50%;
				position: absolute;
				text-align: center;
				top: 50%;
				transform: translate(-50%, -50%);

				span {
					color: @color-corporate-blue-dark;
					font-size: @font-size-os-m;
					font-weight: 700;
				}
			}
		}
	}

	.tariff-calculator-result {
		box-sizing: border-box;
		border: 4px solid @color-corporate-gray-light;
		margin-top: @spacing-large;
		position: relative;

		.tariff-price {
			padding: @spacing-small @spacing-small @spacing-small + @spacing-atomic;
			text-align: center;

			h3 {
				color: @color-highlight-green;
				font-weight: 700;
				margin: 0 0 @spacing-tiny;
			}

			p {
				line-height: 1;
			}

			.price {
				color: @color-corporate-blue-dark;
				font-size: @font-size-os-xxl;
				font-weight: 700;
				margin: 0 0 @spacing-small;

				@media @media-to-m {
					font-size: @font-size-os-xxl;
				}
			}

			.month {
				color: @color-corporate-gray-dark;
				font-size: @font-size-os-sm;
			}

			.year {
				color: @color-corporate-gray-dark;
				font-size: @base-font-size-os;
				margin-bottom: 0;
				span {
					color: @color-corporate-blue-dark;
				}
			}
		}

		.tariff-saving {
			background-color: @color-corporate-gray-light;
			padding: @spacing-atomic @spacing-default;
			text-align: center;

			.headline {
				p {
					color: @color-corporate-blue-dark;
					font-size: @base-font-size-os;
					font-weight: 600;
					line-height: 1.2;
					margin: @spacing-atomic-tiny 0 @spacing-atomic;
				}
			}

			.saving-price {
				p {
					color: @color-corporate-blue-dark;
					font-size: @font-size-os-xl;
					font-weight: 600;
					line-height: 1;
					margin: @spacing-atomic-tiny 0 @spacing-atomic;
				}
			}
		}


		.tariff-costs {
			background-color: @color-corporate-gray-light;
			padding: @spacing-small @spacing-default + @spacing-atomic;

			> div {
				.clearfix;

				p {
					color: @color-corporate-blue-dark;
					font-size: @base-font-size-os;
					font-weight: bold;
					margin: 0;
				}
			}

			.name {
				float: left;
				width: 70%;
			}

			.unit {
				float: left;
				text-align: left;
				padding-left: @spacing-tiny;
				width: 30%;
			}

			@media @media-between-s-and-m {
				.name,
				.unit {
					float: none;
					padding: 0;
					width: 100%;
				}
			}
		}

		.tariff-content {
			padding: @spacing-default + @spacing-atomic;

			div {

				margin-bottom: @spacing-small;

				&:last-of-type {
					margin-bottom: 0;
				}

				p {
					margin-top: 0;

					&:last-of-type {
						margin-bottom: 0;
					}

					&.headline {
						color: @color-corporate-blue-dark;
						font-weight: 700;
						display: block;
						margin-bottom: 0;
					}
				}
			}
		}

		.tariff-links {
			text-align: center;
			margin-bottom: @spacing-largest;
			a {
				.clearfix();

				&.btn-primary {
					margin-bottom: @spacing-small;
				}

				&:before {
					content: '';
					display: block;
					width: 100%;
				}
			}
		}

		.tariff-saving-tip {
			position: absolute;
			top: -29px;
			left: -4px;
			width: calc(~"100% + 8px");

			.disturber {
				position: absolute;
				left: -13px; // Not less or it may be cut from the left by hidden overflow.
				top: -15px;
				width: 85px;
				height: 85px;
				border: 4px solid @white;

				&.green {
					background: @color-highlight-green;
				}

				.text {
					font-size: 8px;
					padding: 5px;
					line-height: 1;

					br {
						content: '';
						height: 0;
						line-height: 0.4;
					}

					.disturber-price {
						font-size: @font-size-os-m;
						line-height: 1.1;
					}
				}
			}


			.slogan {
				margin: 0;
				background: @color-highlight-green;
				width: 100%;
				display: block;
				text-align: center;
				text-transform: uppercase;
				color: @white;
				font-size: @base-font-size-os;
				font-weight: 700;
				line-height: 25px;
			}
		}
	}

	.tariff-new-calc {
		margin: @spacing-default 0;

		label {
			white-space: nowrap;
		}

		.btn-link {
			display: block;
			margin: 0 auto;
			text-align: center;
		}

		@media @media-to-l {
			.col-lg-6 {
				margin: 0;
				width: 100%;
			}
		}
	}

	.col-lg-6 {
		@media @media-to-m {
			margin: 0;
			width: 100%;
		}

		.tariff-calculator-result {
			.tariff-saving {
				.clearfix();
				position: relative;

				> div {
					display: table;
					width: 100%;

					@media @media-to-l {
						display: block;
					}
				}

				.headline {
					text-align: left;
					display: table-cell;
					vertical-align: middle;

					p {
						margin: @spacing-atomic-tiny 0;
						padding-right: @spacing-small;
					}

					@media @media-to-l {
						text-align: center;
						display: block;

						p {
							padding-right: 0;
						}
					}
				}

				.saving-price {
					text-align: right;
					display: table-cell;
					vertical-align: middle;
					white-space: nowrap;

					p {
						margin: @spacing-atomic-tiny 0;
					}

					@media @media-to-l {
						display: block;
						margin: 0 auto;
						text-align: center;
					}
				}
			}
		}
	}
}
