
@import "../../variables";


.tariff-detail-calculator {
	.tariff-detail {
		background-color: @color-corporate-gray-light;
		padding: @spacing-default;

		label > span {
			color: @color-text-primary;
			font-family: @base-font-family-ultra;
			font-size: @font-size-l;
		}

		input.btn.btn-primary {
			width: 100%;
		}

		.tariff-calculator-label, .tariff-calculator-label-number {
			color: @color-text-primary;
			font-family: @base-font-family-ultra;
			font-size: @font-size-l;
		}

		.noUi-target {
			.noUi-handle {
				border: 4px solid @color-corporate-gray-light;
			}
		}

		.radio:last-of-type {
			margin-right: 0;
		}
	}

	.tariff-detail-submit {
		margin-top: @spacing-default;
		text-align: right;
	}
}