
@import "../../variables";

.tariff-calculator-order-process {

	> h2 {
		margin-bottom: 0;
	}

	.calc-new {
		display: block;
		text-align: right;
		font-size: 20px;
	}

	.user-settings {
		.box {
			.clearfix();
			background-color: @color-corporate-gray-light;
			padding: 30px;
			position: relative;

			.headline {
				color: @color-corporate-blue-dark;
				font-size: @font-size-os-sm;
				font-weight: 700;
				margin: 0 0 @spacing-small;

				@media @media-to-l {
					width: 100%;
				}
			}

			p {
				font-size: @font-size-os-s;
				margin: 0;

				// Only the headline, but not the body as for coupon bonuses.
				span:first-child {
					font-weight: 700;
					display: block;
				}

				@media @media-to-l {
					width: 50%;
					float: left;
				}

				@media @media-to-m {
					width: 100%;
				}
			}

			.user-coupon-data {
				display: none;
			}

			&.has-coupon {
				.user-switchover-bonus {
					display: none;
				}

				.user-coupon-data {
					display: block;
				}
			}

			@media @media-to-l {
				margin-bottom: @spacing-small;

				.col-lg-4 {
					width: 100%;
				}
			}
		}

		.btn-edit {
			padding-bottom: 0;
			padding-top: 0;
			position: absolute;
			right: 30px;
			top: 30px;
		}

		@media @media-to-l {
			.col-lg-4, .col-lg-8 {
				width: 100%;
			}
		}
	}

	.tariff-order-process-form {

		h3 {
			border-bottom: 2px solid @color-corporate-blue-light;
			font-size: @font-size-os-ml;
			font-weight: 700;
			position: relative;
			padding: @spacing-atomic-tiny 0 @spacing-atomic-tiny @spacing-larger;
			margin: @spacing-small 0 @spacing-large;

			span {
				background-color: @color-corporate-blue-dark;
				border-radius: 50px;
				color: @white;
				display: inline-block;
				font-size: @font-size-os-s;
				line-height: 35px;
				width: 35px;
				height: 35px;
				text-align: center;
				position: absolute;
				left: 0;
				top: 50%;
				transform: translate(0, -50%);
			}
		}

		.radio {
			margin-right: @spacing-default;
		}

		.form-container > .row, .extra-container > .row {
			margin-bottom: @spacing-small;
		}

		.payment-sepa > .row {
			margin-bottom: @spacing-small;
		}

		.payment-transfer .payment-sepa {
			margin-bottom: @spacing-small;
		}

		.btn-cancel {
			margin-left: 0;
		}

		.extra-container {
			display: none;
			margin: @spacing-larger 0;
		}

		.chosen-container .chosen-single span {
			font-size: @font-size-os-m;
		}

		.error-date {
			color: @color-highlight-error;
			display: none;
		}

		.bank-name-error {
			color: @color-highlight-error;
			display: none;
		}

		.payment-transfer {
			display: none;
		}

		.delivery-date {
			display: none;
		}

		.coupon-data {
			display: none;
		}

		.checkbox {
			margin-bottom: 0;

			@media @media-to-m {
				margin-bottom: @spacing-small;
			}
		}

		.checkbox input[type="checkbox"] + label {
			font-size: @font-size-os-m;
			line-height: 1.6;
			padding-top: 13px;
			min-height: 60px;

			a {
				font-size: @font-size-os-m;
			}

			@media @media-to-m {
				font-size: @font-size-os-s;
			}
		}

		p {
			strong {
				color: @color-corporate-gray-medium;
				font-weight: 700;
			}

			&.headline {
				margin-top: 0;
			}
		}

		.show-extra-container {
			margin-bottom: @spacing-small;
		}

		.summary-container {
			margin-top: @spacing-small;

			.summary-box {
				border: 4px solid @color-corporate-gray-light;
				padding: @spacing-default+@spacing-tiny;
				position: relative;

				@media @media-to-xl {
					padding: @spacing-small;
				}

				.headline {
					color: @color-corporate-blue-dark;
					font-size: @font-size-os-m;
					font-weight: 700;
					margin: 0 0 @spacing-small+@spacing-atomic;
				}

				p {
					margin: @spacing-tiny 0;

					&:last-of-type {
						margin-bottom: @spacing-larger;
					}

					&.empty-error {
						margin-bottom: 0;
						color: @color-highlight-error;
					}
				}

				a {
					display: inline-block;
					margin-top: @spacing-small;
					padding-left: @spacing-small;
					position: absolute;
					left: @spacing-default+@spacing-tiny;
					bottom: @spacing-default+@spacing-tiny;

					.icon(@icon-bearbeiten);

					&:before {
						position: absolute;
						left: 0;
						top: 50%;
						transform: translate(0, -50%);
						font-size: 15px;
					}

					@media @media-to-xl {
						left: @spacing-small;
						bottom: @spacing-small;
					}
				}

				.strong {
					font-weight: 700;
				}

				@media @media-to-m {
					height: auto !important;
				}
			}

			@media @media-to-m {
				.col-lg-4 {
					width: 100%;
					margin-bottom: @spacing-small;
				}
			}
		}

		@media @media-to-l {
			.form-container {
				width: 100%;
			}
		}

		@media @media-to-m {
			.col-lg-6,
			.col-lg-4 {
				width: 100%;
				margin-bottom: @spacing-small;
			}

			.col-lg-8 {
				 width: 100%;
			 }

			.form-container > .row, .extra-container > .row {
				margin-bottom: 0;
			}
		}

		@media @media-to-s {

			h3 {
				font-size: @font-size-os-m;
			}

			.col-lg-4 {
				margin-bottom: @spacing-small;
			}
		}
	}

	.tariff-order-process-submit {
		background-color: @color-corporate-gray-light;
		margin-top: @spacing-small;
		padding: @spacing-small;
		.clearfix();

		input[type=submit] {
			float: right;
		}

		@media @media-to-l {
			input[type=submit] {
				display: block;
				margin: @spacing-tiny auto 0;
				font-size: @font-size-m;
				width: 100%;
				white-space: normal;
				height: auto;
				line-height: 1.4;
				padding: @spacing-tiny @spacing-small;
			}
		}
	}
}
