﻿@using Sitecore.Mvc.Presentation
@using Gizmo.Web
@model Gasag.Web.Models.TariffCalculator.Calculator

@try
{
    if (Model.Item != null && Model.Item.HasChildren)
    {
        Gizmo.Web.CookieManager.SetCookie("TariffCalculator.EntryPage", Sitecore.Context.Item.ID.ToShortID().ToString(), 365);
        Gizmo.Web.CookieManager.SetCookie("TariffCalculator.TariffTeaser", Request.QueryString["tariffteaser"], 365);
        string division = null;

        <div class="tariff-calculator-stage" app-view="ModuleTariffCalculatorStageView|HelperEqualHeightView" data-selector=".tariff-calculator-tab" data-url="@ScUtil.ServiceUrl("TariffCalculator", "ZipDetails", false)?zip={query}">
            <div class="tabs">
                <ul class="nav nav-tabs">
                    @{
                        int count = 0;
                    }
                    @foreach (Item child in Model.Item.Children)
                    {
                        var typeItem = ScValue.GetItem(child, "Type");
                        var type = typeItem != null ? ScValue.GetString(typeItem, "Value") : string.Empty;
                        var cls = string.Empty;                        

                        switch (type)
                        {
                            case "electricity":
                                cls = "blue";
                                break;
                            case "natural-gas":
                                cls = "green";
                                break;
                        }

                        if (!string.IsNullOrWhiteSpace(Model.Type))
                        {
                            if (type == Model.Type)
                            {
                                cls += " active";
                            }
                        } else if (count == 0)
                        {
                            cls += " active";
                        }
                        count += 1;

                        <li class="@cls">
                            <a href="tab-@count">@Html.Sitecore().Field("Title", child)</a>
                        </li>
                    }
                </ul>

                @{
                    count = 0;
                }
                @foreach (Item child in Model.Item.Children)
                {
                    var nextPageItem = ScValue.GetItem(child, "Next Page");
                    var errorPageItem = ScValue.GetItem(child, "Error Page");
                    var typeItem = ScValue.GetItem(child, "Type");
                    var type = typeItem != null ? ScValue.GetString(typeItem, "Value") : string.Empty;
                    var productId = ScValue.GetString(child, "Product Id");
                    var campaignId = ScValue.GetString(child, "Campaign Id");
                    var salesPartnerId = ScValue.GetString(child, "Sales Partner Id");

                    var salesChannel = "";
                    if (ScValue.Has(Model.Item, "Sales Channel"))
                    {
                        salesChannel = ScValue.GetString(Model.Item, "Sales Channel");
                    }
                    if (!string.IsNullOrWhiteSpace(Request["channel"]))
                    {
                        salesChannel = Request["channel"];
                    }
                    if (!string.IsNullOrWhiteSpace(Request["zanpid"]))
                    {
                        // See GASAG-37814 - 190 | gasag.de | Anpassung Zanox-Parameter
                        salesPartnerId = Request["zanpid"];
                        CookieManager.SetCookie("zanpid", salesPartnerId);
                    }
                    else if (!string.IsNullOrWhiteSpace(CookieManager.GetCookie("zanpid")))
                    {
                        salesPartnerId = CookieManager.GetCookie("zanpid");
                    }
                    var tarifGroup = string.Join(",", ScValue.GetItems(child, "Tarif Group").Select(x => x.ID.ToString()));

                    var cls = "tariff-calculator-tab tariff-calculator-" + type;
                    if (!string.IsNullOrWhiteSpace(Model.Type))
                    {
                        if (type == Model.Type)
                        {
                            cls += " active-tab";
                        }
                    }
                    else if (count == 0)
                    {
                        cls += " active-tab";
                    }
                    count += 1;

                    var value = "";
                    if (!string.IsNullOrWhiteSpace(Model.Type) && Model.Type == type && !string.IsNullOrWhiteSpace(Model.Zip) && Model.Zip.Trim() != "0")
                    {
                        value = string.Format(@"value={0}", Model.Zip.Trim());
                    }

                    var consumption = "";
                    if (!string.IsNullOrWhiteSpace(Model.Type) && Model.Type == type && Model.Consumption > double.Epsilon)
                    {
                        consumption = string.Format("value={0}", Model.Consumption);
                    }

                    <div id="tab-@count" class="@cls" app-view="ModuleTariffCalculatorModal" 
                         data-space-min="@ScValue.GetInteger(child, "Slider Min Value")" 
                         data-space-max="@ScValue.GetInteger(child, "Slider Max Value")" 
                         data-space-step= "@ScValue.GetInteger(child, "Slider Step")">

                        @using (Html.EditFrame(child, "BigStage Tariffcalculator"))
                        {
                            using (Html.BeginForm())
                            {
                                @Shared.GenerateValidationToken(Html.Sitecore())

                                if (nextPageItem != null)
                                {
                                    <input type="hidden" name="nextPage" value="@nextPageItem.ID.ToShortID()" />
                                }
                                if (errorPageItem != null)
                                {
                                    <input type="hidden" name="errorPage" value="@errorPageItem.ID.ToShortID()" />
                                }
                                if (!string.IsNullOrWhiteSpace(productId))
                                {
                                    <input type="hidden" name="productId" value="@productId" />
                                }
                                if (!string.IsNullOrWhiteSpace(campaignId))
                                {
                                    <input type="hidden" name="campaignId" value="@campaignId" />
                                }
                                if (!string.IsNullOrWhiteSpace(salesPartnerId))
                                {
                                    <input type="hidden" name="salesPartnerId" value="@salesPartnerId" />
                                }
                                if (!string.IsNullOrWhiteSpace(tarifGroup))
                                {
                                    <input type="hidden" name="tarifGroup" value="@tarifGroup" />
                                }
                                if (!string.IsNullOrWhiteSpace(Request.QueryString["tariffteaser"]))
                                {
                                    <input type="hidden" name="tariffteaser" value="@Request.QueryString["tariffteaser"]" />
                                }
                                if (!string.IsNullOrWhiteSpace(salesChannel))
                                {
                                    <input type="hidden" name="salesChannel" value="@salesChannel" />
                                }

                                <input type="hidden" name="gsAction" value="bigstagecalculate" />
                                <input type="hidden" name="type" value="@type" />

                                <div class="form-element">
                                    <label class="control-label">
                                        <span>@Translate.Text("Teaser.Tariff.Zip")</span>

                                        @* GASAG-39149 - 081 | gasag.de | Tarifrechner für Banner-Kampagne anpassen *@
                                        @if (Model.ZipCities != null && Model.ZipCities.Any())
                                        {
                                            <div class="form-element" app-view="ModuleOverviewFilterView">
                                                <select name="zip" id="form-element-select-1">
                                                    @foreach (var zipCity in Model.ZipCities)
                                                    {
                                                        <option value="@zipCity">@zipCity</option>
                                                    }
                                                </select>
                                            </div>
                                        }
                                        else
                                        {
                                            <input type="text" class="tariff-calculator-input tariff-calculator-zip right" name="zip" @value>
                                        }
                                </label>
                                </div>

                                if (Model.Type == type && Model.ZipErrorMessage != null && !string.IsNullOrWhiteSpace(Model.ZipErrorMessage.ToString()))
                                {
                                    <div class="form-element margin-to-top footnote">
                                        @Model.ZipErrorMessage                                           
                                    </div>
                                }
                                <div class="tariff-calculator-selection">
                                    <div class="tariff-calculator-label">
                                        @if (type == "electricity")
                                        {
                                            <span class="tariff-calculator-label-number"></span>
                                            <span class="tariff-label-plural">
                                                @Html.Sitecore().Field("Text 1", child)
                                            </span>
                                            <span class="tariff-label-singular hide">
                                                @Html.Sitecore().Field("Text 2", child)
                                            </span>
                                        }
                                        else
                                        {
                                            @Html.Sitecore().Field("Text 1", child) <span class="tariff-calculator-label-number"></span> @Html.Sitecore().Field("Text 2", child)
                                        }
                                    </div>

                                    <div class="tariff-calculator-icons">
                                        @if (type == "electricity")
                                        {
                                            division = Sitecore.Configuration.Settings.GetSetting("TariffCalculator.Division.Electricity");
                                            <span class="icon-tarifrechner-strom-person"></span>
                                            <span class="icon-tarifrechner-strom-personen"></span>
                                        }
                                        else
                                        {
                                            division = Sitecore.Configuration.Settings.GetSetting("TariffCalculator.Division.NaturalGas");
                                            <span class="icon-home"></span>
                                            <span class="icon-home2"></span>
                                        }
                                    </div>
                                    @if (!string.IsNullOrWhiteSpace(division))
                                    {
                                        <input type="hidden" name="division" value="@division" />
                                    }
                                    <div class="tariff-calculator-slider">
                                        <div class="noUi-target"></div>
                                    </div>
                                </div>

                                <div class="form-element">
                                    <label class="control-label">
                                        <span>@Translate.Text("Teaser.Tariff.Consumption")</span>
                                        <input type="text" name="consumption" class="tariff-calculator-input tariff-calculator-@type-input right" @consumption>
                                    </label>
                                </div>

                                <div class="form-element submit">
                                    <input type="submit" class="btn btn-primary" value="@Translate.Text("Teaser.Tariff.Calculate")">
                                </div>
                            }
                        }
                    </div>
                }
            </div>
        </div>
    }
    else if (Sitecore.Context.PageMode.IsExperienceEditor)
    {
        @PageEditor.Error("PageEditor.NoChildren", new { Module = RenderingContext.CurrentOrNull.Rendering.RenderingItem.Name })
    }
}
catch (Exception ex)
{
    @PageEditor.Exception(RenderingContext.CurrentOrNull.Rendering.RenderingItem.Name, ex)
}