﻿@using Sitecore.Mvc.Presentation
@using Gizmo.Web
@model Gasag.Web.Models.TariffCalculator.Calculator

@try
{
    if (Model.Item != null)
    {
        var typeItem = ScValue.GetItem(Model.Item, "Type");
        string type = typeItem != null ? ScValue.GetString(typeItem, "Value") : string.Empty;

        string division = null;
        var nextPageItem = ScValue.GetItem(Model.Item, "Next Page");
        var errorPageItem = ScValue.GetItem(Model.Item, "Error Page");
        var productId = ScValue.GetString(Model.Item, "Product Id");
        var campaignId = ScValue.GetString(Model.Item, "Campaign Id");
        var salesPartnerId = ScValue.GetString(Model.Item, "Sales Partner Id");
        var salesChannel = "";
        if (ScValue.Has(Model.Item, "Sales Channel"))
        {
            salesChannel = ScValue.GetString(Model.Item, "Sales Channel");
        }
        if (!string.IsNullOrWhiteSpace(Request["channel"]))
        {
            salesChannel = Request["channel"];
        }
        if (!string.IsNullOrWhiteSpace(Request["zanpid"]))
        {
            // See GASAG-37814 - 190 | gasag.de | Anpassung Zanox-Parameter
            salesPartnerId = Request["zanpid"];
            CookieManager.SetCookie("zanpid", salesPartnerId);
        }
        else if (!string.IsNullOrWhiteSpace(CookieManager.GetCookie("zanpid")))
        {
            salesPartnerId = CookieManager.GetCookie("zanpid");
        }
        var tarifGroup = string.Join(",", ScValue.GetItems(Model.Item, "Tarif Group").Select(x => x.ID.ToString()));
        Gizmo.Web.CookieManager.SetCookie("TariffCalculator.EntryPage", Sitecore.Context.Item.ID.ToShortID().ToString(), 365);
        Gizmo.Web.CookieManager.SetCookie("TariffCalculator.TariffTeaser", Request.QueryString["tariffteaser"], 365);
        var showZipError = Model.ZipErrorMessage != null && !string.IsNullOrWhiteSpace(Model.ZipErrorMessage.ToString());

        var consumption = "";
        if (Model.Consumption > double.Epsilon)
        {
            consumption = string.Format("value={0}", Model.Consumption);
        }

        <div class="row row-section module-tariff-calculator">
            <div @(showZipError ? Html.Raw("id=\"anker\"") : Html.Raw("")) class="tariff-calculator tariff-calculator-@type col-lg-12"
                        app-view="ModuleTariffCalculatorModal|ModuleTariffCalculatorStageView"
                        data-url="@ScUtil.ServiceUrl("TariffCalculator", "ZipDetails", false)?zip={query}"
                        data-space-min="@Model.Item["Slider Min Value"]"
                        data-space-max="@Model.Item["Slider Max Value"]"
                        data-space-step="@Model.Item["Slider Step"]">
                <p class="headline">@Html.Sitecore().Field("Title")</p>
                @using (Html.BeginForm())
                {   
                    @Shared.GenerateValidationToken(Html.Sitecore())
                    <input type="hidden" name="gsAction" value="calculate" />
                    if (nextPageItem != null)
                    {
                        <input type="hidden" name="nextPage" value="@nextPageItem.ID.ToShortID()" />
                    }
                    if (errorPageItem != null)
                    {
                        <input type="hidden" name="errorPage" value="@errorPageItem.ID.ToShortID()" />
                    }
                    if (!string.IsNullOrWhiteSpace(productId))
                    {
                        <input type="hidden" name="productId" value="@productId" />
                    }
                    if (!string.IsNullOrWhiteSpace(campaignId))
                    {
                        <input type="hidden" name="campaignId" value="@campaignId" />
                    }
                    if (!string.IsNullOrWhiteSpace(salesPartnerId))
                    {
                        <input type="hidden" name="salesPartnerId" value="@salesPartnerId" />
                    }
                    if (!string.IsNullOrWhiteSpace(tarifGroup))
                    {
                        <input type="hidden" name="tarifGroup" value="@tarifGroup" />
                    }
                    if (!string.IsNullOrWhiteSpace(Request.QueryString["tariffteaser"]))
                    {
                        <input type="hidden" name="tariffteaser" value="@Request.QueryString["tariffteaser"]" />
                    }
                    if (!string.IsNullOrWhiteSpace(salesChannel))
                    {
                        <input type="hidden" name="salesChannel" value="@salesChannel" />
                    }
                    <input type="hidden" name="type" value="@type" />
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="form-element">
                                <div class="row">
                                    <div class="col-lg-6">
                                        <label for="zip-@RenderingContext.CurrentOrNull.Rendering.Id.ToString("N")">
                                            <span>@Html.Sitecore().Field("Zip")</span>
                                        </label>
                                    </div>
                                    <div class="col-lg-6">
                                        <input type="text" id="zip-@RenderingContext.CurrentOrNull.Rendering.Id.ToString("N")" name="zip" class="tariff-calculator-input tariff-calculator-zip right" required="required" value="@Model.Zip">
                                    </div>
                                </div>
                            </div>
                            @if (showZipError)
                            {
                                <div class="form-element margin-to-top footnote">
                                    @Model.ZipErrorMessage    
                                </div>
                            }
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="row">
                                <div class="col-lg-6">
                                    <label class="tariff-label-slider">
                                        @switch (type)
                                        {
                                            case "electricity":
                                                <span class="tariff-calculator-label-number"></span>
                                                <span class="tariff-label-plural">
                                                    @Html.Sitecore().Field("Text 1", Model.Item)
                                                </span>
                                                <span class="tariff-label-singular hide">
                                                    @Html.Sitecore().Field("Text 2", Model.Item)
                                                </span>
                                                break;
                                            case "natural-gas":
                                                @Html.Sitecore().Field("Text 1", Model.Item)
                                                <span class="tariff-calculator-label-number"></span>
                                                @Html.Sitecore().Field("Text 2", Model.Item)
                                                break;
                                        }
                                    </label>
                                </div>

                                <div class="col-lg-6">
                                    <div class="tariff-calculator-icons">
                                        @switch (type)
                                        {
                                            case "electricity":
                                                division = Sitecore.Configuration.Settings.GetSetting("TariffCalculator.Division.Electricity");
                                                <span class="icon-tarifrechner-strom-person"></span>
                                                <span class="icon-tarifrechner-strom-personen"></span>
                                                break;
                                            case "natural-gas":
                                                division = Sitecore.Configuration.Settings.GetSetting("TariffCalculator.Division.NaturalGas");
                                                <span class="icon-home"></span>
                                                <span class="icon-home2"></span>
                                                break;
                                        }
                                        @if (!string.IsNullOrWhiteSpace(division))
                                        {
                                            <input type="hidden" name="division" value="@division" />
                                        }
                                    </div>
                                    <div class="tariff-calculator-slider">
                                        <div class="noUi-target"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="form-element">
                                <div class="row">
                                    <div class="col-lg-6">
                                        <label for="consumption-@RenderingContext.CurrentOrNull.Rendering.Id.ToString("N")">
                                            <span>@Html.Sitecore().Field("Consumption", Model.Item)</span>
                                        </label>
                                    </div>
                                    <input type="text" id="consumption-@RenderingContext.CurrentOrNull.Rendering.Id.ToString("N")" 
                                           name="consumption" class="tariff-calculator-input tariff-calculator-@type-input" @consumption>
                                    <input type="submit" class="btn btn-primary" value="@Model.Item["Calculate Now"]">
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    }
    else if (Sitecore.Context.PageMode.IsExperienceEditor)
    {
        @PageEditor.Error("PageEditor.Error.MissingDataItem", new { Module = RenderingContext.CurrentOrNull.Rendering.RenderingItem.Name })
    }
}
catch (Exception ex)
{
    @PageEditor.Exception(RenderingContext.CurrentOrNull.Rendering.RenderingItem.Name, ex)
}