﻿@model Gasag.Web.Models.TariffCalculator.TariffsSelection
@if (Model.Tariffs.Count > 3)
{
    <ul class="tariff-result-pagination">
        <li class="prev">@Html.Sitecore().Field("Previous", Model.Item)</li>
        <li class="count">
            <span class="current">1</span> / <span class="max">@Model.Tariffs.Count</span>
        </li>
        <li class="next">@Html.Sitecore().Field("Next", Model.Item)</li>
    </ul>
}
