﻿@using Sitecore.Mvc.Presentation
@model Gasag.Web.Models.TariffCalculator.Order

@try
{
    if (Model.Item != null && Model.SelectedTariff != null && Model.ZipObject != null)
    {
        var successPageItemElectricity = ScValue.GetItem(Model.Item, "Success Page Electricity");
        var successPageItemGas = ScValue.GetItem(Model.Item, "Success Page Gas");
        var type = ScValue.GetItem(Model.SelectedTariff.TariffItem, "Portfolio Type");
        var errorPageItem = ScValue.GetItem(Model.Item, "Error Page");
        FileField agbFileField = Model.SelectedTariff.TariffItem.Fields["AGB"];
        var agbLink = agbFileField != null && agbFileField.MediaItem != null ? Sitecore.Resources.Media.MediaManager.GetMediaUrl(agbFileField.MediaItem) : null;
        string counterDimension = null;
        if (Model.Calculator.Division == Sitecore.Configuration.Settings.GetSetting("TariffCalculator.Division.Electricity"))
        {
            counterDimension = Model.Item["Count in kWh"];
        }
        if (Model.Calculator.Division == Sitecore.Configuration.Settings.GetSetting("TariffCalculator.Division.NaturalGas"))
        {
            counterDimension = Model.Item["Count in m3"];
        }

        var priceProtectionPeriod = Model.SelectedTariff.PriceProtectionPeriod;
        int priceProtectionPeriodInt = 0;
        if (int.TryParse(priceProtectionPeriod, out priceProtectionPeriodInt))
        {
            priceProtectionPeriod = priceProtectionPeriodInt.ToString();
        }

        var minimumContractDuration = Model.SelectedTariff.MinimumContractDuration;
        int minimumContractDurationInt = 0;
        if (int.TryParse(minimumContractDuration, out minimumContractDurationInt))
        {
            minimumContractDuration = minimumContractDurationInt.ToString();
        }

        var hasBonus = Model.SelectedTariff.Bonus != null;
        var isuBonus = hasBonus && !string.IsNullOrWhiteSpace(Model.SelectedTariff.Bonus.IsuBonus) && !string.IsNullOrWhiteSpace(Model.SelectedTariff.Bonus.Title);
        var standardBonus = hasBonus && (!string.IsNullOrWhiteSpace(Model.SelectedTariff.Bonus.Bonus) || !string.IsNullOrWhiteSpace(Model.SelectedTariff.Portfolio.bonus));
        var dummyBonus = standardBonus && Model.SelectedTariff.Bonus.Bonus.Trim() == "0"; // See GASAG-39881 - 100 | gasag.de | Wichtige Anpassung für Amazon-Gutschein

        var bonus = "0,00";
        if (standardBonus)
        {
            if (!string.IsNullOrWhiteSpace(Model.SelectedTariff.Bonus.Bonus))
            {
                bonus = Model.SelectedTariff.Bonus.Bonus;
            }
            else if (!string.IsNullOrWhiteSpace(Model.SelectedTariff.Portfolio.bonus))
            {
                bonus = Model.SelectedTariff.Portfolio.bonus;
            }
        }
        bonus += " " + Model.SelectedTariff.Currency;

        var isuBonusValue = "";
        if (dummyBonus)
        {
            bonus = Model.SelectedTariff.Bonus.Title;
        }
        else if (isuBonus)
        {
            isuBonusValue = Model.SelectedTariff.Bonus.Title;
        }

        <div class="tariff-calculator-order-process">
            <h2>@Html.Sitecore().Field("Application form", Model.Item) @Model.SelectedTariff.Name</h2>
            <a href="@Model.EntryCalculatorPage" class="btn btn-link calc-new">@Html.Sitecore().Field("New calculation", Model.Item)</a>
            <div class="user-settings" app-view="HelperEqualHeightView" data-selector=".box" data-breakpoints="media-from-l">
                <div class="row">
                    <div class="col-lg-4">
                        <div class="user-information box">
                            <p class="headline">@Html.Sitecore().Field("Your details", Model.Item)</p>
                            <p><span>@Html.Sitecore().Field("Consumption", Model.Item)</span> @Model.Calculator.Consumption @Html.Sitecore().Field("Consumption unit", Model.Item)</p>
                            <p><span>@Html.Sitecore().Field("Post code", Model.Item)</span> @Model.SelectedTariff.Name</p>
                            <a href="@Model.EntryCalculatorPage" class="btn btn-edit">@Html.Sitecore().Field("Recalculate")</a>
                        </div>
                    </div>

                    <div class="col-lg-8">
                        <div class="user-tariff box">
                            <p class="headline">@Html.Sitecore().Field("Your tariff", Model.Item) @Model.SelectedTariff.Name</p>
                            <div class="row">
                                <div class="col-lg-4">
                                    <p>
                                        <span>@Html.Sitecore().Field("Price per year", Model.Item)</span>
                                        @((Model.SelectedTariff.BasePrice / 12).ToString("F")) @Model.SelectedTariff.Currency @Html.Sitecore().Field("Base price unit")
                                    </p>
                                    <p class="user-switchover-bonus">
                                        <span>@Html.Sitecore().Field("Working price", Model.Item)</span>
                                        @Html.Raw(bonus)
                                    </p>
                                    <p class="user-coupon-data">
                                        <span class="coupon-title"></span>
                                        <span class="coupon-value"></span>
                                    </p>
                                </div>
                                <div class="col-lg-4">
                                    <p><span>@Html.Sitecore().Field("Base price", Model.Item)</span>@((Model.SelectedTariff.WorkingPrice * 100).ToString("F")) @Html.Sitecore().Field("Working price unit", Model.Item)</p>
                                    <p>
                                        <span>
                                            @if (isuBonus)
                                            {
                                                @Html.Sitecore().Field("Price match guarantee", Model.Item)
                                            }
                                        </span> 
                                        @if (isuBonus)
                                        {
                                            @isuBonusValue
                                        }
                                    </p>
                                </div>
                                <div class="col-lg-4">
                                    <p><span>@Html.Sitecore().Field("Minimum consumption", Model.Item)</span> @Model.SelectedTariff.MinimumConsumption @Html.Sitecore().Field("Minimum consumption unit", Model.Item)</p>
                                    <p><span>@Html.Sitecore().Field("Contract period", Model.Item)</span> @minimumContractDuration @Model.SelectedTariff.MinimumContractDurationUnit</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

            <p>@Html.Sitecore().Field("Hint", Model.Item)</p>

            <div class="tariff-order-process-form" app-view="ModuleTariffOrderProcess" data-url-iban="@ScUtil.ServiceUrl("TariffCalculator", "GetBankByIban", false)" data-url-delivery="@ScUtil.ServiceUrl("TariffCalculator", "SearchSuppliers", false)?division=@Model.Calculator.Division&supplier={query}">
                <form method="post" action="">

                    @Html.Sitecore().FormHandler("TariffCalculator", "Order")
                    @if (successPageItemElectricity != null)
                    {
                        <input type="hidden" name="successPageElectricity" value="@successPageItemElectricity.ID.ToShortID()" />
                    }
                    @if (successPageItemGas != null)
                    {
                        <input type="hidden" name="successPageGas" value="@successPageItemGas.ID.ToShortID()" />
                    }
                    @if (type != null)
                    {
                        <input type="hidden" name="type" value="@type.ID.ToShortID()" />
                    }
                    @if (errorPageItem != null)
                    {
                        <input type="hidden" name="errorPage" value="@errorPageItem.ID.ToShortID()" />
                    }

                    <div class="tariff-order-process-steps">
                        <h3 id="step-1"><span>1</span> @Html.Sitecore().Field("Personal information", Model.Item)</h3>
                        <div class="step-1-content">
                            <div class="row">
                                <div class="col-lg-12 form-container">
                                    <!-- start personal information -->
                                    @if (Model.LoginResponse == null)
                                    { 
                                        <div class="row">
                                            <div class="col-lg-4">
                                                <div class="form-element">
                                                    @if (Model.MasterData != null && Model.MasterData.salutations != null)
                                                    {
                                                        var first = true;
                                                        foreach (var salutation in Model.MasterData.salutations)
                                                        {
                                                            if (salutation.success)
                                                            {
                                                                <div class="radio">
                                                                    <input
                                                                            type="radio"
                                                                            name="customer[salutation]"
                                                                            id="salutation-@salutation.titleKey"
                                                                            class="required-option"
                                                                            value="@salutation.titleKey"
                                                                            @(first ? @"checked" : "")
                                                                            data-summary="summaryBox1.customerSalutation" />
                                                                    <label for="salutation-@salutation.titleKey">@salutation.titleText</label>
                                                                </div>

                                                                first = false;
                                                            }
                                                        }
                                                    }
                                                </div>
                                            </div>
                                            <div class="col-lg-4">
                                                <div class="form-element" app-view="ModuleOverviewFilterView">
                                                    <select name="customer[title]" id="form-element-select-2" data-summary="summaryBox1.customerTitle">
                                                        <option value="">@Model.Item["Title"]</option>
                                                        @if (Model.MasterData != null && Model.MasterData.academeticTitles != null)
                                                        {
                                                            foreach (var academicTitle in Model.MasterData.academeticTitles)
                                                            {
                                                                <option value="@academicTitle.titleKey">@academicTitle.titleDescription</option>
                                                            }
                                                        }
                                                    </select>
                                                </div>
                                            </div>

                                            @* Currently the Tariffcalculator only supports privat customers (= 1). Dropdown disabled and hard coded value. *@
                                            <input type="hidden" name="customer[businesspartnertype]" value="1" />
                                            @*
                                            <div class="col-lg-4">
                                                <div class="form-element" app-view="ModuleOverviewFilterView">
                                                    <select name="customer[businesspartnertype]" id="form-element-select-3" required data-key="summaryBox1.userGroup">
                                                        <option value="">@Model.Item["Customer Type"]</option>
                                                        @if (Model.MasterData != null && Model.MasterData.businessPartnerTypes != null)
                                                        {
                                                            foreach (var businessPartnerType in Model.MasterData.businessPartnerTypes)
                                                            {
                                                                <option value="@businessPartnerType.typeKey">@businessPartnerType.typeText</option>
                                                            }
                                                        }
                                                    </select>
                                                </div>
                                            </div>
                                            *@
                                        </div>
                                        <div class="row">
                                            <div class="col-lg-4">
                                                <div class="form-element">
                                                    <input type="text" id="name" name="customer[firstname]" placeholder="@Model.Item["First name"]" required data-summary="summaryBox1.customerForename">
                                                </div>
                                            </div>
                                            <div class="col-lg-4">
                                                <div class="form-element">
                                                    <input type="text" id="surname" name="customer[lastname]" placeholder="@Model.Item["Last name"]" required data-summary="summaryBox1.customerSurname">
                                                </div>
                                            </div>
                                            <div class="col-lg-4 hide">
                                                <div class="form-element">
                                                    <input type="text" id="company" name="customer[company]" placeholder="@Model.Item["Company"]" data-summary="summaryBox1.customerCompany">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-lg-4">
                                                <div class="form-element">
                                                    <input type="email" id="email" name="customer[email]" placeholder="@Model.Item["Email"]" required data-summary="summaryBox1.customerEmail">
                                                </div>
                                            </div>
                                            <div class="col-lg-4">
                                                <div class="form-element">
                                                    <input type="tel" id="phone" name="customer[phone]" placeholder="@Model.Item["Phone"]" data-summary="summaryBox1.customerPhoneNumber">
                                                </div>
                                            </div>
                                        </div>

                                        <p class="headline">@Html.Sitecore().Field("Birth date", Model.Item)</p>

                                        <div class="row">
                                            <div class="col-lg-4">
                                                <div class="row" app-view="HelperCheckDateView" data-check="age">
                                                    <div class="col-lg-4">
                                                        <div class="form-element">
                                                            <input type="number" id="day" class="date day" min="1" max="31" maxlength="2" name="customerbirthdate[day]" placeholder="@Model.Item["Day"]" required data-summary="summaryBox1.customerBirthdayDay" />
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-4">
                                                        <div class="form-element">
                                                            <input type="number" id="month" class="date month" min="1" max="12" maxlength="2" name="customerbirthdate[month]" placeholder="@Model.Item["Month"]" required data-summary="summaryBox1.customerBirthdayMonth" />
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-4">
                                                        <div class="form-element">
                                                            <input type="number" id="year" class="date year" min="1000" max="2500" maxlength="4" name="customerbirthdate[year]" placeholder="@Model.Item["Year"]" required data-summary="summaryBox1.customerBirthdayYear" />
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-12">
                                                        <p class="error-date">@Html.Sitecore().Field("Age limitation error", Model.Item)</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    }
                           
                                    <p class="headline">@Html.Sitecore().Field("Address", Model.Item)</p>


                                    <div class="row">
                                        <div class="col-lg-6">
                                            <div class="row">
                                                <div class="col-lg-4">
                                                    <div class="form-element">
                                                        <input type="text" id="zip" name="address[zip]" placeholder="@Model.Item["Address zip"]" required data-summary="summaryBox1.deliveryAddressZipCode" readonly="readonly" value="@Model.ZipObject.ZipParts[0]">
                                                    </div>
                                                </div>
                                                <div class="col-lg-8">
                                                    <div class="form-element" app-view="ModuleOverviewFilterView">
                                                        <select name="address[city]" id="city" data-summary="summaryBox1.deliveryAddressTown" data-url="@ScUtil.ServiceUrl("TariffCalculator", "StreetDetails", false)" required class="required-if-visible">
                                                            @if (Model.Cities != null && Model.Cities.Any())
                                                            {
                                                                var selected = Model.Cities.FirstOrDefault(city => city.cityCode == Model.ZipObject.ZipCodeResponse.cityCode && city.cityPartCode == Model.ZipObject.ZipCodeResponse.cityPartCode);
                                                                if (selected != null)
                                                                {
                                                                    <option value="@selected.cityCode,@selected.cityPartCode" selected="selected">@selected.city, @selected.cityPart</option>
                                                                }
                                                                else
                                                                {
                                                                    <option value="">@Model.Item["City"]</option>

                                                                    foreach (var city in Model.Cities)
                                                                    {
                                                                        <option value="@city.cityCode,@city.cityPartCode">@city.city, @city.cityPart</option>
                                                                    }
                                                                }
                                                            }
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-lg-4">
                                            <div class="form-element" app-view="ModuleOverviewFilterView">
                                                <select name="address[street]" id="street" @(Model.Cities == null || Model.Cities.Count(x => x.cityCode == Model.ZipObject.ZipCodeResponse.cityCode && x.cityPartCode == Model.ZipObject.ZipCodeResponse.cityPartCode) ==0 ? "disabled=\"disabled\"" : string.Empty) data-summary="summaryBox1.deliveryAddressStreet" required>
                                                    <option value="">@Model.Item["Street"]</option>
                                                    @if (Model.Streets != null && Model.Streets.Any())
                                                    {
                                                        foreach (var street in Model.Streets)
                                                        {
                                                            <option value="@street.cityCode,@street.cityPartCode,@street.streetCode">@street.streetName</option>
                                                        }
                                                    }
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-lg-4">
                                            <div class="row">
                                                <div class="col-lg-6">
                                                    <div class="form-element">
                                                        <input type="number" id="house-number" name="address[housenumber]" placeholder="@Model.Item["House number"]" required="required" data-summary="summaryBox1.deliveryAddressStreetNumber" disabled="disabled" />
                                                    </div>
                                                </div>
                                                <div class="col-lg-6">
                                                    <div class="form-element">
                                                        <input type="text" id="house-number-addition" name="address[housenumberappendix]" placeholder="@Model.Item["House number appendix"]" data-summary="summaryBox1.deliveryAddressAdding" disabled="disabled" />
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <a href="#" class="btn btn-cancel show-extra-container show-extra-billing-address">@Html.Sitecore().Field("Add alternative address", Model.Item)</a>

                                    <div class="extra-container extra-billing-address">
                                        <p class="headline">@Html.Sitecore().Field("Alternative address", Model.Item)</p>
                                        <div class="row">
                                            <div class="col-lg-4">
                                                <div class="form-element" app-view="ModuleOverviewFilterView">
                                                    <select name="deviantinvoicecustomer[salutation]" id="form-element-select-deviant-salutation" class="required-if-visible">
                                                        <option value="">@Model.Item["Salutation"]</option>
                                                        @if (Model.MasterData != null && Model.MasterData.salutations != null)
                                                        {
                                                            foreach (var salutation in Model.MasterData.salutations)
                                                            {
                                                                if (salutation.success)
                                                                { 
                                                                    <option value="@salutation.titleKey">@salutation.titleText</option>
                                                                }
                                                            }
                                                        }
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-lg-4">
                                                <div class="form-element" app-view="ModuleOverviewFilterView">
                                                    <select name="deviantinvoicecustomer[title]" id="form-element-select-deviant-title">
                                                        <option value="">@Model.Item["Title"]</option>
                                                        @if (Model.MasterData != null && Model.MasterData.academeticTitles != null)
                                                        {
                                                            foreach (var academicTitle in Model.MasterData.academeticTitles)
                                                            {
                                                                <option value="@academicTitle.titleKey">@academicTitle.titleDescription</option>
                                                            }
                                                        }
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-lg-4">
                                                <div class="form-element">
                                                    <input type="text" id="name-3" name="deviantinvoicecustomer[firstname]" placeholder="@Model.Item["First name"]" data-summary="summaryBox1.billingAddressForename" class="required-if-visible">
                                                </div>
                                            </div>
                                            <div class="col-lg-4">
                                                <div class="form-element">
                                                    <input type="text" id="surname-3" name="deviantinvoicecustomer[lastname]" placeholder="@Model.Item["Last name"]" data-summary="summaryBox1.billingAddressSurname" class="required-if-visible">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-lg-4">
                                                <div class="form-element">
                                                    <input type="text" id="street-2" name="deviantinvoiceaddress[street]" placeholder="@Model.Item["Street"]" data-summary="summaryBox1.billingAddressStreet" class="required-if-visible">
                                                </div>
                                            </div>
                                            <div class="col-lg-4">
                                                <div class="row">
                                                    <div class="col-lg-6">
                                                        <div class="form-element">
                                                            <input type="number" id="house-number-2" name="deviantinvoiceaddress[housenumber]" placeholder="@Model.Item["House number"]" data-summary="summaryBox1.billingAddressStreetNumber" class="required-if-visible">
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-6">
                                                        <div class="form-element">
                                                            <input type="text" id="house-number-addition-2" name="deviantinvoiceaddress[housenumberappendix]" placeholder="@Model.Item["House number appendix"]" data-summary="summaryBox1.billingAddressAdding">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-lg-4">
                                                <div class="row">
                                                    <div class="col-lg-6">
                                                        <div class="form-element">
                                                            <input type="text" id="zip-2" name="deviantinvoiceaddress[zip]" placeholder="@Model.Item["Address zip"]" data-summary="summaryBox1.billingAddressZipCode" class="required-if-visible">
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-6">
                                                        <div class="form-element">
                                                            <input type="text" id="town-2" name="deviantinvoiceaddress[city]" placeholder="@Model.Item["City"]" data-summary="summaryBox1.billingAddressTown" class="required-if-visible">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <a href="#" class="btn btn-cancel hide-extra-container show-extra-billing-address">@Html.Sitecore().Field("Remove alternative address")</a>
                                    </div>

                                </div>
                            </div>
                        </div>

                        <h3 id="step-2"><span>2</span>@Html.Sitecore().Field("Delivery counter", Model.Item)</h3>

                        <div class="step-2-content required-group">
                            <div class="row">
                                <div class="col-lg-8 form-container">
                                    <p class="headline">@Html.Sitecore().Field("Apply to")</p>

                                    <div class="row">
                                        <div class="col-lg-12">
                                            <div class="form-element">
                                                <div class="radio">
                                                    <input type="radio" 
                                                           name="delivery[isnewentry]" 
                                                           id="new-entry-@RenderingContext.CurrentOrNull.Rendering.Id.ToString("N")" 
                                                           class="delivery-new required-option" 
                                                           data-required="required-moving-in" 
                                                           value="@bool.TrueString" 
                                                           data-summary="summaryBox2.requestType" />
                                                    <label for="new-entry-@RenderingContext.CurrentOrNull.Rendering.Id.ToString("N")">@Html.Sitecore().Field("New entry")</label>
                                                </div>
                                                <div class="radio">
                                                    <input type="radio" 
                                                           name="delivery[isnewentry]" 
                                                           checked id="supplier-change-@RenderingContext.CurrentOrNull.Rendering.Id.ToString("N")" 
                                                           class="delivery-exchange required-option" 
                                                           data-required="required-switchover" 
                                                           value="@bool.FalseString" 
                                                           data-summary="summaryBox2.requestType" />
                                                    <label for="supplier-change-@RenderingContext.CurrentOrNull.Rendering.Id.ToString("N")">@Html.Sitecore().Field("Supplier change")</label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row delivery-date">
                                        <div class="col-lg-6">
                                            <p class="headline">@Html.Sitecore().Field("Delivery date", Model.Item)</p>
                                            <div class="row" app-view="HelperCheckDateView" data-check="date">
                                                <div class="col-lg-4">
                                                    <div class="form-element">
                                                        <input type="number" 
                                                               id="day-3" 
                                                               class="date day required-input required-moving-in" 
                                                               min="1" 
                                                               max="31"
                                                               maxlength="2" 
                                                               name="deliverydate[day]" 
                                                               placeholder="@Model.Item["Delivery day"]" 
                                                               data-summary="summaryBox2.requestMeterDay" />
                                                    </div>
                                                </div>
                                                <div class="col-lg-4">
                                                    <div class="form-element">
                                                        <input type="number" 
                                                               id="month-3" 
                                                               class="date month required-input required-moving-in" 
                                                               min="1" 
                                                               max="12" 
                                                               maxlength="2" name="deliverydate[month]" 
                                                               placeholder="@Model.Item["Delivery month"]" 
                                                               data-summary="summaryBox2.requestMeterMonth" />
                                                    </div>
                                                </div>
                                                <div class="col-lg-4">
                                                    <div class="form-element">
                                                        <input type="number" 
                                                               id="year-3" 
                                                               class="date year required-input required-moving-in" 
                                                               min="1000" 
                                                               max="2500" 
                                                               maxlength="4" 
                                                               name="deliverydate[year]" 
                                                               placeholder="@Model.Item["Delivery year"]" 
                                                               data-summary="summaryBox2.requestMeterYear" />
                                                    </div>
                                                </div>
                                                <div class="col-lg-12">
                                                    <p class="error-date">@Html.Sitecore().Field("Delivery date error", Model.Item)</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-lg-6">
                                            <div class="form-element">
                                                <input type="text" 
                                                       id="number" 
                                                       name="delivery[counternumber]" 
                                                       required 
                                                       placeholder="@Model.Item["Counter number"]" 
                                                       data-summary="summaryBox2.requestMeterNumber" />
                                            </div>
                                        </div>
                                    </div>
                                    @*<div class="row delivery-reading">
                                        <div class="col-lg-6">
                                            <div class="form-element">
                                                <input type="text" 
                                                       id="reading" 
                                                       name="delivery[countervalue]"  
                                                       class="required-input required-switchover" 
                                                       placeholder="@counterDimension" 
                                                       data-summary="summaryBox2.requestMeterReading" />
                                            </div>
                                        </div>
                                    </div>*@
                                    <div class="row delivery-supplier">
                                        <div class="col-lg-6">
                                            <div class="form-element">
                                                <input type="text" 
                                                       id="supplier" 
                                                       name="delivery[supplier]" 
                                                       class="required-input required-switchover" 
                                                       placeholder="@Model.Item["Supplier"]" 
                                                       data-summary="summaryBox2.requestPreviousSupplier" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <h3 id="step-3"><span>3</span>@Html.Sitecore().Field("Payment", Model.Item)</h3>

                        <div class="step-3-content required-group">
                            <div class="row">
                                <div class="col-lg-8 form-container">
                                    <p class="headline">@Html.Sitecore().Field("Payment method")</p>

                                    <div class="row">
                                        <div class="col-lg-12">
                                            <div class="form-element">
                                                <div class="radio">
                                                    <input type="radio" name="payment[IsIbanProcessing]" checked id="radio-sepa-@RenderingContext.CurrentOrNull.Rendering.Id.ToString("N")" class="radio-payment-sepa  required-option" value="@bool.TrueString" data-summary="summaryBox3.paymentType" data-required="required-sepa">
                                                    <label for="radio-sepa-@RenderingContext.CurrentOrNull.Rendering.Id.ToString("N")">@Html.Sitecore().Field("SEPA", Model.Item)</label>
                                                </div>
                                                <div class="radio">
                                                    <input type="radio" name="payment[IsIbanProcessing]" id="radio-transfer-@RenderingContext.CurrentOrNull.Rendering.Id.ToString("N")" class="radio-payment-transfer  required-option" value="@bool.FalseString" data-summary="summaryBox3.paymentType">
                                                    <label for="radio-transfer-@RenderingContext.CurrentOrNull.Rendering.Id.ToString("N")">@Html.Sitecore().Field("Transfer", Model.Item)</label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="payment-sepa">
                                        <div class="row">
                                            <div class="col-lg-6">
                                                <div class="form-element">
                                                    <input type="text" id="kontoinhaber" name="payment[accountholder]" class="required-input required-sepa" placeholder="@Model.Item["Account holder"]" required
                                                            data-summary="summaryBox3.paymentDepositor">
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-lg-12">
                                                <div class="row">
                                                    <div class="col-lg-6">
                                                        <div class="form-element">
                                                            <input type="text" id="iban" name="payment[iban]" class="required-input required-sepa" placeholder="@Model.Item["IBAN"]" required
                                                                    data-summary="summaryBox3.paymentIban">
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-6">
                                                        <p class="bank-name"><strong>@Html.Sitecore().Field("Bank name", Model.Item)</strong> @Html.Sitecore().Field("Auto update", Model.Item)</p>
                                                        <p class="bank-name-error">@Html.Sitecore().Field("IBAN error message", Model.Item)</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="payment-transfer">
                                        <p>@Html.Sitecore().Field("Transfer hint", Model.Item)</p>
                                    </div>
                                </div>

                                @if (ScValue.GetBool(Model.Item, "Show Coupon Code"))
                                {
                                    <div class="col-lg-8 form-container">
                                        <p class="headline">@Html.Sitecore().Field("Coupon code", Model.Item)</p>

                                        <div class="row">
                                            <div class="col-lg-6">
                                                <div class="form-element">
                                                    <input type="text" 
                                                           id="coupon-code" 
                                                           name="payment[couponcode]" 
                                                           placeholder="XXX-XXX-XXX-XXX" 
                                                           data-summary="summaryBox3.paymentCouponCode"
                                                           data-url="@ScUtil.ServiceUrl("TariffCalculator", "GetCouponCode", false, new Dictionary<string, string>() { { "coupon", "{couponCode}" } })">
                                                </div>
                                            </div>
                                            <div class="col-lg-6">
                                                <p class="coupon-data">
                                                    <strong class="coupon-title"></strong>
                                                    <br />
                                                    <span class="coupon-value"></span>
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                }


                                <div class="col-lg-12">
                                    <div class="form-element">
                                        <div class="checkbox checkbox-sepa">
                                            <input type="checkbox" id="checkbox-auth-@RenderingContext.CurrentOrNull.Rendering.Id.ToString("N")" name="payment[authorizationiban]" class="required-input required-sepa">
                                            <label for="checkbox-auth-@RenderingContext.CurrentOrNull.Rendering.Id.ToString("N")">@Html.Sitecore().Field("IBAN autorization confirmation", Model.Item)</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <h3><span>4</span>@Html.Sitecore().Field("Summary", Model.Item)</h3>

                        <div>
                            <div class="row">
                                <div class="col-lg-12 form-container" app-view="HelperEqualHeightView" data-selector=".summary-box">
                                    <div class="user-settings" app-view="HelperEqualHeightView" data-selector=".box" data-breakpoints="media-from-l">
                                        <div class="row">
                                            <div class="col-lg-4">
                                                <div class="user-information box">
                                                    <p class="headline">@Html.Sitecore().Field("Your details", Model.Item)</p>
                                                    <p><span>@Html.Sitecore().Field("Consumption", Model.Item)</span> @Model.Calculator.Consumption @Html.Sitecore().Field("Consumption unit", Model.Item)</p>
                                                    <p><span>@Html.Sitecore().Field("Post code", Model.Item)</span> @Model.SelectedTariff.Name</p>
                                                    <a href="@Model.EntryCalculatorPage" class="btn btn-edit">@Html.Sitecore().Field("Recalculate")</a>
                                                </div>
                                            </div>

                                            <div class="col-lg-8">
                                                <div class="user-tariff box">
                                                    <p class="headline">@Html.Sitecore().Field("Your tariff", Model.Item) @Model.SelectedTariff.Name</p>
                                                    <div class="row">
                                                        <div class="col-lg-4">
                                                            <p>
                                                                <span>@Html.Sitecore().Field("Price per year", Model.Item)</span> 
                                                                @((Model.SelectedTariff.BasePrice / 12).ToString("F")) @Model.SelectedTariff.Currency @Html.Sitecore().Field("Base price unit")
                                                            </p>
                                                            <p class="user-switchover-bonus">
                                                                <span>@Html.Sitecore().Field("Working price", Model.Item)</span> 
                                                                @Html.Raw(bonus)
                                                            </p>
                                                            <p class="user-coupon-data">
                                                                <span class="coupon-title"></span>
                                                                <span class="coupon-value"></span>
                                                            </p>
                                                        </div>
                                                        <div class="col-lg-4">
                                                            <p><span>@Html.Sitecore().Field("Base price", Model.Item)</span>@((Model.SelectedTariff.WorkingPrice * 100).ToString("F")) @Html.Sitecore().Field("Working price unit", Model.Item)</p>
                                                            <span>
                                                                @if (isuBonus)
                                                                {
                                                                    @Html.Sitecore().Field("Price match guarantee", Model.Item)
                                                                }
                                                            </span> 
                                                            @if (isuBonus)
                                                            {
                                                                @isuBonusValue
                                                            }
                                                        </div>
                                                        <div class="col-lg-4">
                                                            <p><span>@Html.Sitecore().Field("Minimum consumption", Model.Item)</span> @Model.SelectedTariff.MinimumConsumption @Html.Sitecore().Field("Minimum consumption unit", Model.Item)</p>
                                                            <p><span>@Html.Sitecore().Field("Contract period", Model.Item)</span> @minimumContractDuration @Model.SelectedTariff.MinimumContractDurationUnit</p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                    
                                    <div class="row summary-container">

                                    </div>

                                    <script id="summary-boxes-tmpl" type="x-tmpl-mustache">
                                        <div class="col-lg-4">
                                            <div class="summary-box">
                                                <p class="headline">Persönliche Angaben</p>
                                                <p>
                                                    {{#summaryBox1.customerGroup}}
                                                        {{summaryBox1.customerGroup}} <br />
                                                    {{/summaryBox1.customerGroup}}
            
                                                    {{#summaryBox1.customerCompany}}
                                                        <span class="strong">{{summaryBox1.customerCompany}}</span><br />
                                                    {{/summaryBox1.customerCompany}}
            
                                                    {{#summaryBox1.hasCustomerSalutationTitle}}
                                                        {{summaryBox1.customerSalutation}} {{summaryBox1.customerTitle}} <br />
                                                    {{/summaryBox1.hasCustomerSalutationTitle}}
            
                                                    {{#summaryBox1.hasCustomerForenameSurname}}
                                                        <span class="strong">
                                                            {{summaryBox1.customerForename}}
                                                            {{summaryBox1.customerSurname}}
                                                        </span>
                                                        <br />
                                                    {{/summaryBox1.hasCustomerForenameSurname}}
            
                                                    {{#summaryBox1.hasCustomerBirthday}}
                                                        geb. am
                                                        {{summaryBox1.customerBirthdayDay}}.{{summaryBox1.customerBirthdayMonth}}.{{summaryBox1.customerBirthdayYear}}
                                                        <br />
                                                    {{/summaryBox1.hasCustomerBirthday}}
            
                                                    {{#summaryBox1.customerEmail}}
                                                        {{summaryBox1.customerEmail}}<br />
                                                    {{/summaryBox1.customerEmail}}
            
                                                    {{#summaryBox1.customerPhoneNumber}}
                                                        {{summaryBox1.customerPhoneNumber}}<br />
                                                    {{/summaryBox1.customerPhoneNumber}}
                                                </p>
            
                                                {{#summaryBox1.hasContractPartner}}
                                                    <p>
                                                        {{#summaryBox1.hasPartnerSalutationTitle}}
                                                            {{summaryBox1.partnerSalutation}} {{summaryBox1.partnerTitle}}<br />
                                                        {{/summaryBox1.hasPartnerSalutationTitle}}
            
                                                        {{#summaryBox1.hasPartnerForenameSurname}}
                                                            <span class="strong">
                                                                {{summaryBox1.partnerForename}}
                                                                {{summaryBox1.partnerSurname}}
                                                            </span>
                                                            <br />
                                                        {{/summaryBox1.hasPartnerForenameSurname}}
            
                                                        {{#summaryBox1.hasPartnerBirthday}}
                                                            geb. am
                                                            {{summaryBox1.partnerBirthdayDay}}.{{summaryBox1.partnerBirthdayMonth}}.{{summaryBox1.partnerBirthdayYear}}
                                                            <br />
                                                        {{/summaryBox1.hasPartnerBirthday}}
            
                                                        {{#summaryBox1.partnerEmail}}
                                                            {{summaryBox1.partnerEmail}}<br />
                                                        {{/summaryBox1.partnerEmail}}
            
                                                        {{#summaryBox1.partnerPhoneNumber}}
                                                            {{summaryBox1.partnerPhoneNumber}}<br />
                                                        {{/summaryBox1.partnerPhoneNumber}}
                                                    </p>
                                                {{/summaryBox1.hasContractPartner}}
            
                                                <p>
                                                    {{#summaryBox1.hasDeliveryAddressStreetStreetNumber}}
                                                        <span class="strong">Lieferadresse</span><br />
                                                        {{summaryBox1.deliveryAddressStreet}}
            
                                                        {{#summaryBox1.deliveryAddressStreetNumber}}
                                                            {{summaryBox1.deliveryAddressStreetNumber}}{{#summaryBox1.deliveryAddressAdding}},
                                                                {{summaryBox1.deliveryAddressAdding}}
                                                            {{/summaryBox1.deliveryAddressAdding}}
                                                        {{/summaryBox1.deliveryAddressStreetNumber}}
            
                                                        <br />
                                                    {{/summaryBox1.hasDeliveryAddressStreetStreetNumber}}
            
                                                    {{#summaryBox1.hasDeliveryAddressZipCodeTown}}
                                                        {{summaryBox1.deliveryAddressZipCode}}
                                                        {{summaryBox1.deliveryAddressTown}}
                                                    {{/summaryBox1.hasDeliveryAddressZipCodeTown}}
                                                </p>
            
                                                <p>
                                                    <span class="strong">Rechnungsadresse</span>
                                                    <br />
                                                    {{#summaryBox1.hasBillingAddress}}
                                                        {{#summaryBox1.hasBillingAddressForenameSurname}}
                                                            {{summaryBox1.billingAddressForename}}
                                                            {{summaryBox1.billingAddressSurname}}
                                                            <br />
                                                        {{/summaryBox1.hasBillingAddressForenameSurname}}
            
                                                        {{#summaryBox1.hasBillingAddressStreetStreetNumber}}
                                                            {{summaryBox1.billingAddressStreet}}
            
                                                            {{#summaryBox1.billingAddressStreetNumber}}
                                                                {{summaryBox1.billingAddressStreetNumber}}{{#summaryBox1.billingAddressAdding}},
                                                                    {{summaryBox1.billingAddressAdding}}
                                                                {{/summaryBox1.billingAddressAdding}}
                                                                <br />
                                                            {{/summaryBox1.billingAddressStreetNumber}}
                                                        {{/summaryBox1.hasBillingAddressStreetStreetNumber}}
            
                                                        {{#summaryBox1.hasBillingAddressZipCodeTown}}
                                                            {{summaryBox1.billingAddressZipCode}}
                                                            {{summaryBox1.billingAddressTown}}
                                                        {{/summaryBox1.hasBillingAddressZipCodeTown}}
            
            
                                                        {{#userStreetStreetNumber2}}
                                                            {{#summaryBox1.userName3}}{{summaryBox1.userName3}}{{/summaryBox1.userName3}} {{#summaryBox1.userSurename3}}{{summaryBox1.userSurename3}}{{/summaryBox1.userSurename3}}
                                                            {{#summaryBox1.userStreet2}}{{summaryBox1.userStreet2}}{{/summaryBox1.userStreet2}} {{#summaryBox1.userStreetNumber2}}{{summaryBox1.userStreetNumber2}}{{/summaryBox1.userStreetNumber2}}{{#summaryBox1.userAddition2}}, {{summaryBox1.userAddition2}}{{/summaryBox1.userAddition2}}<br />
                                                        {{/userStreetStreetNumber2}}
            
                                                        {{#userZipTown2}}
                                                            {{#summaryBox1.userZip2}}{{summaryBox1.userZip2}}{{/summaryBox1.userZip2}} {{#summaryBox1.userTown2}}{{summaryBox1.userTown2}}{{/summaryBox1.userTown2}}
                                                        {{/userZipTown2}}
                                                    {{/summaryBox1.hasBillingAddress}}
                                                    {{^summaryBox1.hasBillingAddress}}
                                                        Wie Lieferadresse.
                                                    {{/summaryBox1.hasBillingAddress}}
                                                </p>
            
                                                <a href="#step-1">Bearbeiten</a>
                                            </div>
                                        </div>
            
                                        <div class="col-lg-4">
                                            <div class="summary-box">
                                                <p class="headline">Lieferung Zähler</p>
                                                <p class="strong">
                                                    Leistung: {{summaryBox2.requestType}}
                                                </p>
            
                                                <p>
                                                    {{#summaryBox2.hasRequestDate}}
                                                        Datum:
                                                        {{summaryBox2.requestMeterDay}}.{{summaryBox2.requestMeterMonth}}.{{summaryBox2.requestMeterYear}}
                                                        <br />
                                                    {{/summaryBox2.hasRequestDate}}
            
                                                    {{#summaryBox2.requestMeterNumber}}
                                                        Zählernummer: {{summaryBox2.requestMeterNumber}}<br />
                                                    {{/summaryBox2.requestMeterNumber}}
            
                                                    {{#summaryBox2.requestMeterReading}}
                                                        Zählerstand: {{summaryBox2.requestMeterReading}} kWh<br />
                                                    {{/summaryBox2.requestMeterReading}}
            
                                                    {{#summaryBox2.requestPreviousSupplier}}
                                                        Vorlieferant: {{summaryBox2.requestPreviousSupplier}}
                                                    {{/summaryBox2.requestPreviousSupplier}}
                                                </p>
            
                                                <a href="#step-2">Bearbeiten</a>
                                            </div>
                                        </div>
            
                                        <div class="col-lg-4">
                                            <div class="summary-box">
                                                <p class="headline">Zahlung</p>
                                                <p class="strong">
                                                    Zahlungsweise: {{summaryBox3.paymentType}}
                                                </p>
            
                                                <p>
                                                    {{#summaryBox3.paymentDepositor}}
                                                        {{summaryBox3.paymentDepositor}}<br />
                                                    {{/summaryBox3.paymentDepositor}}
            
                                                    {{#summaryBox3.paymentIban}}
                                                        IBAN: {{summaryBox3.paymentIban}}<br />
                                                        {{summaryBox3.bankName}}
                                                    {{/summaryBox3.paymentIban}}
                                                </p>
            
                                                <a href="#step-3">Bearbeiten</a>
                                            </div>
                                        </div>
                                    </script>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="tariff-order-process-submit">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="form-element">
                                    <div class="checkbox">
                                        <input type="checkbox" value="" id="checkboxAGB" name="agbchecked" required>
                                        <label for="checkboxAGB">@Html.Sitecore().Field("Accept", Model.Item) <a href="@agbLink" target="_blank">@Html.Sitecore().Field("AGB", Model.Item)</a></label>
                                    </div>

                                    <input type="submit" class="btn btn-primary" value="@Model.Item["Order now"]">
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>

        </div>
    }
    else if (Sitecore.Context.PageMode.IsExperienceEditor)
    {
        @PageEditor.Error("PageEditor.Error.MissingDataItem", new { Module = RenderingContext.CurrentOrNull.Rendering.RenderingItem.Name })
    }
}
catch (Exception ex)
{
    @PageEditor.Exception(RenderingContext.CurrentOrNull.Rendering.RenderingItem.Name, ex)
}
