﻿@using System.Text.RegularExpressions
@model Gasag.Web.Models.TariffCalculator.Tariff

@{ 
    var nextPageItem = ScValue.GetItem(Model.Item, "Next Page");
    var errorPageItem = ScValue.GetItem(Model.Item, "Error Page");

    var hasBonus = Model.Bonus != null;
    var isuBonus = hasBonus && !string.IsNullOrWhiteSpace(Model.Bonus.IsuBonus) && !string.IsNullOrWhiteSpace(Model.Bonus.Title);
    var standardBonus = hasBonus && (!string.IsNullOrWhiteSpace(Model.Bonus.Bonus) || !string.IsNullOrWhiteSpace(Model.Portfolio.bonus));
    var dummyBonus = standardBonus && Model.Bonus.Bonus.Trim() == "0"; // See GASAG-39881 - 100 | gasag.de | Wichtige Anpassung für Amazon-Gutschein

    var cls = "tariff-calculator-result";
    if (Model.IsMain)
    {
        cls += " tariff-calculator-saving-tip";
    }
}

<div class="@cls">
    @if (isuBonus || standardBonus || dummyBonus || Model.IsMain)
    {
        <div class="tariff-saving-tip">
            @if (isuBonus || dummyBonus)
            {
                var title = Model.Bonus.Title;

                // Insert standard bonus if available and no second bonus already exists in title.
                if (standardBonus && !title.Contains("<hr") && !dummyBonus)
                {
                    var bonus = !string.IsNullOrWhiteSpace(Model.Bonus.Bonus) ? Model.Bonus.Bonus : Model.Portfolio.bonus;
                    bonus = string.Concat(bonus, " ", Model.Currency);
                    title = string.Concat(title, "<hr/> ", bonus, Html.Sitecore().Field("New customer", Model.Item), "<br/>", Html.Sitecore().Field("Bonus", Model.Item));
                }

                // Highlight prices
                var rx = new Regex(@"([0-9.,]+\s*(€|&euro;))");
                title = rx.Replace(title, @"<div class=""disturber-price"">$1</div>");

                <div class="disturber green">
                    <div class="text">
                        @Html.Raw(title)
                    </div>
                </div>
            }
            else if (standardBonus)
            {
                var bonus = string.IsNullOrWhiteSpace(Model.Bonus.Bonus) ? Model.Portfolio.bonus : Model.Bonus.Bonus;

                <div class="disturber green">
                    <div class="text">
                        @Html.Sitecore().Field("Up to", Model.Item)
                        <div class="disturber-price">@bonus @Model.Currency</div>
                        @Html.Sitecore().Field("New customer", Model.Item)<br/>@Html.Sitecore().Field("Bonus", Model.Item)
                    </div>
                </div>
            }

            @if (Model.IsMain)
            {
                <p class="slogan">@Html.Sitecore().Field("Saving tip", Model.Item)</p>
            }
        </div>
    }

    <div class="tariff-price">
        <h3>@Model.Name</h3>
        <p class="price">@((Model.PricePerYear / 12).ToString("F")) @Model.Currency</p>
        <p class="month">@Html.Sitecore().Field("Per month", Model.Item)</p>
        <p class="year"><span>@Html.Sitecore().Field("Year", Model.Item)</span> @Model.PricePerYear.ToString("F") @Model.Currency</p>
    </div>

    @*<div class="tariff-saving">
        <div>
            <div class="headline">
                <p>@Html.Sitecore().Field("Savings", Model.Item)</p>
            </div>
            <div class="saving-price">
                <p>[Verivox]</p>
            </div>
        </div>
    </div>*@

    <div class="tariff-costs">
        <div>
            <div class="name">
                <p>@Html.Sitecore().Field("Base price", Model.Item)</p>
            </div>
            <div class="unit">
                <p>@((Model.BasePrice / 12).ToString("F")) @Model.Currency</p>
            </div>
        </div>
        <div>
            <div class="name">
                <p>@Html.Sitecore().Field("Working price", Model.Item)</p>
            </div>
            <div class="unit">
                <p>@((Model.WorkingPrice * 100).ToString("F")) @Html.Sitecore().Field("Working price unit", Model.Item)</p>
            </div>
        </div>
    </div>

    <div class="tariff-content">
        <div>
            <p class="headline">@Html.Sitecore().Field("Regardless of price fluctuations", Model.Item)</p>
            @Html.Sitecore().Field("Regardless of price fluctuations", Model.TariffItem)
        </div>

        <div>
            <p class="headline">@Html.Sitecore().Field("Relability", Model.Item)</p>
            @Html.Sitecore().Field("Relability", Model.TariffItem)
        </div>

        <div>
            <p class="headline">@Html.Sitecore().Field("Best billing", Model.Item)</p>
            @Html.Sitecore().Field("Best billing", Model.TariffItem)
        </div>
    </div>

    <div class="tariff-links">
        <form method="post">
            @Html.Sitecore().FormHandler("TariffCalculator", "SelectTariff")
            <input type="hidden" name="productId" value="@Model.Portfolio.productId" />
            @if (nextPageItem != null)
            {
                <input type="hidden" name="nextPage" value="@nextPageItem.ID.ToShortID()" />
            }
            @if (errorPageItem != null)
            {
                <input type="hidden" name="errorPage" value="@errorPageItem.ID.ToShortID()" />
            }
            <input class="btn btn-primary" type="submit" value="@Model.Item["Order Now"]" />
        </form>
        <a href="@Sitecore.Links.LinkManager.GetItemUrl(Model.TariffItem)" target="_blank">@Html.Sitecore().Field("Details", Model.Item)</a>
    </div>
</div>
