﻿@using Sitecore.Mvc.Presentation
@model Gasag.Web.Models.TariffCalculator.Login
@try
{
    if (Model.Item != null && Model.SelectedTariff != null)
    {
        var nextPageItem = ScValue.GetItem(Model.Item, "Next Page");
        var errorPageItem = ScValue.GetItem(Model.Item, "Error Page");

        <div class="tariff-calculator-login" app-view="ModuleTariffLoginView" data-url="@ScUtil.ServiceUrl("TariffCalculator", "CheckLogin", false)">
            <h2>@Html.Sitecore().Field("Title", Model.Item) @Model.SelectedTariff.Name</h2>

            <div class="row">
                <div class="col-lg-8">
                    <div class="tariff-login-form">
                        <form method="post" action="">
                            @Html.Sitecore().FormHandler("TariffCalculator", "Login")
                            @if (nextPageItem != null)
                            {
                                <input type="hidden" name="nextPage" value="@nextPageItem.ID.ToShortID()" />
                            }
                            @if (errorPageItem != null)
                            {
                                <input type="hidden" name="errorPage" value="@errorPageItem.ID.ToShortID()" />
                            }
                            <div class="tariff-login-form-elements">
                                <div class="form-element">
                                    <div class="radio">
                                        <input type="radio" name="loginType" id="radio1" class="set-required" value="@Gasag.Web.Models.TariffCalculator.LoginType.ExistingCustomerWithAccess">
                                        <label for="radio1">@Html.Sitecore().Field("Existing customer with access", Model.Item)</label>

                                        <div class="tariff-login">
                                            <div class="col-lg-12">
                                                <p class="error-message">@Html.Sitecore().Field("Incorrect login or password", Model.Item)</p>
                                            </div>
                                            <div class="col-lg-7">
                                                <div class="form-element">
                                                    <input type="text" id="username" name="username" placeholder="@Model.Item["Username"]" />
                                                    <input type="password" id="password" name="password" placeholder="@Model.Item["Password"]" />
                                                </div>
                                            </div>
                                            <div class="col-lg-5">
                                                <ul class="list-group list-group-default">
                                                    <li>
                                                        @Html.Sitecore().Field("Forgot username", Model.Item)
                                                    </li>
                                                    <li>
                                                        @Html.Sitecore().Field("Forgot password", Model.Item)
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-element">
                                    <div class="radio">
                                        <input type="radio" name="loginType" id="radio2" value="@Gasag.Web.Models.TariffCalculator.LoginType.ExistingCustomerWithoutAccess">
                                        <label for="radio2">@Html.Sitecore().Field("Existing customer without access", Model.Item)</label>
                                    </div>
                                </div>
                                <div class="form-element">
                                    <div class="radio">
                                        <input type="radio" name="loginType" id="radio3" value="@Gasag.Web.Models.TariffCalculator.LoginType.NewCustomer" checked>
                                        <label for="radio3">@Html.Sitecore().Field("New customer", Model.Item)</label>
                                    </div>
                                </div>
                            </div>
                            <div class="tariff-login-form-submit form-element">
                                @Html.Sitecore().Field("Cancel", Model.Item, new { @class = "btn btn-cancel" })
                                <input type="submit" class="btn btn-primary" value="@Model.Item["Continue"]">
                            </div>
                        </form>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="tariff-login-text">
                        @Html.Sitecore().Field("Text", Model.Item)
                    </div>
                </div>
            </div>
        </div>
    }
    else if (Sitecore.Context.PageMode.IsExperienceEditor)
    {
        @PageEditor.Error("PageEditor.Error.MissingDataItem", new { Module = RenderingContext.CurrentOrNull.Rendering.RenderingItem.Name })
    }
}
catch (Exception ex)
{
    @PageEditor.Exception(RenderingContext.CurrentOrNull.Rendering.RenderingItem.Name, ex)
}