﻿@using Sitecore.Mvc.Presentation
@model Gasag.Web.Models.TariffCalculator.TariffsSelection

@try
{
    if (Model.Item != null)
    {
        <div class="tariff-calculator-results" app-view="ModuleTariffResultView" data-elements="@Model.Tariffs.Count">
            @Html.Partial("/Views/TariffCalculator/Pagination.cshtml", Model)
            @if (Model.Tariffs == null || Model.Tariffs.Count == 0)
            {
                <div class="row">
                    <div class="col-lg-6 col-lg-offset-3">
                        @Html.Sitecore().Field("No products found", Model.Item)
                    </div>
                </div>
            }
            else if (Model.Tariffs.Count == 1)
            {
                <div class="row">
                    <div class="col-lg-6 col-lg-offset-3">
                        @Html.Partial("/Views/TariffCalculator/Tariff.cshtml", Model.Tariffs[0])
                    </div>
                </div>
            }
            else
            {
                var column = Model.Tariffs.Count == 2 ? 6 : 4;
                <div class="row slide" app-view="HelperEqualHeightView" data-selector=".tariff-content">
                    @foreach (var tariff in Model.Tariffs.OrderBy(x => x.PricePerYear))
                    {
                        <div class="col-lg-@column">
                            @Html.Partial("/Views/TariffCalculator/Tariff.cshtml", tariff)
                        </div>
                    }
                </div>
            }

            @Html.Partial("/Views/TariffCalculator/Pagination.cshtml", Model)

            <div class="tariff-new-calc">
                <div class="row">
                    <div class="col-lg-6 col-lg-offset-3">
                        @*@using (Html.BeginForm())
                        {
                            @Shared.GenerateValidationToken(Html.Sitecore())
                            <div class="row">
                                <div class="col-lg-4">
                                    <div class="form-element">
                                        <label for="zip">@Html.Sitecore().Field("Zip code", Model.Item)</label>
                                        <input type="text" id="zip" name="zip" value="@Model.Calculator.Zip" />
                                        @if (!string.IsNullOrWhiteSpace(Model.Calculator.ZipErrorMessage))
                                        {
                                            <p class="text-error">@Model.Calculator.ZipErrorMessage</p>
                                        }
                                    </div>
                                </div>

                                <div class="col-lg-4">
                                    <div class="form-element">
                                        <label for="consumption">@Html.Sitecore().Field("Consumption", Model.Item)</label>
                                        <input type="number" id="consumption" name="consumption" value="@Model.Calculator.Consumption" />
                                    </div>
                                </div>

                                <div class="col-lg-4">
                                    <div class="form-element">
                                        @{
                                            string measurementField = "Persons in household";
                                            if (Model.Calculator.Division == Sitecore.Configuration.Settings.GetSetting("TariffCalculator.Division.NaturalGas"))
                                            {
                                                measurementField = "Living space";
                                            }
                                        }
                                        <label for="space">@Html.Sitecore().Field(measurementField, Model.Item)</label>
                                        <input type="number" id="space" name="measurement" value="75" />
                                    </div>
                                </div>
                            </div>
                            <input type="hidden" name="nextPage" value="@Model.Calculator.NextPage" />
                            <input type="hidden" name="division" value="@Model.Calculator.Division" />
                            <input type="hidden" name="type" value="@Model.Calculator.Type" />
                            <div class="form-element">
                                <input type="submit" class="btn btn-link" value="@Model.Item["Recalculate"]">
                            </div>
                        }*@
                        <div class="form-element">
                            <a href="@Model.EntryCalculatorPage" class="btn btn-link">@Html.Sitecore().Field("Recalculate", Model.Item)</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
    else if (Sitecore.Context.PageMode.IsExperienceEditor)
    {
        @PageEditor.Error("PageEditor.Error.MissingDataItem", new { Module = RenderingContext.CurrentOrNull.Rendering.RenderingItem.Name })
    }
}
catch (Exception ex)
{
    @PageEditor.Exception(RenderingContext.CurrentOrNull.Rendering.RenderingItem.Name, ex)
}