﻿@model Sitecore.Mvc.Presentation.RenderingModel

@try
{
    if (Model.Item != null)
    {
        var link = ScValue.GetLink(Model.Item, "Link");
        var url = ScLink.GetUrl(link);
        var uri = new Uri(ScLink.GetUrl(link, true)); // Important: Uri class needs absolute urls.
        var getParams = HttpUtility.ParseQueryString(uri.Query);

        <div class="row row-section module-form" app-view="FormElementsView">
            <div class="col-lg-12">
                <form action="@url" target="@link.Target">
                    @foreach (var key in getParams.AllKeys)
                    {
                        <input type="hidden" name="@key" value="@getParams[key]" />
                    }
                    <div class="form-element">
                        <input type="submit" class="btn btn-primary" value="@ScValue.GetString(Model.Item, "Label")">
                    </div>
                </form>
            </div>
        </div>
    }
    else if (Sitecore.Context.PageMode.IsExperienceEditor)
    {
        @PageEditor.Error("PageEditor.Error.MissingDataItem", new { Module = Model.Rendering.RenderingItem.Name })
    }
}
catch (Exception ex)
{
    @PageEditor.Exception(Model.Rendering.RenderingItem.Name, ex)
}