
@import (reference) "../../variables";

//
// Module: Contact Person
// ----------------------
//
// Example:
// #page-content .module-contact-person a { color: green; }

//
// Color setup overview
// --------------------

@color-contact-person-strong-text: @color-text-default;

// When it shall be usable everywhere just remove #page-content and move the file to modules/common.
.module-contact-person {
	margin-left: 0;
	margin-right: 0;
	background-color: @color-corporate-gray-light;

	> .col-lg-3 {
		padding: 0;
	}

	.image-holder {
		position: relative;
		overflow: hidden;

		img {
			height: 100%;
			left: 50%;
			position: relative;
			text-align: center;
			top: 0;
			transform: translate(-50%, 0);
		}

		@media @media-to-m {
			display: none;
		}
	}

	.col-lg-9 {
		padding: @spacing-default;
	}

	p {
		margin: 0;

		&.headline {
			color: @color-corporate-blue-dark;
			font-size: @font-size-os-ml;
			margin-bottom: @spacing-default;

			@media @media-to-m {
				font-size: @font-size-os-m;
			}
		}

		&.strong {
			font-weight: 700;
		}
	}

	.btn-cancel {
		margin: 0;
		padding: 0 0 0 @spacing-small;
	}

	ul.list-group {
		margin-top: -@spacing-tiny;
	}

	@media @media-to-m {
		.col-lg-6, .col-lg-9 {
			width: 100%;
		}
	}
}
