
@import (reference) "../../variables";

//
// Module: Events Teaser
// ----------------------
//

.module-events-teaser {

	.count {
		border-bottom: 2px solid @color-corporate-blue-light;
		color: @color-corporate-gray-dark;
		margin-bottom: @spacing-tiny;
		padding-bottom: @spacing-small - @spacing-atomic;

		strong {
			color: @color-corporate-gray-dark;
		}
	}

	.events-teaser {
		background-color: @color-corporate-gray-light;
		display: block;
		height: 100%;
		margin: 10px 0;
		overflow: hidden;

		&:hover {
			background-color: @color-corporate-gray-light-hover;
			text-decoration: none;
		}

		.img-holder {
			float: left;
			height: 300px;
			margin-right: @spacing-default;
			overflow: hidden;
			width: calc(~'100% / 3');
			position: relative;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;

			@media @media-to-m {
				width: 100%;
				float: none;
			}

			img {
				left: 50%;
				position: absolute;
				text-align: center;
				top: 50%;
				transform: translate(-50%, -50%);
				width: auto;
				height: auto;
				max-height: 100%;
				max-width: none;
				min-height: 100%;
				min-width: 100%;
			}
		}

		.content {
			box-sizing: border-box;
			padding: @spacing-default - @spacing-atomic @spacing-default;

			.date {
				margin: 0 0 @spacing-tiny;
				.place {
					font-weight: bold;
					margin-left: 4px;
				}
			}

			h2 {
				font-size: @font-size-os-ml;
				margin: 0 0 @spacing-default - @spacing-tiny;

				@media @media-to-m {
					max-height: 100%;
					overflow: visible;
					display: block;
				}
			}

			.desc {
				margin: 0;

				@media @media-to-m {
					max-height: 100%;
					overflow: visible;
					display: block;
				}
			}
		}
	}

	.load-more-holder {
		margin: @spacing-large 0;
		text-align: center;
	}

	.col-lg-6 {
		@media @media-to-l {
			width: 100%;
		}
	}
}
