
@import (reference) "../../variables";

//
// Module: Image Text Teaser
// ----------------------
//

.module-image-text-teaser {

	.count {
		border-bottom: 2px solid @color-corporate-blue-light;
		color: @color-corporate-gray-dark;
		margin-bottom: @spacing-tiny;
		padding-bottom: @spacing-small - @spacing-atomic;

		strong {
			color: @color-corporate-gray-dark;
		}
	}

	.image-text-teaser {
		background-color: @color-corporate-gray-light;
		display: block;
		height: 100%;
		margin: 10px 0;
		overflow: hidden;
		position: relative;
		
		a {
			display: block;
			height: 100%;
			&:hover {
				text-decoration: none;
				background-color: @color-corporate-gray-light-hover;
			}
		}

		.img-holder {
			height: 200px;
			overflow: hidden;
			width: 100%;
			position: relative;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;

			img {
				left: 50%;
				position: absolute;
				text-align: center;
				top: 50%;
				transform: translate(-50%, -50%);
				width: auto;
				height: auto;
				max-height: none;
				max-width: 100%;
				min-height: 100%;
				min-width: 100%;
			}
		}

		.content {
			box-sizing: border-box;
			padding: @spacing-default - @spacing-atomic @spacing-default;

			.category {
				font-size: @base-font-size;
				margin: 0 0 @spacing-tiny;
			}

			h2 {
				font-size: @font-size-os-ml;
				margin: 0 0  @spacing-default - @spacing-tiny;

				@media @media-to-m {
					max-height: 100%;
					overflow: visible;
					display: block;
				}
			}

			.desc {
				margin: 0;
				overflow: hidden;
				text-overflow: ellipsis;
				display: -webkit-box;
				line-height: 1.6;     /* fallback */
				max-height: 4.8em;      /* fallback */
				-webkit-line-clamp: 3; /* max number of lines to show */
				-webkit-box-orient: vertical;
			}
		}
	}

	.load-more-holder {
		margin: @spacing-large 0;
		text-align: center;
	}

	.col-lg-3 {
		@media @media-to-l {
			width: 50%;
		}
		@media @media-to-m {
			width: 100%;
		}
	}
}
