
@import (reference) "../../variables";

//
// Module: Jobs Teaser
// ----------------------
//

.module-jobs-teaser {

	.count {
		border-bottom: 2px solid @color-corporate-blue-light;
		color: @color-corporate-gray-dark;
		margin-bottom: @spacing-tiny;
		padding-bottom: @spacing-small - @spacing-atomic;

		strong {
			color: @color-corporate-gray-dark;
		}
	}

	.jobs-teaser {
		background-color: @color-corporate-gray-light;
		display: block;
		height: 100%;
		margin: 10px 0;
		overflow: hidden;
		position: relative;

		&:hover {
			background-color: @color-corporate-gray-light-hover;
			text-decoration: none;
		}

		.content {
			box-sizing: border-box;
			padding: @spacing-default - @spacing-atomic @spacing-default @spacing-apart + @spacing-default;

			.category {
				margin: 0 0 @spacing-tiny;
				span {
					font-weight: bold;
					margin-left: 4px;
				}
			}

			h2 {
				font-size: @font-size-os-ml;
				margin: 0;

				@media @media-to-m {
					max-height: 100%;
					overflow: visible;
					display: block;
				}
			}

			img {
				max-height: 55px;
				width: auto;
				position: absolute;
				left: @spacing-default;
				bottom: @spacing-default;
			}
		}
	}

	.load-more-holder {
		margin: @spacing-large 0;
		text-align: center;
	}

	.col-lg-6 {
		@media @media-to-l {
			width: 100%;
		}
	}
}
