
@import (reference) "../../variables";
@import (reference) "../../mixins/helpers";
@import (reference) "../../fonts/icon-font";


figure.labeled-image {
	margin: 0;

	img {
		width: 100%;
		height: auto;
	}

	figcaption {
		color: @grey-dark-2;
		font-size: @font-size-os-xs;
		line-height: 1.5;
		margin: @spacing-tiny 0 @spacing-atomic-tiny;
	}

	.lightbox {
		display: block;
		position: relative;
		.icon(@icon-zoom);

		&:before {
			bottom: @spacing-tiny;
			color: @white;
			opacity: 0;
			position: absolute;
			right: @spacing-tiny;
			z-index: 2;
			.transitions(0.6s);
		}

		&:after {
			content: '';
			height: 100%;
			width: 100%;
			position: absolute;
			left: 0;
			top: 0;
			background-color: @black;
			opacity: 0;
			z-index: 1;
			.transitions(0.6s);
		}

		&:hover {
			&:before {
				opacity: 0.6;
			}

			&:after {
				opacity: 0.4;
			}
		}
	}
}
