@import (reference) "../../variables";

//
// Module: News Teaser
// ----------------------
//

.module-news-teaser {

	.count {
		border-bottom: 2px solid @color-corporate-blue-light;
		color: @color-corporate-gray-dark;
		margin-bottom: @spacing-tiny;
		padding-bottom: @spacing-small - @spacing-atomic;

		strong {
			color: @color-corporate-gray-dark;
		}
	}

	.news-teaser {
		background-color: @color-corporate-gray-light;
		display: block;
		height: 100%;
		margin: 10px 0;
		overflow: hidden;

		&:hover {
			background-color: @color-corporate-gray-light-hover;
			text-decoration: none;
		}

		.img-holder {
			float: left;
			height: 300px;
			margin-right: @spacing-default;
			overflow: hidden;
			width: calc(~'100% / 3');
			position: relative;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;

			@media @media-to-m {
				width: 100%;
				float: none;
			}

			img {
				left: 50%;
				position: absolute;
				text-align: center;
				top: 50%;
				transform: translate(-50%, -50%);
				width: auto;
				height: auto;
				max-height: 100%;
				max-width: none;
				min-height: 100%;
				min-width: 100%;
			}
		}

		.content {
			box-sizing: border-box;
			padding: @spacing-default - @spacing-atomic @spacing-default;

			.date {
				margin: 0 0 @spacing-tiny;
				.category {
					font-weight: bold;
					margin-left: 4px;
				}
			}

			h2 {
				font-size: @font-size-os-ml;
				margin: 0;

				@media @media-to-m {
					max-height: 100%;
					overflow: visible;
					display: block;
				}
			}

			.desc {
				margin: @spacing-default - @spacing-tiny 0 0;

				@media @media-to-m {
					max-height: 100%;
					overflow: visible;
					display: block;
				}
			}
		}
	}

	.load-more-holder {
		margin: @spacing-large 0;
		text-align: center;
	}

	.col-lg-6 {
		@media @media-to-l {
			width: 100%;
		}
	}

	&.news-teaser-slider {
		position: relative;

		.news-teaser-holder {
			padding-bottom: 80px;

			.slick-arrow {
				background-color: @color-corporate-blue-dark;
				border: none;
				bottom: 0;
				color: @white;
				cursor: pointer;
				display: inline-block;
				height: 60px;
				left: 50%;
				margin-left: -100px;
				line-height: inherit;
				outline: none;
				position: absolute;
				text-indent: -9999px;
				transform: translate(-50%, 0%);
				width: 60px;
				z-index: 10;
				.icon(@icon-chevron-left);

				&.slick-next {
					left: 50%;
					margin-left: 100px;
					.icon(@icon-chevron-right);
				}

				&.slick-disabled {
					opacity: 0.5;
					cursor: default;
				}

				&:before {
					font-size: 27px;
					left: 50%;
					position: absolute;
					text-align: center;
					text-indent: 0;
					top: 50%;
					transform: translate(-50%, -50%);
				}
			}
		}

		.count-slider {
			border-bottom: none;
			bottom: 0;
			color: @white;
			font-size: 21px;
			font-weight: bold;
			height: 47px;
			left: 50%;
			line-height: 30px;
			outline: none;
			position: absolute;
			text-align: center;
			vertical-align: top;
			transform: translate(-50%, 0%);

			span {
				color: @white;
			}
		}
	}
}
