
@import (reference) "../../variables";
@import (reference) "../../mixins/align-first-element";
@import (reference) "../../mixins/maintain-ratio";

//
// Color setup overview
// --------------------

@color-teaser-default-background: @color-corporate-blue-dark;
@color-teaser-default-headline: @color-corporate-white;
@color-teaser-default-text:  @color-corporate-blue-light;

@color-teaser-anchor-background: @color-background-default;
@color-teaser-anchor-headline: @color-headline-default;


.module-related-content-teaser {
	@media @media-to-m {
		.col-lg-6 {
			width: 100%;

			&:first-child {
				margin-bottom: @spacing-small;
			}
		}
	}

	.canvas-box {
		margin-bottom: @spacing-tiny;
	}

	.teaser {
		display: block;

		// Desired offset + button height + button offset.
		@padding-bottom: @spacing-default + @size-button-primary + @spacing-tiny;

		position: relative;

		height: 100%;

		padding: @spacing-default @spacing-default @padding-bottom;
		margin-bottom: @spacing-small;

		color: @color-teaser-default-text;
		background-color: @color-teaser-default-background;

		&:hover {
			text-decoration: none;
		}

		&:last-child {
			margin-bottom: 0;
		}

		&.teaser-default {
			.align-first-element();

			a {
				color: @color-teaser-default-text;
				&:hover {
					text-decoration: none;
				}
			}

			h3 {
				margin: @spacing-tiny 0;
			}

			p {
				margin-bottom: 0;
			}

			span.teaser-fake-anchor {
				top: auto;
				bottom: @spacing-tiny;
			}
		}

		&.teaser-image {
			overflow: hidden;
			padding: 0;

			.teaser-image-shader {
				position: absolute;
				top: 0;
				right: 0;
				bottom: 0;
				left: 0;

				background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 50%,rgba(0, 0, 0, 0.65) 100%);
			}

			h3 {
				position: absolute;
				right: @spacing-default;
				bottom: @spacing-default;
				left: @spacing-default;

				margin-bottom: 0;
			}
		}

		h3 {
			color: @color-teaser-default-headline;
		}

		p {
			color: @color-teaser-default-text;
		}

		span.teaser-fake-anchor {
			position: absolute;
			right: @spacing-tiny;
			top: @spacing-tiny;

			display: block;
			width: @size-button-primary;
			height: @size-button-primary;

			outline: none;

			&:hover {
				text-decoration: none;
			}

			span {
				color: @color-teaser-anchor-background;
				font-size: @size-button-primary;
			}
		}
	}
}
