
@import (reference) "../header/setup";
@import (reference) "../../variables";
@import (reference) "../../fonts/icon-font";

.module-sidebar {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	z-index: 4;

	display: none;

	width: 25%; // Equals 3 of 12 columns.

	padding-left: @spacing-small;

	background-color: @color-header-menu-background-level-3;

	&:before {
		content: '';

		position: absolute;
		top: 0;
		right: 100%;
		bottom: 0;
		left: -10000px; // Enough for every 4k screen.

		background-color: @color-header-menu-background-level-3;
	}

	@media @media-from-l {
		display: block;
	}

	h3 {
		color: @color-header-menu-text-active;
	}

	ul.sidebar-nav-level {
		padding: 0;
		margin: 0;

		> li {
			display: block;
			float: none;

			a, span {
				position: relative;

				display: block;
				min-height: @spacing-large + @spacing-atomic;

				padding-top: 10px;
				padding-bottom: 10px;

				color: @color-header-menu-text-sidebar;
				font-size: @font-size-os-s;

				border-bottom: 1px solid @color-header-menu-border-level-3-block;

				transition: color @transition-duration-default;

				&:hover {
					color: @color-header-menu-text-active;
					text-decoration: none;
				}
			}

			span {
				cursor: pointer;
				.icon(@icon-chevron-small-right);

				&:before {
					position: absolute;
					top: 17px;
					left: -@spacing-small;

					color: @color-header-menu-text-icon;
					font-size: 15px;
				}
			}

			&.active {
				> span {
					color: @color-header-menu-text-active;

					.icon(@icon-chevron-small-down);
				}

				> a {
					color: @color-header-menu-text-active;
				}

				> ul.sidebar-nav-level {
					display: block;
				}
			}
		}
	}

	ul.sidebar-nav-level-1 {
		margin-bottom: @spacing-offset;

		> li {
			> a, span {
				margin-left: @spacing-small;
			}
		}

		ul.sidebar-nav-level {
			display: none;
		}
	}

	ul.sidebar-nav-level-2 > li {
		> a, span {
			margin-left: @spacing-small * 2;
		}
	}

	ul.sidebar-nav-level-3 > li {
		> a, span {
			margin-left: @spacing-small * 3;
		}
	}
}
