
@import (reference) "../../variables";
@import (reference) "../../mixins/align-first-element";


//
// Module: Social Share Privacy
// --------------------------
//

.module-share {
	.share {
		.clearfix();
		text-align: center;
		.line {
			height: auto;
			li {
				margin: 10px 0 !important;
				display: inline-block;
				float: none;
				.dummy_btn {
					margin: 0 70px 0 10px;
					font-size: 16px;
					line-height: 1;
					text-align: left;
					width: auto;

					.xing_privacy_dummy {
						margin: 0;
					}
				}

				&.help_info.xing {
					.info {
						right: 0;
						left: auto;
					}
				}

				&.settings_info {
					> div {
						min-width: 10px;
					}

					.info {
						right: 0;
						left: auto;
					}
				}
			}
		}
	}

}