
@import (reference) "../../variables";

#page-content {
	.module-stage-small {
		@media @media-from-l {
			> .container > .row > .col-lg-6 {
				&:first-child {
					display: none;
				}

				&:last-child {
					margin-left: 50%;
				}
			}
		}
	}
}
