
@import (reference) "../../variables";
@import (reference) "../../mixins/align-first-element";


//
// Module: Image & Text-Image
// --------------------------
//

.module-content-image,
.module-content-text-image {
	.col-lg-4 {
		max-width: 300px;
	}

	.col-lg-8 {
		.align-first-element();
	}


	@media @media-to-l {
		> div:first-child {
			margin-bottom: @spacing-default;
		}

		.col-lg-4,
		.col-lg-8 {
			width: 100%;
		}
	}
}

#page-home{

	.module-content-text-image{

		@media @media-to-l{
			> div:first-child {
				margin-bottom: 0;
			}
		}

		.col-lg-4 {
			background-color: transparent;
			max-width: 100%;

			.text{
				background-color: @white;
				padding: 1px @spacing-atomic-tiny @spacing-tiny;

				h3{
					margin: @spacing-small 0;
					padding: 0 @spacing-tiny;

					& + .subline{
						margin-top: -20px;

						@media @media-to-m{
							font-size: @font-size-os-s;
						}
					}
				}

				.subline{
					margin-bottom: @spacing-atomic-tiny;
					padding: 0 @spacing-tiny;
				}

				p{
					padding: 0 @spacing-tiny;
				}

				a{
					display: inline-block;
					font-weight: bold;
					margin-bottom: @spacing-small;
					padding: 0 @spacing-tiny;
					text-decoration: underline;
				}

				.list-group{
					border-top: none;
					margin-bottom: @spacing-tiny;
					padding-left: @spacing-tiny;

					li{
						padding: 2px 0 2px @spacing-atomic;

						a{
							margin-bottom: 0;
						}
					}
				}
			}
		}

		.col-lg-8{
			background-color: transparent;
			padding: 0 @spacing-tiny;

			.video{
				position: relative;
				padding-bottom: 56.25%; /* 16:9 */
				height: 0;

				video,
				iframe{
					background-color: @white;
					position: absolute;
					top: 0;
					left: 0;
					width: 100%;
					height: 100%;
				}
			}
		}
	}
}
