
@import (reference) "../../variables";

//
// Module: Video
// ----------------------
//

.module-video {
	.panel-body {
		position: relative;
		padding-bottom: 56.25%; /* 16:9 */
		height: 0;

		background-size: cover;

		iframe,
		video{
			background-color: @white;
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
		}
	}
}
