﻿@model Sitecore.Mvc.Presentation.RenderingModel

@try
{
    if (Model.Item != null)
    {
        <div class="row row-section module-bullet-list">
            @if (Model.Item.Children.Any())
            {
                var widthClass = "col-lg-6";
                if (Model.Item.Children.Count() == 1)
                {
                    widthClass = "col-lg-12";
                }

                foreach (Item list in Model.Item.Children)
                {
                    <div class="@widthClass">
                        @using (Html.EditFrame(list, "Bullet Points List"))
                        {
                            <h4>@Html.Sitecore().Field("Title", list)</h4>
                            <ul class="bullet-list bullet-list-@ScValue.GetString(list,"type")">
                                @foreach (Item firstLevelBullet in list.Children)
                                {
                                    using (Html.EditFrame(firstLevelBullet, "Bullet Point"))
                                    {
                                        <li>
                                            <span class="text-default">
                                                @*@Html.Sitecore().Field("Value", firstLevelBullet)*@
                                                @ScValue.GetHtml(firstLevelBullet, "Value")
                                            </span>
                                        </li>
                                    }
                                    if (firstLevelBullet.Children.Any())
                                    {
                                        <li class="list-item-plain">
                                            <ul class="bullet-list bullet-list-@ScValue.GetString(list,"type")">
                                                @foreach (Item secondLevelBullet in firstLevelBullet.Children)
                                                {
                                                    using (Html.EditFrame(secondLevelBullet, "Bullet Point"))
                                                    {
                                                        <li>
                                                            <span class="text-default">
                                                                @*@Html.Sitecore().Field("Value", secondLevelBullet)*@
                                                                @ScValue.GetHtml(secondLevelBullet, "Value")
                                                            </span>
                                                        </li>
                                                    }
                                                    if (secondLevelBullet.Children.Any())
                                                    {
                                                        <li class="list-item-plain">
                                                            <ul class="bullet-list bullet-list-@ScValue.GetString(list,"type")">
                                                                @foreach (Item thirdLevelBullet in secondLevelBullet.Children)
                                                                {
                                                                    using (Html.EditFrame(thirdLevelBullet, "Bullet Point"))
                                                                    {
                                                                        <li>
                                                                            <span class="text-default">
                                                                                @*@Html.Sitecore().Field("Value", thirdLevelBullet)*@
                                                                                @ScValue.GetHtml(thirdLevelBullet, "Value")
                                                                            </span>
                                                                        </li>
                                                                    }
                                                                }
                                                            </ul>
                                                        </li>
                                                    }
                                                }
                                            </ul>
                                        </li>
                                    }
                                }
                            </ul>
                        }
                    </div>
                }
            }
            else
            {
                @PageEditor.Warning("PageEditor.Error.BulletPointsNoChildren")
            }
        </div>
    }
    else
    {
        @PageEditor.Error("PageEditor.Error.MissingDataItem", new { Module = Model.Rendering.RenderingItem.Name })
    }
}
catch (Exception ex)
{
    @PageEditor.Exception(Model.Rendering.RenderingItem.Name, ex)
}

