﻿@model Sitecore.Mvc.Presentation.RenderingModel

@try
{
    if (Model.Item != null)
    {
        var fileTemplate = ScReference.Instance().GetItem("File Download").ID;
        var children = ScValue.GetItems(Model.Item, "Downloads");

        if (Sitecore.Context.PageMode.IsExperienceEditor || children.Any())
        {
            var componentWidthItem = ScValue.GetItem(Model.Item, "Component Width");
            string componentWidth = componentWidthItem != null ? ScValue.GetString(componentWidthItem, "Value") : "col-lg-12";

            <div class="module-download-list @componentWidth">
                <h3>@Html.Sitecore().Field("Headline")</h3>

                @if (children.Any())
                {
                    <ul class="list-group">
                        @foreach (Item child in children)
                        {
                            <li>
                                @if (child.TemplateID == fileTemplate)
                                {
                                    var fileItem = ScValue.GetFile(child, "File");
                                    var url = ScLink.GetUrl(fileItem);

                                    <a href="@url" class="link-download" target="_blank">
                                        <span class="list-item-info">@((fileItem.Extension ?? string.Empty).ToUpperInvariant()) @StringUtil.SizeWithUnit(fileItem.Size)</span>
                                        @Html.Sitecore().Field("Title", child)
                                    </a>
                                }
                                else
                                {
                                    @PageEditor.Error("PageEditor.Error.WrongItem", new { Field = "File", Module = Model.Rendering.RenderingItem.Name }, false)
                                }
                            </li>
                        }
                    </ul>
                }
                else
                {
                    @PageEditor.Error("PageEditor.Error.FieldNotSet", new { Field = "Downloads", Module = Model.Rendering.RenderingItem.Name })
                }
            </div>
        }
    }
    else if (Sitecore.Context.PageMode.IsExperienceEditor)
    {
        @PageEditor.Error("PageEditor.Error.MissingDataItem", new { Module = Model.Rendering.RenderingItem.Name })
    }
}
catch (Exception ex)
{
    @PageEditor.Exception(Model.Rendering.RenderingItem.Name, ex)
}