﻿@model Sitecore.Mvc.Presentation.RenderingModel

@try
{
    if (Model.Item != null)
    {
        if (Sitecore.Context.PageMode.IsExperienceEditor || Model.Item.Children.Any())
        {
            var componentWidthItem = ScValue.GetItem(Model.Item, "Component Width");
            string componentWidth = componentWidthItem != null ? ScValue.GetString(componentWidthItem, "Value") : "col-lg-12";

            <div class="module-link-list @componentWidth">
                <h3>@Html.Sitecore().Field("Headline")</h3>

                @if (Model.Item.HasChildren)
                {
                    <ul class="list-group list-group-default">
                        @foreach (Item child in Model.Item.Children)
                        {
                            <li>
                                @using (Html.EditFrame(child, "Link"))
                                {
                                    @Html.Sitecore().BeginField("Link", child, new { haschildren = true, text = " " })
                                        @Html.Sitecore().Field("Description", child)
                                    @Html.Sitecore().EndField()
                                }
                            </li>
                        }
                    </ul>
                }
                else
                {
                    @PageEditor.Error("PageEditor.Error.MissingChildren", new { Module = Model.Rendering.RenderingItem.Name })
                }
            </div>
         }
    }
    else if (Sitecore.Context.PageMode.IsExperienceEditor)
    {
        @PageEditor.Error("PageEditor.Error.MissingDataItem", new { Module = Model.Rendering.RenderingItem.Name })
    }
}
catch (Exception ex)
{
    @PageEditor.Exception(Model.Rendering.RenderingItem.Name, ex)
}
