
@import (reference) "setup";
@import (reference) "../../variables";
@import (reference) "../../fonts/icon-font";


header {
	.header-desktop {
		display: none;

		@media @media-from-l {
			display: block;
		}

		.header-company {
			background-color: @color-corporate-blue-dark;
			background-position: center center;
			background-repeat: no-repeat;
			background-size: cover;
			height: @height-header-core;
			line-height: @height-header-core;

			.logo-small {
				display: none;

				@media @media-to-xl {
					display: inline-block;
				}
			}

			ul.header-company-links {
				float: right;

				li {
					margin-left: @spacing-large - @spacing-atomic;

					&:first-child {
						margin-left: 0;
					}

					&:last-child {
						margin-left: @spacing-largest;
					}

					&:hover a {
						color: @color-highlight-orange;
						text-decoration: none;
					}

					&.active a {
						color: @white;
						text-decoration: none;
					}

					&.active a {
						border-top-color: @white;
					}

					a {
						border-top: 4px solid transparent;
						color: @white;
						display: inline-block;
						font-size: @base-font-size-os;
						font-weight: 700;
						height: @height-header-core;
						padding-top: 5px;

						span {
							display: block;

							color: @color-corporate-gray-medium;
							font-size: @font-size-os-xs;
							font-weight: 600;
							line-height: 1;
						}
					}
				}
			}
		}

		.header-navigation {
			background-color: @color-header-navbar-default-background;
			height: @height-header-nav;

			.container {
				position: relative; // For the sidebar only.
			}

			ul.navbar {
				float: left;

				&.navbar-right {
					float: right;

					li {
						margin-right: 0;
					}
				}

				li {
					position: relative;
					margin-right: @spacing-large;

					@media @media-to-xl {
						margin-right: @spacing-tiny;
					}

					a {
						font-size: @font-size-os-s;
						background-color: @color-corporate-blue-medium;
						cursor: pointer;
						&:hover {
							color: @color-corporate-blue-light;
						}
					}

					&:last-child {
						margin-right: 0;
					}

					&:hover ul.menu {
						display: block;
					}

					&:hover a,
					&.active a {
						color: @white;
						background-color: @color-header-navbar-hover-background-default;
						text-decoration: none;
					}

					&.logo-container {
						position: relative;
						width: 180px;
						height: @height-header-nav;
						margin-right: @spacing-large;

						@media @media-to-xl {
							display: none;
						}

						a {
							bottom: 0;
							left: 0;
							padding: 0;
							position: absolute;
						}
					}

					&.electricity:hover a,
					&.electricity.active a {
						background-color: @color-header-navbar-hover-background-electricity;
					}

					&.natural-gas:hover a,
					&.natural-gas.active a {
						background-color: @color-header-navbar-hover-background-natural-gas;
					}

					&.warmth:hover a,
					&.warmth.active a {
						background-color: @color-header-navbar-hover-background-warmth;
					}
				}
			}

			ul.menu {
				position: absolute;
				top: @height-header-nav;
				left: 0;
				z-index: 5;

				display: none;

				background-color: @color-header-menu-background-level-2;

				list-style: none;

				li {
					display: block;
					width: 100%;

					&:first-child a {
						margin-top: @spacing-tiny;
					}

					&:last-child a {
						margin-bottom: @spacing-default + @spacing-atomic;
					}

					a {
						display: block;

						height: @height-header-nav - @spacing-atomic;
						line-height: @height-header-nav - @spacing-atomic;

						padding: 0 @spacing-default;

						white-space: nowrap;

						transition: color @transition-duration-default;

						&:hover {
							color: @color-header-navbar-light-text;
						}
					}
				}
			}
		}
	}
}
