
@import (reference) "../../variables";
@import (reference) "setup";

@import "desktop";
@import "mobile";


header {
	background-color: @color-header-main-default-background;

	&.header-no-company-links ul.header-company-links {
		display: none;
	}

	&.header-no-navigation {
		.header-navigation {
			display: none;
		}

		.header-desktop {
			.header-company {
				.logo-small {
					display: inline-block;
				}
			}
		}
	}

	&.header-no-company-links,
	&.header-no-navigation {
		.header-menu-container {
			display: none;
		}

		.header-desktop {
			.header-company {
				.logo-small {
					display: inline-block;
				}
			}
		}
	}

	a {
		outline: none;
	}

	ul {
		list-style: none;
		margin: 0;
		padding: 0;

		&.navbar {
			li {
				> a {
					display: inline-block;
					line-height: @height-header-nav;

					padding: 0 @spacing-small;

					color: @color-header-navbar-default-text;
					font-size: @font-size-m;

					transition: background-color @transition-duration-default;

					span {
						color: inherit;

						&.icon-lock,
						&.icon-phone {
							font-size: 19px;
						}

						&.icon-search {
							font-size: 18px;
						}

						&.icon-hashtag {
							font-weight: 600;
							font-size: @font-size-os-m;
							font-family: @base-font-family !important;
						}
					}
				}

				&.navbar-icon {
					position: relative;
					float: left;
					margin-right: 0;

					&.active {
						background-color: @color-header-navbar-hover-background-default;
					}

					> a {
						width: @size-button-primary;
						text-align: center;
						text-decoration: none;
					}

					.modal {
						top: @height-header-nav;
					}
				}
			}
		}

		li {
			display: inline-block;
			float: left;

			&:last-child {
				margin-right: 0;
			}
		}
	}

	a.logo {
		display: inline-block;
	}
}
