
@import (reference) "setup";
@import (reference) "../../variables";
@import (reference) "../../fonts/icon-font";
@import (reference) "../../mixins/sizing";


header .header-mobile {
	background-color: @color-corporate-blue-dark;
	display: none;

	@media @media-to-l {
		display: block;
	}

	.header-combined {
		height: @height-header-core-mobile;
		line-height: @height-header-core-mobile;

		.container {
			position: relative;
			padding: 0;
		}

		.header-menu-container {
			position: absolute;
			top: 0;
			right: 0;

			.header-menu-activator {
				position: absolute; // Must be absolute, too, or Firefox and Edge do strange things...
				top: 0;
				right: 0;

				.icon(@icon-menu);

				&.active {
					.icon(@icon-close2);

					&:before {
						line-height: @height-header-core-mobile; // Would be overwritten by the icon otherwise.
					}
				}

				&:before {
					position: absolute;
					top: 0;
					right: 0;

					display: inline-block;

					.square(@height-header-core-mobile);
					line-height: @height-header-core-mobile;

					text-align: center;
					font-size: 40px;

					color: @color-header-navbar-default-text;
					background-color: @color-header-navbar-default-background;
				}
			}

			.header-menu {
				position: absolute;
				top: @height-header-core-mobile;
				right: 0;

				z-index: 5; // Just a little bit above stage slider.

				display: none;
				width: @width-header-menu-mobile;

				@media @media-between-s-and-m {
					// Important:
					// Padding seems to disappear in web browsers, but this is only caused by the scroll bar
					// and thus okay for touch devices.
					// To test the mobile/touch look add overflow-y: hidden; to the body tag.
					width: 100vw;
					min-width: @screen-xs-min;
				}

				padding-top: @spacing-atomic-tiny;

				background-color: @color-header-menu-background-level-1;

				&.open {
					display: block;
				}

				.modal {
					padding-left: @spacing-small;
					padding-right: @spacing-small;
				}

				ul.header-nav-level {
					display: none;

					> li {
						position: relative;
						float: none;

						display: block;
						transition: background-color @transition-duration-default;

						&.active > ul.header-nav-level {
							display: block;
						}

						> a {
							display: block;
						}
					}
				}

				ul.header-nav-level-1 {
					display: block;

					> li {
						&.active {
							background-color: @color-header-navbar-hover-background-default;

							.header-nav-link {
								color: @color-header-navbar-default-text;

								span {
									color: inherit;
								}
							}
						}

						.header-nav-activator {
							height: @spacing-largest + @spacing-small;
						}

						&.inactive .header-nav-link {
							color: @color-header-navbar-light-text;
						}

						.header-nav-link {
							height: @spacing-largest + @spacing-small;

							padding: 13px @spacing-small; // Must be exactly 13px from top to look good.

							text-decoration: none;
							color: @color-header-navbar-default-text;

							span {
								display: block;
								color: @color-header-navbar-light-text;
								font-size: @font-size-s;

								transition: color @transition-duration-default;
							}
						}

						.header-nav-activator {
							position: absolute;
							top: 0;
							right: 0;
							bottom: 0;

							text-decoration: none;

							.icon(@icon-chevron-small-down);

							&:before {
								display: block;

								height: @spacing-larger - 1 * @spacing-atomic-tiny;
								line-height: @spacing-larger - 1 * @spacing-atomic-tiny;

								padding: 0 @spacing-atomic-tiny;
								margin-top: @spacing-atomic-tiny;

								color: @color-header-navbar-default-text;
								font-size: 13px;

								border-left: 1px solid @color-header-menu-border-level-2;
							}
						}
					}
				}

				ul.header-nav-level-2 {
					padding: @spacing-tiny 0;

					background-color: @color-header-navbar-default-background;

					// Header nav activators displayed as chevron boxes from now on.
					li {
						&.active > .header-nav-activator {
							.icon(@icon-chevron-small-up);

							&:before {
								line-height: @spacing-larger - 2 * @spacing-atomic-tiny;
							}
						}

						.header-nav-link,
						.header-nav-activator {
							height: @spacing-larger;
						}

						.header-nav-activator {
							position: absolute;
							top: 0;
							right: 0;
							bottom: 0;

							text-decoration: none;

							.icon(@icon-chevron-small-down);

							&:before {
								display: block;

								height: @spacing-larger - 2 * @spacing-atomic-tiny;
								line-height: @spacing-larger - 2 * @spacing-atomic-tiny;

								padding: 0 @spacing-atomic-tiny;
								margin-top: @spacing-atomic-tiny;

								color: @color-header-navbar-default-text;
								font-size: 13px;

								border-left: 1px solid @color-header-menu-border-level-2;
							}
						}
					}
				}

				// From level 3 to any below.
				ul.header-nav-level-3,
				ul.header-nav-level-4 {
					background-color: @color-header-menu-background-level-3;

					li .header-nav-link {
						height: auto;
						min-height: @spacing-larger;
						padding-left: 0;

						border-bottom: 1px solid @color-header-menu-border-level-3-block;
					}

					li {
						&.inactive .header-nav-link {
							color: @color-header-navbar-light-text;
						}

						.header-nav-activator:before {
							border-left-color: @color-header-menu-border-level-3;
						}
					}
				}

				ul.header-nav-level-3 {
					> li {
						&:last-child .header-nav-link {
							border-bottom-color: transparent;

							li .header-nav-link:last-child {
								border-bottom-color: transparent;
							}
						}

						.header-nav-link {
							// Causes links to not span across the full width, but the border shall stop there.
							margin-left: @spacing-small * 2; // Twice small spacing.
						}
					}
				}

				ul.header-nav-level-4 > li .header-nav-link {
					// Causes links to not span across the full width, but the border shall stop there.
					margin-left: @spacing-small * 3; // Three times small spacing.
				}
			}

			.navbar-wrapper {
				position: relative;

				height: @size-button-primary + 2; // +2 for Borders.
				margin: @spacing-atomic-tiny @spacing-small @spacing-default + @spacing-atomic;

				border-top: 1px solid @color-header-menu-border-level-2;
				border-bottom: 1px solid @color-header-menu-border-level-2;

				text-align: center;

				ul.navbar {
					display: inline-block;
					height: @size-button-primary;

					li {
						position: static;

						.active a {
							background-color: @color-header-navbar-hover-background-default;
						}
					}
				}

				.modal {
					right: -@spacing-small;
					left: -@spacing-small;
					width: auto;
				}
			}
		}
	}
}
