@import "../../variables";

//
// Header setup that is applied to all header breakpoints.
//

//
// Color setup overview
// --------------------

@color-header-main-default-background: @color-corporate-white;
@color-header-main-default-text: @color-text-default;

@color-header-main-hover-text: @color-text-primary;

@color-header-navbar-default-background: @color-corporate-blue-medium;
@color-header-navbar-default-text: @color-corporate-white;
@color-header-navbar-light-text: @color-corporate-blue-light;

@color-header-navbar-hover-background-default: @color-highlight-dark-blue;
@color-header-navbar-hover-background-electricity: @color-highlight-blue;
@color-header-navbar-hover-background-natural-gas: @color-highlight-green;
@color-header-navbar-hover-background-warmth: @color-highlight-orange;

@color-header-menu-text-default: @color-highlight-blue;
@color-header-menu-text-sidebar: @color-corporate-blue-light;
@color-header-menu-text-active: @color-corporate-white;
@color-header-menu-text-icon: @color-corporate-white;

@color-header-menu-background-level-1: @color-corporate-blue-medium;
@color-header-menu-background-level-2: @color-highlight-dark-blue;
@color-header-menu-background-level-3: @color-corporate-blue-dark;

@color-header-menu-border-level-2: @color-corporate-blue-light;
@color-header-menu-border-level-3: @color-corporate-blue-medium;
@color-header-menu-border-level-3-block: @color-corporate-blue-line-on-blue;

@width-header-menu-mobile: @screen-xs-max;
